
<% let hideEmpty = serverSettings.filament.hideEmpty %>
<% if(spools.length === 0) {%>
    <tr>
        <th style="display: none;"> </th>
        <th></th>
        <th scope="row"></th>
        <td></td>
        <td></td>
        <td><i class="fas fa-toilet-paper"></i> No spools found, please create some!</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
<% }else{ %>
<% spools.forEach(spool => { %>
    <%  const amountLeft = parseInt(spool.weight) - parseInt(spool.used); %>

    <%  let showSpool = true; %>

    <% if (hideEmpty && amountLeft < 1) { %>
        <% showSpool = false; %>
    <% } %>

    <% if(showSpool){ %>
    <tr>
        <th style="display: none;"> </th>
        <th><i class="fas fa-toilet-paper"></i></th>
        <th scope="row"><%=spool.name%></th>
        <td id="spoolsListMaterial-<%=spool._id%>">
        </td>
        <td id="spoolsListManufacture-<%=spool._id%>">
        </td>
        <td><%=(spool.weight / 1000)%>KG</td>
        <td><%=(spool.weight - spool.used).toFixed(0)%>g</td>
        <td><%= spool.tempOffset %></td>
        <td><%= spool.bedOffset || 0 %></td>
        <td id="spoolsListPrinterAssignment-<%=spool._id%>"></td>
    </tr>
    <% } %>

<%   }) %>
<% } %>
