<% sortedIndex.forEach(sorted => { %>  <% printers[sorted.actualIndex].state%> <%
if(printers[sorted.actualIndex].state != "Offline" && typeof printers[sorted.actualIndex].current != 'undefined'){ %>
<!-- Connected -->
  <a
    id="printer-<%= printers[sorted.actualIndex].index %>"
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start bg-secondary"
    style="display: block;
    padding: 0.7rem 0.1rem;"
  >
    <div class="row">
      <div
        class="col-lg-2"
        style="display:flex; justify-content:center; align-items:center;"
      >
        <center><i class="fas fa-print fa-2x"></i></center>
      </div>
      <div class="col-lg-10">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <%= printers[sorted.actualIndex].index %>.
            <span id="printerName-<%= printers[sorted.actualIndex].index %>"
              ><% if(typeof printers[sorted.actualIndex].settingsApperance != 'undefined'){ %> <%=
              printers[sorted.actualIndex].settingsApperance.name %> <% } %></span
            >
          </h5>
          <small>
            <span class="float-right badge badge-dark badge-pill">
              <% if(typeof printers[sorted.actualIndex].fileList != 'undefined' && typeof
              printers[sorted.actualIndex].fileList.fileCount != 'undefined'){ %> Files: <%=
              printers[sorted.actualIndex].fileList.fileCount %> / Folders: <%=
              printers[sorted.actualIndex].fileList.folderCount %> <% }else{ %> Files: 0 / Folders: 0
              <% } %>
            </span></small
          >
        </div>
        <div
          class="float-right btn-group flex-wrap btn-group-sm"
          role="group"
          aria-label="Basic example"
        >
          
          <% let selectedProfile = null %>
          <%if(typeof printers[sorted.actualIndex].current.printerProfile != 'undefined'){ %>
              <% selectedProfile = printers[sorted.actualIndex].current.printerProfile %>
          <% } %>

        </div>
        <div class="row">
          <div class="col-lg-2">
            <i class="fas fa-file-upload"></i
            ><span id="fileCounts-<%= printers[sorted.actualIndex].index %>"> 0 </span>
          </div>
          <div class="col-lg-10">
            <div class="progress">
              <div
                id="fileProgress-<%= printers[sorted.actualIndex].index %>"
                class="progress-bar progress-bar-striped bg-warning"
                role="progressbar"
                style="width: 0%"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100"
              >
                0%
              </div>
            </div>
          </div>
        </div>
        <% if(selectedProfile != null && typeof printers[sorted.actualIndex].profiles != 'undefined'){ %>
          <% console.log(selectedProfile) %>
          <small class="pt-2 float-left"
          ><i class="fas fa-cube"></i> <b>H:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].volume.height%>mm x <b>W:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].volume.width%>mm x <b>D:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].volume.depth%>mm</small
        >
        <small class="pt-2 float-left"
          ><i class="fas fa-pen"></i> <b>Extruders:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].extruder.count %>
          <b>Nozzle Size:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].extruder.nozzleDiameter %>mm</small
        >
          <% }else{ %>
            <small class="pt-2 float-left"><i class="fas fa-pen"></i> No Profile found matching your selected Profile</small>
            <small class="pt-2 float-left">This is either a bug, or your setup isn't accounted for... Please log an issue request on the git with a snapshot of your profile on Issue number #15.</small>
            <% } %>
        
      
      </div>
    </div>
  </a>

  <% } %> <% }) %>
</a>
