<% sortedIndex.forEach(sorted => { %> <%
if(printers[sorted.actualIndex].stateColour.category != "Offline" && typeof printers[sorted.actualIndex].current != 'undefined'){ %>
<!-- Connected -->

  <a
    data-jplist-item
    id="fileManagerPrinter-<%= printers[sorted.actualIndex]._id %>"
    href="#"
    class="list-group-item list-group-item-action flex-column align-items-start bg-secondary"
    style="display: block;
    padding: 0.7rem 0.1rem;"
  >
    <div class="row">
      <div
        class="col-lg-2"
        style="display:flex; justify-content:center; align-items:center;"
      >
        <center><i class="fas fa-print fa-2x"></i><br>
        <td><small><span title="<%= printers[sorted.actualIndex].stateDescription %>" id="printerBadge-<%= printers[sorted.actualIndex]._id %>" class="tag badge badge-<%= printers[sorted.actualIndex].stateColour.name %> badge-pill <%= printers[sorted.actualIndex].stateColour.category %>">
                <%= printers[sorted.actualIndex].state %></span></small></td></center>
      </div>
      <div class="col-lg-10">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">
            <span id="printerName-<%= printers[sorted.actualIndex]._id %>">
              <% if(typeof printers[sorted.actualIndex].settingsApperance !== 'undefined'){ %>
              <% if(printers[sorted.actualIndex].settingsApperance.name === "" || printers[sorted.actualIndex].settingsApperance.name === null){%>
                            <%= printers[sorted.actualIndex].printerURL %>
                <% }else{ %>

                  <%= printers[sorted.actualIndex].settingsApperance.name %>
                <% }%>
              <% }else{ %>
                      <%= printers[sorted.actualIndex].printerURL %>
              <%  } %></span>

          </h5>
          <small>
            <span class="float-right badge badge-dark badge-pill">
              <% if(typeof printers[sorted.actualIndex].fileList != 'undefined' && typeof
              printers[sorted.actualIndex].fileList.fileCount != 'undefined'){ %> Files: <%=
              printers[sorted.actualIndex].fileList.fileCount %> / Folders: <%=
              printers[sorted.actualIndex].fileList.folderCount %> <% }else{ %> Files: 0 / Folders: 0
              <% } %>
            </span></small
          >
        </div>

        <div
          class="float-right btn-group flex-wrap btn-group-sm"
          role="group"
          aria-label="Basic example"
        >
          
          <% let selectedProfile = null %>
          <%if(typeof printers[sorted.actualIndex].current.printerProfile != 'undefined'){ %>
              <% selectedProfile = printers[sorted.actualIndex].current.printerProfile %>
          <% } %>

        </div>
        <div class="row">
          <div class="col-lg-2">
            <i class="fas fa-file-upload"></i><span id="fileCounts-<%= printers[sorted.actualIndex]._id %>"> 0 </span>
          </div>
          <div class="col-lg-10">
            <div class="progress">
              <div id="fileProgress-<%= printers[sorted.actualIndex]._id %>" class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                0%
              </div>
            </div>
          </div>
        </div>
        <div class="input-group mb-1"> <div class="input-group-prepend"> <label class="input-group-text bg-secondary text-light" for="filamentDrop-<%=printers[sorted.actualIndex]._id%>">Filament:</label> </div> <select class="custom-select bg-secondary text-light" id="filamentDrop-<%=printers[sorted.actualIndex]._id%>"><option value="" selected></option></select></div>
        <% if(selectedProfile != null && typeof printers[sorted.actualIndex].profiles[selectedProfile] != 'undefined'){ %>
          <small class="pt-2 float-left"
          ><i class="fas fa-cube"></i> <b>H:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].volume.height%>mm x <b>W:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].volume.width%>mm x <b>D:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].volume.depth%>mm</small
        >
        <small class="pt-2 float-left"
          ><i class="fas fa-pen"></i> <b>Extruders:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].extruder.count %>
          <b>Nozzle Size:</b> <%=
          printers[sorted.actualIndex].profiles[selectedProfile].extruder.nozzleDiameter %>mm</small
        >
          <% } %>
        
      
      </div>
    </div>
  </a>

  <% } %> <% }) %>
</a>
