<% let base = '..' %>
<% let loading = base + '/octofarm-loading.ejs' %>

<div class="row">
    <div class="col-12 col-md-6 col-lg-3" id="si-internet-connection">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-powered-by">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-running-under">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-node-environment">
        <%- include(loading) -%>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3 text-center">
        <div id="si-cpu-usage-donut">
            <%- include(loading) -%>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 text-center">
        <div id="si-memory-usage-donut">
            <%- include(loading) -%>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 text-center">
        <div id="si-history-usage-graph">
            <%- include(loading) -%>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3" id="si-octofarm-uptime">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-client-version">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-server-version">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-timezone">
        <%- include(loading) -%>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3" id="si-system-uptime">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-4" id="si-operating-system">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-2" id="si-system-arch">
        <%- include(loading) -%>
    </div>
    <div class="col-12 col-md-6 col-lg-3" id="si-disk-usage">
        <%- include(loading) -%>
    </div>
</div>

<script src="/assets/dist/system-information.modal.min.js?<%= clientVersion %>"></script>
