<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>
  <div id="listView" class="row">

    <% if(clientSettings.views.currentOperations){%> <%-
    include('./partials/currentOperations.ejs') %> <% }%>
      <%- include('./partials/actionsBar.ejs') %>
    <div class="col-lg-12" id="printerArea">
    </div>
  </div>
  <script src="/assets/dist/combined-view.runner.<%= clientVersion %>.min.js?" type="module"></script>
  <script src="/assets/dist/bulk-action-commands.functions.<%= clientVersion %>.min.js?" type="module"></script>
<% }else{ %>
  <%- include('./addPrinters.ejs') %>
<% } %>


