<div class="hstack gap-3 mt-2">
    <b><h5><%= title %></h5></b>
    <% if(typeof infoText !== "undefined") { %>
        <button class="ms-auto btn btn-outline-info btn-sm btn-circle" type="button" data-bs-toggle="collapse" data-bs-target="#info-<%= infoID %>" aria-expanded="false" aria-controls="info-<%= infoID %>">
            <i class="fa-solid fa-info"></i>
        </button>
    <% } %>
</div>
<% if(typeof infoText !== "undefined") { %>
    <div class="collapse mt-2" id="info-<%= infoID %>">
        <div class="alert alert-info d-flex align-items-center" role="alert">
            <div>
                <i class="fa-solid fa-info me-2"></i> <%- infoText %>
            </div>
        </div>
    </div>
<% } %>

