
<form class="was-validated">
    <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" id="<%= checkboxID %>" required <%= (checkboxChecked) ? "checked" : "" %>>
        <label class="form-check-label"
               for="<%= checkboxID %>"><%= checkboxLabel %></label>
        <div class="valid-feedback"><%= checkboxOnLabel %></div>
        <div class="invalid-feedback"><%= checkboxOffLabel %></div>
    </div>
</form>
<% if(typeof requiresRestart !== "undefined" && requiresRestart) { %>
    <code class="mt-0">Requires a restart</code>
<% } %>

