<div class="vstack gap-3">
    <div class="input-group">
        <label class="input-group-text" for="<%= selectID %>"><%= selectLabel %></label>
        <select class="form-select" id="<%= selectID %>">
            <% selectOptions.forEach(option => { %>
                <option value="<%= option.value %>"><%= option.display %></option>
            <% }) %>
        </select>
    </div>
    <% if(typeof requiresRestart !== "undefined" && requiresRestart) { %>
        <code class="mt-0">Requires a restart</code>
    <% } %>
</div>

<script>
    (function() {
        const select = document.getElementById("<%= selectID %>")
        const value = "<%= selectValue %>"
        select.value = value;
    })();

</script>
