<div class="card text-light bg-dark h-100 m-3">
    <div class="card-body">
        <h5 class="card-title mb-3">
            <i class="fas <%= tile.i %>"></i> <%= tile.title %>
        </h5>

        <% if(typeof status !== "undefined") { %>
            <button
                    type="button"
                    class="btn btn-secondary float-right"
                    href="#"
                    aria-expanded="false"
                    disabled
            >
                <i class="fas <%= status.icon %>"></i> <%= status.title %> <span id="<%= status.id %>"><i class="fas fa-spinner fa-spin"></i></span>
            </button>
        <% } %>
        <% if (!bodyFile) { %>
            <em> This widget failed to render due to missing 'tile.bodyId' or 'bodyFile' alternative </em>
        <% } else { %>
            <%# More complex card-body content %>
            <%- include(bodyFile) %>
        <% } %>
    </div>
</div>

