
<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input" id="<%= checkboxID %>" required <%= (checkboxChecked) ? "checked" : "" %>>
    <label class="custom-control-label"
           for="<%= checkboxID %>"><%= checkboxLabel %></label>
    <div class="valid-feedback"><%= checkboxOnLable %></div>
    <div class="invalid-feedback"><%= checkboxOffLabel %></div>
</div>
<% if(typeof requiresRestart !== "undefined" && requiresRestart) { %>
    <code class="mt-0">Requires a restart</code>
<% } %>

