<% let base = '..' %>
<% let infoAlert = base + '/octofarm-title-info.ejs' %>
<% let textInput = base + '/octofarm-text-input.ejs' %>
<% let checkbox = base + '/octofarm-checkbox.ejs' %>
<% let selectBox = base + '/octofarm-select.ejs' %>
<% let checkBox = base + '/octofarm-checkbox.ejs' %>
<% let alert = base + '/octofarm-alert.ejs' %>

<div class="row mb-3">
    <div class="col-12">
        <%- include(alert, {
        alertType: "secondary",
        alertMessage: "Settings relating to the OctoFarm server's system. These changes are applied to the server and generally require a restart of the OctoFarm server to action."
        })
        %>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <%- include(infoAlert, {
        title: "Database Connection",
        infoID: "infoDatabaseConnection",
        infoText: "The connection string OctoFarm uses to establish a connection with it's database"
        })
        %>
        <%- include(textInput, {
        inputID: "serverDatabaseURI",
        inputType: "text",
        inputTag: "Mongo URI",
        inputPlaceholder: "mongodb://127.0.0.1:27017/octofarm",
        inputValue: "mongodb://127.0.0.1:27017/octofarm",
        requiresRestart: true
        })
        %>
        <hr>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <%- include(infoAlert, {
                title: "Server Port Number",
                infoID: "infoPortNumber",
                infoText: "The port number the OctoFarm server will accept connections on"
            })
        %>
        <%- include(textInput, {
                inputID: "serverDatabaseURI",
                inputType: "number",
                inputTag: "Port",
                inputStep: 1,
                inputPlaceholder: "4000",
                inputValue: "4000",
                requiresRestart: true
            })
        %>
        <hr>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <%- include(infoAlert, {
        title: "Log Level",
        infoID: "infoLogLevel",
        infoText: "The log level OctoFarm will use when generating logs <br>"
        + "<b>Info:</b> General logging level showing information, warnings and errors<br>"
        + "<b>Debug:</b>  Additional logging level showing debug information. May contain sensitive information<br>"
        + "<b>Silly:</b>  Should not be required, but will log just about every interaction OctoFarm makes<br>"
        })
        %>
        <%- include(selectBox, {
        selectID: "logLevelSelect",
        selectLabel: "Level",
        selectOptions: [ { display: "Info", value: "info" }, { display: "Debug", value: "debug" }, { display: "Silly", value: "silly" }],
        selectValue: "info",
        requiresRestart: true
        })
        %>
        <hr>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-4">
        <%- include(infoAlert, {
        title: "Activate Login",
        infoID: "infoLogin",
        infoText: "Activate required login to access the OctoFarm server"
        })
        %>
        <%- include(checkBox, {
        checkboxID: "requireLogin",
        checkboxChecked: serverSettings.server.loginRequired,
        checkboxLabel: "Require a login",
        checkboxOnLabel: "Login turned on",
        checkboxOffLabel: "Login turned off",
        requiresRestart: true
        })
        %>
        <hr>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <%- include(infoAlert, {
        title: "Activate Registration",
        infoID: "infodRegistration",
        infoText: "Activate registration so users can create their own account"
        })
        %>
        <%- include(checkBox, {
        checkboxID: "requireRegistration",
        checkboxChecked: serverSettings.server.registration,
        checkboxLabel: "Allow Registration",
        checkboxOnLabel: "Registration is turned on",
        checkboxOffLabel: "Registration is turned off",
        requiresRestart: true
        })
        %>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="button">Save System Changes</button>
        </div>
    </div>
</div>
