<% let base = '..' %>
<% let infoAlert = base + '/octofarm-title-info.ejs' %>
<% let alert = base + '/octofarm-alert.ejs' %>
<% let textInput = base + '/octofarm-text-input.ejs' %>
<% let hideDark = "" %>
<% let hideLight = "d-none" %>
<% if(serverSettings.clientTheme.mode !== "dark"){ %>
<%  hideDark = "d-none" %>
<%  hideLight = "" %>
<% } %>

<div class="row">
    <div class="col-12">
        <%- include(alert, {
        alertType: "secondary",
        alertMessage: "Settings relating to the OctoFarm client theme. These changes are applied to all users utilising the client."
        })
        %>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <%- include(infoAlert, {
                title: "Application Title",
                infoID: "infoApplicationTitle",
                infoText: "Replace 'OctoFarm' across the interface with your own custom application name"
                })
                %>
                <%- include(textInput, {
                inputID: "serverApplicationTitle",
                inputType: "text",
                inputTag: "Title",
                inputPlaceholder: octoFarmPageTitle,
                inputValue: octoFarmPageTitle,
                requiresRestart: true,
                maxLength: 30
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <%- include(infoAlert, {
                title: "Light or Dark Mode",
                infoID: "infoLightOrDarkMode",
                infoText: "Set OctoFarms theme to a dark or light mode."
                })
                %>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="themeDarkMode">
                    <label class="form-check-label" for="themeDarkMode">
                        Dark Mode
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="themeLightMode">
                    <label class="form-check-label" for="themeLightMode">
                        Light Mode
                    </label>
                </div>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6">
                <%- include(infoAlert, {
                title: "Main Colour",
                infoID: "infoMainColour",
                infoText: "Replace the main colour used across the interface"
                })
                %>
                <input style="width:100%;"  type="color" class="form-control form-control-color" id="mainApplicationColour" value="<%= serverSettings.clientTheme.octofarmMainColour %>" title="Choose your color">
                <hr>
                <%- include(infoAlert, {
                title: "Main Accent Colour",
                infoID: "infoMainAccentColour",
                infoText: "Replace the main accent colour used across the interface"
                })
                %>
                <input style="width:100%;"  type="color" class="form-control form-control-color" id="mainApplicationAccentColour" value="<%= serverSettings.clientTheme.octofarmHighlightColour %>" title="Choose your color">
                <hr>
            </div>
            <div id="darkNavSelector" class="col-12 col-md-12 col-lg-6 <%= hideDark %>">
                <%- include(infoAlert, {
                title: "Dark Navbar Colour",
                infoID: "infoSidebarColourDark",
                infoText: "Replace the sidebar colour on the interface"
                })
                %>
                <input style="width:100%;" type="color" class="form-control form-control-color" id="sidebarColourDark" value="<%= serverSettings.clientTheme.navbarColourDark %>" title="Choose your color">
                <hr>
                <%- include(infoAlert, {
                title: "Dark Sidebar Colour",
                infoID: "replace the navbar colour on the interface",
                infoText: "Replace the main accent colour used across the interface"
                })
                %>
                <input style="width:100%;"  type="color" class="form-control form-control-color" id="navbarColourDark" value="<%= serverSettings.clientTheme.sidebarColourDark %>" title="Choose your color">
                <hr>
            </div>
            <div id="lightNavSelector" class="col-12 col-md-12 col-lg-6 <%= hideLight %>">
                <%- include(infoAlert, {
                title: "Light Navbar Colour",
                infoID: "infoSidebarColourLight",
                infoText: "Replace the sidebar colour on the interface"
                })
                %>
                <input style="width:100%;" type="color" class="form-control form-control-color" id="sidebarColourLight" value="<%= serverSettings.clientTheme.navbarColourLight %>" title="Choose your color">
                <hr>
                <%- include(infoAlert, {
                title: "Light Sidebar Colour",
                infoID: "replace the navbar colour on the interface",
                infoText: "Replace the main accent colour used across the interface"
                })
                %>
                <input style="width:100%;"  type="color" class="form-control form-control-color" id="navbarColourLight" value="<%= serverSettings.clientTheme.navbarColourDark %>" title="Choose your color">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-grid gap-2">
                    <button class="btn btn-outline-success" type="button" id="save-theme-changes">Save Theme Changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <%- include(infoAlert, {
        title: "Background",
        infoID: "infoBackground",
        infoText: "Click the button below to upload your background image. <br><small>You may need to refresh your browser cache if this doesn't apply straight away.</small>"
        })
        %>
        <form action="/settings/backgroundUpload"
              enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-8 col-lg-10 mt-2">
                    <input class="form-control" type="file"
                           name="myFile"
                           accept="image/jpeg,image/png,image/jpg"/>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <input  class="btn btn-outline-success mt-2"
                            type="submit" value="Upload"
                            accept="image/jpeg,image/png,image/jpg">
                </div>
            </div>
        </form>
        <p> Supports <code>PNG, JPG, JPEG</code></p>
        <hr>
        <h6>Current</h6>
        <div class="ratio ratio-16x9">
          <img class="p-3" width="100%" src="/images/bg.jpg">
        </div>
    </div>
</div>
<script>
    const darkNavSelector = document.getElementById("darkNavSelector");
    const lightNavSelector = document.getElementById("lightNavSelector");
    const toggleNavSelector = () => {
        darkNavSelector.classList.toggle("d-none");
        lightNavSelector.classList.toggle("d-none");
    }

    const darkModeCheck = document.getElementById("themeDarkMode");
    const lightModeCheck = document.getElementById("themeLightMode");

    const currentMode = "<%= serverSettings.clientTheme.mode %>"

    if(currentMode === "dark"){
        darkModeCheck.checked = true;
        lightModeCheck.checked = false;
    }else{
        darkModeCheck.checked = false;
        lightModeCheck.checked = true;
    }

    darkModeCheck.onclick = function(e){
        toggleNavSelector();
    }
    lightModeCheck.onclick = function(e){
        toggleNavSelector();
    }
</script>
