<% let base = '..' %>
<% let infoAlert = base + '/octofarm-title-info.ejs' %>
<% let alert = base + '/octofarm-alert.ejs' %>
<% let textInput = base + '/octofarm-text-input.ejs' %>

<div class="row">
    <div class="col-12">
        <%- include(alert, {
        alertType: "secondary",
        alertMessage: "Settings relating to the OctoFarm client theme. These changes are applied to all users utilising the client."
        })
        %>
    </div>
    <div class="col-12 col-md-4 col-lg-3">
        <%- include(infoAlert, {
        title: "Application Title",
        infoID: "infoApplicationTitle",
        infoText: "Replace 'OctoFarm' across the interface with your own custom application name"
        })
        %>
        <%- include(textInput, {
        inputID: "serverApplicationTitle",
        inputType: "text",
        inputTag: "Title",
        inputPlaceholder: octoFarmPageTitle,
        inputValue: octoFarmPageTitle,
        requiresRestart: true
        })
        %>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <%- include(infoAlert, {
        title: "Background",
        infoID: "infoBackground",
        infoText: "Click the button below to upload your background image. <br><small>You may need to refresh your browser cache if this doesn't apply straight away.</small>"
        })
        %>
        <form action="/settings/backgroundUpload"
              enctype="multipart/form-data" method="POST">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-8 col-lg-10 mt-2">
                    <input class="form-control" type="file"
                           name="myFile"
                           accept="image/jpeg,image/png,image/jpg"/>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                    <input  class="btn btn-outline-success mt-2"
                            type="submit" value="Upload"
                            accept="image/jpeg,image/png,image/jpg">
                </div>
            </div>
        </form>
        <p> Supports <code>PNG, JPG, JPEG</code></p>
        <h6>Current</h6>
        <div class="ratio ratio-16x9">
          <img class="p-3" width="100%" src="/images/bg.jpg">
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6 d-none">
        <%- include(infoAlert, {
        title: "Colours",
        infoID: "infoColours",
        infoText: "Set the OctoFarm theme colours to your liking"
        })
        %>
    </div>
</div>
