<% let base = '..' %>
<% let alert = base + '/octofarm-alert.ejs' %>
<% let singleStat = base + '/octofarm-single-stat.ejs' %>
<% let infoAlert = base + '/octofarm-title-info.ejs' %>

<% const instructionsURL = "https://docs.octofarm.net/installation/setup-service.html" %>
<% const updateURL = "https://docs.octofarm.net/getting-started/octofarm-updating.html" %>
<% const installationURL = "https://docs.octofarm.net/installation/" %>
<% const releasesURL = "https://github.com/OctoFarm/OctoFarm/releases/tag/" %>
<% const npmURL = "https://www.npmjs.com/package/@notexpectedyet/octofarm-client" %>

<div class="row">
    <div class="col-12">
        <%- include(alert, {
        alertType: "secondary",
        alertMessage: "Check version information and update your OctoFarm instance to the latest version"
        })
        %>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <div class="d-grid gap-2 mb-1">
            <button title="Performs a check for latest updates of OctoFarm"
                    id="check-updates" type="button"
                    class="btn btn-outline-info float-right btn-lg">
                <i class="fa-solid fa-arrows-rotate"></i> Check for Update
            </button>
            <button title="Performs an update command on OctoFarm to the latest version"
                    id="update-octofarm" type="button"
                    class="btn btn-outline-success float-right btn-lg"
                    disabled>
                <i class="fa-solid fa-download"></i> Update OctoFarm
            </button>
        </div>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <%- include(singleStat, {
        statType: "info",
        statSpacing: "1",
        statIcon: "fas fa-code-branch fa-xl",
        statTitle: "Current Server Version",
        statLink: {
            url: releasesURL + serverVersion,
            title: serverVersion
        }
        })
        %>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <%- include(singleStat, {
        statType: "info",
        statSpacing: "1",
        statIcon: "fas fa-code-branch fa-xl",
        statTitle: "Current Client Version",
        statLink: {
        url: releasesURL + clientVersion,
        title: clientVersion
        }
        })
        %>
    </div>
    <div class="col-12 col-md-4 col-lg-2">
        <% if(!serviceInformation?.update?.latestReleaseKnown){ %>
            <%- include(singleStat, {
            statType: "info",
            statSpacing: "1",
            statIcon: "fas fa-code-branch fa-xl",
            statTitle: "Latest Server Version",
            statLink: {
            url: releasesURL + serviceInformation?.update?.current_version,
            title: serviceInformation?.update?.current_version
            }
            })
            %>
        <% }else{ %>
                <%- include(singleStat, {
                statType: "info",
                statSpacing: "1",
                statIcon: "fas fa-code-branch fa-xl",
                statTitle: "Latest Server Version",
                statLink: {
                url: serviceInformation?.update?.latestReleaseKnown.html_url,
                title: serviceInformation?.update?.latestReleaseKnown.name
                }
                })
                %>
        <% } %>
    </div>
</div>
<div class="row">
    <% if(futureReleaseNotes.length > 0){ %>
        <div class="col-12 col-md-12 col-lg-12">
            <h3> Latest Version Release Notes </h3><hr><br>
            <% futureReleaseNotes.forEach(release => { %>
                <%- helpers.replaceGithubIcons(release.body) %>
                <hr>
            <% }) %>
        </div>
    <% } %>
    <div class="col-12 col-md-12 col-lg-6">
        <% if(Object.keys(latestReleaseNotes.server).length !== 0){ %>
            <h3> Current Server Release Notes </h3><hr><br>
            <%- helpers.replaceGithubIcons(latestReleaseNotes.server.body) %>
        <% } %>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <% if(Object.keys(latestReleaseNotes.client).length !== 0){ %>
            <h3> Current Client Release Notes </h3><hr><br>
            <%- helpers.replaceGithubIcons(latestReleaseNotes.client.body) %>
        <% } %>
    </div>
</div>
<script>

</script>
