<div class="modal fade" id="<%= modal.id %>Modal" tabindex="-1" role="dialog"
     aria-labelledby="<%= modal.id %>ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header px-3 pt-3 pb-2" id="<%= modal.id %>Title">
                <span id="<%= modal.id %>Index" value="" style="display: none;"></span>
                <%= modal.title %>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" id="<%= modal.id %>">
                        <% if (!bodyFile) { %>
                            <em> This widget failed to render due to missing 'tile.bodyId' or 'bodyFile' alternative </em>
                        <% } else { %>
                            <%# More complex card-body content %>
                            <%- include(bodyFile) %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
