<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Menu</h5>
        <hr>
        <ul class="list-group list-group-flush" id="systemMenu-tab">
            <% list.listItems.forEach((item, index) => {  %>
                <% if(item.permissionGroup === "" || item.permissionGroup === userGroup){ %>
                    <a
                            id="<%= item.id %>-list"
                            data-bs-toggle="list"
                            class="list-group-item list-group-item-action <%= index === 0 ? "active" : "" %>"
                            href="#<%= item.id %>"
                            role="tab">
                        <i class="<%= item.icon %>"></i> <%= item.name %>
                        <% if(item.notification) { %>
                            <span class="badge text-bg-warnig d-none" id="<%= item.notification %>">4</span>
                        <% } %>

                    </a>
                <% } %>
            <% }) %>
        </ul>
    </div>
</div>