<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>

<div class="sidenav text-white bg-dark mt-5 pt-2">
  <div class="row pl-2">
    <div class="col-md-12 pr-0">
      <button
              type="button"
              class="btn btn-secondary float-left d-block"
              href="#"
              aria-expanded="false"
              disabled
      >
        <i class="fas fa-print"></i> Printers
      </button>
      <button
              type="button"
              class="btn btn-secondary float-right d-block"
              href="#"
              aria-expanded="false"
              disabled
      >
        <%= printerCount %>
      </button>

      <button
              id="searchOfflineBtn"
              type="button"
              class="btn btn-success float-right d-block mr-1"
              href="#"
              aria-expanded="false"
      >
        <i class="fas fa-redo"></i>
      </button>
    </div>

  </div>
    <div class="row pl-2">
        <div class="cell col-md-12 pr-0">
      <button data-toggle="modal" data-target="#connectionModal" id="connectAllBtn" type="button" class="btn btn-success btn-sm float-left"><i class="fas fa-link"></i> Connect All</button>
      <button data-toggle="modal" data-target="#connectionModal" id="disconnectAllBtn" type="button" class="btn btn-danger btn-sm float-right"><i class="fas fa-unlink"></i> Disconnect All</button>
        </div>
    </div>

      <div class="pl-2" id="printerList">  <%- include('./partials/Printers/dashboardList.ejs') %></div>






</div>

<!-- Page content -->
<div class="main">
  <div class="row">
    <%- include('./partials/currentOperations.ejs') %>
  </div>
  <div class="row">
    <div
            id="dashboardInfo"
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4"
    >
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader">
          <h5 class="float-left">
            <button
                    type="button"
                    class="btn btn-secondary float-right d-block ml-1 mr-1"
                    href="#"
                    aria-expanded="false"
                    disabled
            >
              <i class="fas fa-info-circle"></i> System Information
            </button>
          </h5>


        </div>
        <div class="card-body pt-2 pb-0">
          <%- include('./partials/Printers/dashboardSI.ejs') %>
        </div>
        <div class="card-footer dashFooter text-muted"></div>
      </div>
    </div>
    <div
            id="dashboardInfo"
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8"
    >
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader">
          <h5 class="float-left">
            <button
                    type="button"
                    class="btn btn-secondary float-right d-block ml-1 mr-1"
                    href="#"
                    aria-expanded="false"
                    disabled
            >
              <i class="fas fa-info-circle"></i> Farm Information
            </button>
          </h5>


        </div>
        <div class="card-body pt-2 pb-0">
          <%- include('./partials/Printers/dashboardFI.ejs') %>
        </div>
        <div class="card-footer dashFooter text-muted"></div>
      </div>
    </div>
    <div
            id="dashboardInfo"
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
    >
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader">
          <h5 class="float-left">
            <button
                    type="button"
                    class="btn btn-secondary float-right d-block ml-1 mr-1"
                    href="#"
                    aria-expanded="false"
                    disabled
            >
              <i class="fas fa-poll"></i> Farm Statistics
            </button>
          </h5>


        </div>
        <div class="card-body pt-2 pb-0">
          <%- include('./partials/Printers/dashboardFS.ejs') %>
        </div>
        <div class="card-footer dashFooter text-muted"></div>
      </div>
    </div>
    <div
            id="dashboardInfo"
            class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
    >
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader">
          <h5 class="float-left">
            <button
                    type="button"
                    class="btn btn-secondary float-right d-block ml-1 mr-1"
                    href="#"
                    aria-expanded="false"
                    disabled
            >
              <i class="fas fa-poll"></i> Print Statistics
            </button>
          </h5>


        </div>
        <div class="card-body pt-2 pb-0">
          <%- include('./partials/Printers/dashboardPS.ejs') %>
        </div>
        <div class="card-footer dashFooter text-muted"></div>
      </div>
    </div>
  </div>
</div>
</div>
<% }else{ %>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Welcome to OctoFarm</h1>
        <p>
          The all in one monitoring solution for multiple Octoprint instances.
        </p>
        <h1><img width="50%" src="images/logo.png" /></h1>
        <p>
          Thank you for creating an account <% if(typeof name != 'undefined'){ %>
            <%= name %> <% }%>. To get started though, we need some printers in your
          farm!
        </p>
        <a
                href="#"
                class="btn btn-primary btn-block mb-2"
                href="#"
                data-toggle="modal"
                data-target="#printerSetupModal"
        >Setup Printers</a
        >
      </div>
    </div>
  </div>
<% } %>
<script src="/js/dashboardRunner.js" type="module"></script>
