<% let base = './partials/Dashboard' %>
<% let itemPath = base + '/grid-stack-item.template.ejs' %>

<% if(typeof printerCount != 'undefined' && printerCount > 0 ) { %>

    <div class="row">
        <div class="col-12">
            <%- include('./partials/currentOperations.ejs') %>
        </div>
    </div>

    <div class="grid-stack">
        <% if(dashboardSettings?.farmUtilisation.currentUtilisation){ %>
            <%- include(itemPath, {
            tile:{
            w:2,h:5,mw:2,mh:5,id:"currentUtil",bodyId:"currentUtilisation",title:"Current Utilisation",i:"fa-star", c:"pt-2 text-center"
            }
            })
            %>
        <% } %>

        <% if(dashboardSettings?.printerStates.currentStatus){ %>
            <%- include(itemPath, {
            tile:{
            w:3,h:5,mw:2,mh:5,id:"currentStat",bodyId:"currentStatusChart",title:"Current Status",i:"fa-circle", c:"pt-0 text-center"
            }
            })
            %>
        <% } %>

        <% if(dashboardSettings?.farmUtilisation.farmUtilisation){ %>
            <%- include(itemPath, {
            tile:{
            w:3,h:5,mw:3,mh:5,id:"farmUtilisation",title:"Farm Utilisation",i:"fa-star-half-alt", c:"text-center"
            },
            bodyFile:'./farm-utilisation.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.farmActivity.averageTimes){ %>
            <%- include(itemPath, {
            tile:{
            w:2,h:5,mw:2,mh:5,id:"averageTimes",title:"Average Times",i:"fa-stopwatch", c:"text-center"
            },
            bodyFile:'./dashboardEstimated.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.farmActivity.cumulativeTimes){ %>
            <%- include(itemPath, {
            tile:{
            w:2,h:5,mw:2,mh:5,id:"cumulativeTimes",title:"Cumulative Times",i:"fa-stopwatch", c:"text-center"
            },
            bodyFile:'./dashboardCumulative.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.printerStates.printerState){ %>
            <%- include(itemPath, {
            tile:{
            w:3,h:5,mw:1,mh:1,id:"printerStatus",title:"Printer Status",i:"fa-tint", c:"p-0 text-center"
            },
            bodyFile:'./printer-state.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.printerStates.printerProgress){ %>
            <%- include(itemPath, {
            tile:{
            w:3,h:5,mw:1,mh:1,id:"printerProgress",title:"Printer Progress",i:"fa-spinner", c:"p-0 text-center"
            },
            bodyFile:'./printer-progress.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.printerStates.printerTemps){ %>
            <%- include(itemPath, {
            tile:{
            w:3,h:5,mw:1,mh:1,id:"printerTemps",title:"Printer Temps",i:"fa-thermometer-three-quarters", c:"p-0 text-center"
            },
            bodyFile:'./printer-temps.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.printerStates.printerUtilisation){ %>
            <%- include(itemPath, {
            tile:{
            w:3,h:5,mw:1,mh:1,id:"printerUtilisation",title:"Printer Utilisation",i:"fa-star-half-alt", c:"p-0 text-center"
            },
            bodyFile:'./printer-utilisation.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.historical.weeklyUtilisation){ %>
            <%- include(itemPath, {
            tile:{
            w:6,h:6,mw:6,mh:6,maxh:10,id:"weeklyUtil",bodyId:"weeklyUtilisationPerDayHeatMap",title:"Weekly Utilisation",i:"fa-info-circle", c:"p-0"
            }
            })
            %>
        <% } %>

        <% if(dashboardSettings?.historical.hourlyTotalTemperatures){ %>
            <%- include(itemPath, {
            tile:{
            w:6,h:6,mw:3,mh:6,maxh:10,id:"hourlyTemper",bodyId:"hourlyTotalTemperatureChart",title:"Hourly Total Temperature",i:"fa-thermometer-three-quarters", c:"p-0"
            },
            titleFile:'./hourly-total-temperature.title.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.historical.environmentalHistory){ %>
            <%- include(itemPath, {
            tile:{
            w:12,h:6,mw:3,mh:6,maxh:10,id:"enviroData",bodyId:"environmentalHistory",title:"Environmental History",i:"fa-tree", c:"pt-2 text-center"
            },
            titleFile:'./environment-alert.title.ejs'
            })
            %>
        <% } %>

        <% if(dashboardSettings?.historical.filamentUsageOverTime){ %>
            <%- include(itemPath, {
            tile:{
            w:12,h:7,mw:3,mh:7,maxh:10,id:"filamentUsageOverTime",bodyId:"filamentUsageOverTimeChart",title:"Filament Usage Over Time",i:"fa-star-half-alt", c:"pt-2 text-center"
            }
            })
            %>
        <% } %>

        <% if(dashboardSettings?.historical.filamentUsageByDay){ %>
            <%- include(itemPath, {
            tile:{
            w:12,h:7,mw:3,mh:7,maxh:10,id:"filamentUsageByDay",bodyId:"filamentUsageByDayChart",title:"Filament Usage By Day",i:"fa-star-half-alt",c:"pt-2 text-center"
            }
            })
            %>
        <% } %>

        <% if(dashboardSettings?.historical.historyCompletionByDay){ %>
            <%- include(itemPath, {
            tile:{
            w:12,h:7,mw:3,mh:7,maxh:10,id:"historyCompletionByDay",bodyId:"printCompletionByDay",title:"Print Completion By Day",i:"fa-star-half-alt",c:"pt-2 text-center"
            }
            })
            %>
        <% } %>
    </div>

    <link rel="stylesheet" href="/assets/dist/dashboard.runner.css"/>
    <script src="/assets/dist/dashboard.runner.min.js" type="module"></script>
<% }else{ %>
    <%- include('./addPrinters.ejs') %>
<% } %>
