
  <!--Current Operations-->
  <div class="row">
    <div  class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-9">
      <%- include('./partials/currentOperations.ejs') %>
    </div>
    <div id="systemInformation" class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-3">
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader p-0 pt-1"">
        <button
                type="button"
                class="btn btn-secondary float-left d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-info-circle"></i> System Information
        </button>
        <button
                type="button"
                class="btn btn-secondary float-right d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-hourglass"></i> Uptime: <span id="systemUpdate" style="font-size:0.8rem;"><%- helpers.generateTime(systemInfo.sysUptime.uptime)%></span>
        </button>


      </div>
      <div class="card-body p-0" style="min-height:138px">
        <%- include('./partials/Printers/dashboardSI.ejs') %>
      </div>
    </div>
  </div>
  </div>

  <!--System/Farm Overview-->
  <div class="row">
    <div id="dashboardInfo" class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader p-0 pt-1">
          <button
                  type="button"
                  class="btn btn-secondary d-block ml-1 mr-1 p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            <i class="fas fa-info-circle"></i> Farm Status
          </button>


        </div>
        <div class="card-body pt-2 pb-0 text-center" style="min-height:350px;max-height:350px">
     <%- include('./partials/Printers/dashboardTimeStats.ejs') %>

        </div>
      </div>
    </div>
    <div id="dashboardInfo" class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 ">
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader p-0 pt-1">
            <button
                    type="button"
                    class="btn btn-secondary d-block ml-1 mr-1 p-1"
                    href="#"
                    aria-expanded="false"
                    disabled
            >
              <i class="fas fa-info-circle"></i> Farm Status
            </button>


        </div>
        <div class="card-body pt-2 pb-0" style="min-height:350px;max-height:350px">
          <%- include('./partials/Printers/dashboardHeatMap.ejs') %>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader p-0 pt-1">
        <button
                type="button"
                class="btn btn-secondary float-left d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-thermometer-three-quarters"></i> Temperature Statistics
        </button>
        <button
                type="button"
                class="btn btn-secondary float-right d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <span id="globalTemp"> <i class="fas fa-temperature-high"></i> Total Temperature: <%= farmInfo.totalActualTemperature %> °C </span>
        </button>


      </div>
      <div class="card-body p-0" style="min-height:350px;max-height:350px">
        <div id="farmTempMap"></div>
      </div>
    </div>
  </div>
  </div>
  <!--Printer Management-->
  <div class="row">
    <div id="printerManager" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card text-white bg-dark">
        <div class="card-header dashHeader p-0 pt-1 mb-0">
          <button
                  type="button"
                  class="btn btn-secondary"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            <i  class="fas fa-print"></i> Printer Management: <%= printerCount %>
          </button>
          <% if(typeof userGroup != "undefined" && userGroup === "Administrator"){ %>
            <button
                    id="addPrinterBtn"
                    type="button"
                    class="btn btn-success ml-1 p-1"
                    href="#"
                    aria-expanded="false"
            >
              <i class="fas fa-plus fa-sm"></i> Add Printer
            </button>
            <button
                    id="editPrinterBtn"
                    type="button"
                    class="btn btn-warning ml-1 p-1"
                    href="#"
                    aria-expanded="false"
            >
              <i class="fas fa-edit"></i> Edit Printers
            </button>
            <button
                    id="saveEditsBtn"
                    type="button"
                    class="btn btn-success ml-1 p-1 d-none"
                    href="#"
                    aria-expanded="false"
            >
              <i class="fas fa-save"></i> Save Edits
            </button>
            <form id="uploadFileModalContentForm" class="text-center">
              <input
                      class="fileElem"
                      type="file"
                      id="importPrinterBtn"
                      accept=".json"
              /><label
                      class="btn btn-primary ml-1 mb-0 p-1"
                      for="importPrinterBtn"
              ><i class="fas fa-file-import"></i> Import Printers</label
              >
            </form>
            <button
                    id="exportPrinterBtn"
                    type="button"
                    class="btn btn-info ml-1 p-1"
                    href="#"
                    aria-expanded="false"
            >
              <i class="fas fa-file-export"></i> Export Printers
            </button>
            <button
                    id="savePrinterBtn"
                    type="button"
                    class="btn btn-primary ml-1 p-1 d-none"
                    href="#"
                    aria-expanded="false"
            >
              <i class="fas fa-save"></i> Save
            </button>


          <% }%>
          <button
                  id="searchOfflineBtn"
                  type="button"
                  class="btn btn-success ml-1 mb-1 mr-1 p-1 float-right"
                  href="#"
                  aria-expanded="false"
          >



            <i class="fas fa-redo fa-sm"></i> Re-Sync
          </button>
          <button id="disconnectAllBtn" type="button" class="btn btn-danger p-1 float- d-none"><i class="fas fa-unlink"></i> Disconnect</button>
          <button id="connectAllBtn" type="button" class="btn btn-success mr-1 p-1 float-right d-none"><i class="fas fa-link"></i> Connect</button>
          <button
                  type="button"
                  class="btn btn-secondary float-right"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            <i  class="fas fa-print"></i> Selected:%>
          </button>
      </div>
        <div class="pt-0 pb-0 tableFixHead">
          <table id="printerTable" class="table table-sm table-dark table-striped table-responsive-sm table-responsive-md text-center">
            <thead >
            <tr>
              <th scope="col">Select</th>
              <th scope="table-dark text-wrap">Name</th>
              <th scope="col" style="min-width:300px;">Actions</th>
              <th scope="col"style="width:50px;">Host State</th>
              <th scope="col">Printer State</th>
              <th scope="col" width="10px">WebSocket</th>
              <th scope="col">Group</th>
              <th scope="col" width="190px">Printer URL</th>
              <th scope="col">Camera URL</th>
              <th scope="col">API KEY</th>
              <th scope="col" width="190px">OctoPrint Version</th>
            </tr>
            </thead>
            <tbody id="printerList" style="height:100%; overflow-y:auto;">
            <%- include('./partials/Printers/dashboardList.ejs') %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>


</div>
</div>

<script src="/js/dashboardRunner.js" type="module"></script>
<script src="/js/vendor/apexcharts.min.js"></script>

