<% if(typeof history.length != 'undefined' && history.length > 0 ) {%>
  <% let historyTotals = helpers.historyTotals(history); %>

<div class="row">
  <div id="dashboardInfo" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
    <div class="card text-white bg-dark h-100">
      <div class="card-header dashHeader p-0">
        <button
                type="button"
                class="btn btn-secondary d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-chart-bar"></i> History Statistics
        </button>


      </div>
      <div class="card-body pt-2 pb-0 text-center">
        <%- include('./partials/History/historyStatistics.ejs') %>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card text-white bg-dark  h-100">
      <div class="card-header dashHeader p-0">
        <button
                type="button"
                class="btn btn-secondary d-block ml-1 mr-1 p-1 float-left"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-star-half-alt"></i> Print Completion By Day
        </button>



      </div>
      <div class="card-body pb-0 text-center">
        <div id="printCompletionByDay"></div>
      </div>
    </div>
  </div>
  <div id="dashboardInfo" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-2">
    <div class="card text-white bg-dark h-100">
      <div class="card-header dashHeader p-0">
        <button
                type="button"
                class="btn btn-secondary d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-chart-bar"></i> History Filters
        </button>


      </div>
      <div class="card-body pt-2 pb-0 text-center">
        <div class="row d-none" id="historyToolbar">
          <div class="col-12">
            <nav
                    id="listenerHistory"
                    data-jplist-control="pagination"
                    data-group="history"
                    data-items-per-page="25"
                    data-current-page="0"
                    data-disabled-class="disabled"
                    data-selected-class="active"
                    data-name="pagination"
                    data-id="history-pagination">

              <!-- first and previous buttons -->
              <div class="btn-group pagination d-inline-flex" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" data-type="first">First</button>
                <button type="button" class="btn btn-secondary" data-type="prev">Previous</button>
              </div>


              <div class="btn-group pagination d-inline-flex" data-type="pages">
                <button type="button" class="btn btn-secondary" data-type="page">{pageNumber}</button>

              </div>

              <div class="btn-group pagination d-inline-flex" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary" data-type="next">Next</button>
                <button type="button" class="btn btn-secondary" data-type="lase">Last</button>
              </div>

              <!-- items per page dropdown -->
              <div class="input-group mb-3 d-inline-flex w-25">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Items per page: </label>
                </div>
                <select data-type="items-per-page" class="custom-select" id="inputGroupSelect01">
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="75">75</option>
                  <option value="100"> 100 </option>
                  <option value="0"> All </option>
                </select>
              </div>

              <!-- information labels -->
              <span data-type="info" class="badge badge-secondary ml-3 p-2">
                    Page {pageNumber} of {pagesNumber}
              </span>

            </nav>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Default Sort: </label>
              </div>
              <select class="custom-select" id="inputGroupSelect01"
                      data-jplist-control="select-sort"
                      data-group="history"
                      data-name="default-sort"
                      data-id="default-sort"
              >
                <option
                        value="0"
                        data-path="default">Sort by</option>
                <option             value="1"
                                    data-path=".index"
                                    data-order="asc"
                                    data-type="number">Index (&uarr;)</option>
                <option             value="2"
                                    data-path=".index"
                                    data-order="desc"
                                    data-type="number">Index (&darr;)</option>
                <option             value="3"
                                    data-path=".printer"
                                    data-order="asc"
                                    data-type="text">Printer Name (&uarr;)</option>
                <option             value="4"
                                    data-path=".printer"
                                    data-order="desc"
                                    data-type="text">Printer Name (&darr;)</option>
                <option             value="5"
                                    data-path=".file"
                                    data-order="asc"
                                    data-type="text">File Name (&uarr;)</option>
                <option             value="6"
                                    data-path=".file"
                                    data-order="desc"
                                    data-type="text">File Name (&darr;)</option>
                <option             value="7"
                                    data-path=".start"
                                    data-order="desc"
                                    data-type="datetime">Start Date (&uarr;)</option>
                <option             value="8"
                                    data-path=".start"
                                    data-order="asc"
                                    data-type="datetime">Start Date (&darr;)</option>
                <option             value="9"
                                    data-path=".end"
                                    data-order="desc"
                                    data-type="datetime">End Date (&uarr;)</option>
                <option             value="10"
                                    data-path=".end"
                                    data-order="asc"
                                    data-type="datetime">End Date (&darr;)</option>
                <option             value="11"
                                    data-path=".cost"
                                    data-order="asc"
                                    data-type="number">Cost (&uarr;)</option>
                <option             value="12"
                                    data-path=".cost"
                                    data-order="desc"
                                    data-type="number">Cost (&darr;)</option>
                <option             value="13"
                                    data-path=".usage"
                                    data-order="asc"
                                    data-type="number">Usage (&uarr;)</option>
                <option             value="14"
                                    data-path=".usage"
                                    data-order="desc"
                                    data-type="number">Usage (&darr;)</option>

              </select>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Printer Name: </label>
              </div>
              <select class="custom-select" id="inputGroupSelect01"
                      data-jplist-control="select-filter"
                      data-group="history"
                      data-name="printerNames"
              >
                <option selected
                        href="#"
                        data-value="0"
                        data-path="default"
                >Filter</option>
                <% historyTotals.printerNames.forEach(printer => { %>
                  <% const printerEncode = printer.replace(/[^a-zA-Z0-9]/g, "_") %>
                  <option href="#"
                          data-path=".<%= printerEncode %>"><%= printer.replace(/_/g, " ") %></option>
                <%  }) %>

              </select>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Spool Type: </label>
              </div>
              <select class="custom-select" id="inputGroupSelect01"
                      data-jplist-control="select-filter"
                      data-group="history"
                      data-name="spoolName"
              >
                <option selected
                        href="#"
                        data-value="0"
                        data-path="default"
                >Filter</option>
                <% historyTotals.spools.forEach(spool => { %>
                  <option href="#"
                          data-path=".<%= spool %>"><%= spool.replace(/_/g, " ") %></option>
                <%  }) %>

              </select>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <!--Filament Search-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Spool Search</span>
              </div>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                     data-jplist-control="textbox-filter"
                     data-group="history"
                     data-name="fileNameSearch"
                     data-path=".spool"
                     type="text"
                     value=""
                     placeholder="Search...">
            </div>

          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <!--File Name Search-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">File Name Search</span>
              </div>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                     data-jplist-control="textbox-filter"
                     data-group="history"
                     data-name="fileNameSearch"
                     data-path=".file"
                     type="text"
                     value=""
                     placeholder="Search...">
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <!--Path Filter-->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">File Path: </label>
              </div>
              <select class="custom-select" id="inputGroupSelect01"
                      data-jplist-control="select-filter"
                      data-group="history"
                      data-name="pathName"
              >
                <option selected
                        href="#"
                        data-value="0"
                        data-path="default"
                >Filter</option>
                <% historyTotals.pathList.forEach(path => { %>
                  <option href="#"
                          data-path=".<%= path.replace(/\//g, "_") %>"><%= path %></option>
                <%  }) %>

              </select>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">File Name: </label>
              </div>
              <select class="custom-select" id="inputGroupSelect01"
                      data-jplist-control="select-filter"
                      data-group="history"
                      data-name="fileNames"
              >
                <option selected
                        href="#"
                        data-value="0"
                        data-path="default"
                >Filter</option>
                <% historyTotals.fileNames.forEach(file => { %>
                  <% const fileEnconde = file.replace(/[^a-zA-Z0-9]/g, "_") %>
                  <option href="#"
                          data-path=".<%= fileEnconde + "_gcode" %>"><%= file.replace(/_/g, " ") %></option>
                <%  }) %>

              </select>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <!--Date Range Possibly-->
          </div>
              <div class="col-lg-12 table-responsive-sm table-responsive-md">

                <table class="table-hover table table-dark text-center">
                  <thead>
                  <tr>
                    <th class="table-dark" scope="col" width="350px">Status</th>
                    <th class="table-dark" scope="col">Print Time Total</th>
                    <th class="table-dark" scope="col">Filament Usage Total</th>
                    <th class="table-dark" scope="col">Filament Cost Total</th>
                    <th class="table-dark" scope="col">Printer Cost Total</th>
                    <th class="table-dark" scope="col">Combined Total</th>
                    <th class="table-dark" scope="col">Average Cost Per Hour</th>
                  </tr>
                  </thead>
                  <tbody id="historyTableTotals">
                  <tr>
                    <th class="table-dark" scope="col">
                      <div class="progress mb-0">
                        <div
                                id="totalSuccessPercent"
                                class="progress-bar progress-bar-striped bg-success"
                                role="progressbar"
                                style="width: 0%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >

                        </div>
                        <div
                                id="totalCancelledPercent"
                                class="progress-bar progress-bar-striped bg-warning"
                                role="progressbar"
                                style="width: 0%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                          0%
                        </div>
                        <div
                                id="totalFailurePercent"
                                class="progress-bar progress-bar-striped bg-danger"
                                role="progressbar"
                                style="width: <%= printStatistics.failedPercent %>% "
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                          0%
                        </div>
                      </div>


                    </th>
                    <th id="totalPrintTime" class="table-dark" scope="col"></th>
                    <th id="totalFilament" class="table-dark" scope="col"></th>
                    <th id="totalCost" class="table-dark" scope="col"></th>
                    <th id="printerTotalCost" class="table-dark" scope="col"></th>
                    <th id="combinedTotalCost" class="table-dark" scope="col"></th>
                    <th id="averageCostPerHour" class="table-dark" scope="col"></th>
                  </tr>
                  </tbody>

                </table>
              </div>

        </div>
      <div class="row">
        <div class="col-12"><p id="loading">Loading...</p></div>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="wrapper" class="col-lg-12 table-responsive-sm table-responsive-md d-none">
    <table id="historyTableTop" class="table table-dark text-center">
      <thead>
        <tr>
          <th class="table-dark sticky-table table-dark" scope="col">#</th>
          <th class="table-dark sticky-table table-dark" scope="col">State</th>
          <th class="table-dark sticky-table table-dark" scope="col">Printer</th>
          <th class="table-dark sticky-table table-dark" scope="col" width="400px">File Name</th>
          <th class="table-dark sticky-table table-dark" scope="col">Start Date</th>
          <th class="table-dark sticky-table table-dark" scope="col">End Date</th>
          <th class="table-dark sticky-table table-dark" scope="col">Print Time</th>
          <th class="table-dark sticky-table table-dark" scope="col">Printer Cost</th>
          <th class="table-dark sticky-table table-dark" scope="col" width="400px">Spool</th>
          <th class="table-dark sticky-table table-dark" scope="col" width="400px">Filament Usage</th>
          <th class="table-dark sticky-table table-dark" scope="col" width="400px">Filament Cost</th>
          <th class="table-dark sticky-table table-dark" scope="col">Total Cost</th>
          <th class="table-dark sticky-table table-dark" scope="col">Cost Per Hour</th>
          <th class="table-dark sticky-table table-dark" scope="col" width="400px">
            Notes
          </th>
          <th class="sticky-table table-dark" scope="col"></th>
        </tr>
      </thead>
      <tbody id="historyTable" data-jplist-group="history">
        <% for(let i = 0; i < history.length; i++){ %>
        <tr data-jplist-item>
          <td class="index">
                  <%= history[i].index %>
          </td>
          <td>
            <%- history[i].state %>
          </td>
          <td class="printer <%= history[i].printer.replace(/[^a-zA-Z0-9]/g, "_") %>"><%=
            history[i].printer %>
          </td>
          <% let path = history[i].file.path.substring(0, history[i].file.path.lastIndexOf("/"))%>
          <td title="<%= path %>" class="file <%= history[i].file.name.replace(/[^a-zA-Z0-9]/g, "_") %> <%= path.replace(/\//g, "_") %>" class="text-wrap">
            <%= history[i].file.name.replace(/_/g," ") %>
          </td>
          <td class="start">
            <%= history[i].startDate %>
          </td>
          <td class="end">
            <%= history[i].endDate %>
          </td>
          <td>
            <span class="d-none time"><%= history[i].printTime %></span>
            <span><%= helpers.generateTime(history[i].printTime) %></span>
            <br><code><%= history[i].printHours %></code>
          </td>
          <td class="printerCost" id="printerCost-<%= history[i]._id %>">
            <%= history[i].printerCost %>
          </td>
          <% let spoolTypes = "" %>
          <% if(history[i].spools !== null){ %>
            <% history[i].spools.forEach((spool,index) => { %>
            <% spoolTypes += spool[Object.keys(spool)[0]].type+" " %>
          <% })%>
          <% } %>
          <td class="spool <%= spoolTypes %>" id="spool-<%= history[i]._id %>">
            <% if(history[i].spools !== null){ %>
              <% history[i].spools.forEach((spool,index) => { %>
                <%if(spool[Object.keys(spool)[0]].spoolName !== null){%>
                <b><%= spool[Object.keys(spool)[0]].toolName %></b>: <p><%= spool[Object.keys(spool)[0]].spoolName %></p>
                <%}else{%>
                <b><%= spool[Object.keys(spool)[0]].toolName %></b>: <p>(No Spool)</p>
              <%}%>
              <% })%>
            <% } %>
          </td>
          <td >
            <span class="usage" id="usage-<%= history[i]._id %>">
              <% if(history[i].spools !== null){ %>
                <% history[i].spools.forEach((spool,index) => { %>
                <%if(spool[Object.keys(spool)[0]].spoolName !== null){%>
                  <b><%= spool[Object.keys(spool)[0]].toolName %></b>: <p><%= spool[Object.keys(spool)[0]].weight %>g / <%= spool[Object.keys(spool)[0]].length %>m</p>
                <%}else{%>
                  <b><%= spool[Object.keys(spool)[0]].toolName %></b>: <p>(No Spool)</p>
                <%}%>
                <% })%>
              <% } %>
            </span>
            <span class="d-none totalUsageMeter" id="totalUsageMeter-<%= history[i]._id %>">
              <%= history[i].totalLength %>
            </span>
            <span class="d-none totalUsageGrams" id="totalUsageGrams-<%= history[i]._id %>">
              <%= history[i].totalWeight %>
            </span>
          </td>
          <td>
            <span class="cost" id="cost-<%= history[i]._id %>">
              <% if(history[i].spools !== null){ %>
                <% history[i].spools.forEach((spool,index) => { %>
                <%if(spool[Object.keys(spool)[0]].spoolName !== null){%>
                  <b><%= spool[Object.keys(spool)[0]].toolName %></b>: <p><%= spool[Object.keys(spool)[0]].cost %></p>
                <%}else{%>
                  <b><%= spool[Object.keys(spool)[0]].toolName %></b>: <p>(No Spool)</p>
                <%}%>
                <% })%>
              <% } %>
            </span>
            <span class="d-none filamentCost" id="totalFilamentCost-<%= history[i]._id %>">
              <%= history[i].spoolCost %>
            </span>
          </td>
          <td class="totalCost" id="totalCost-<%= history[i]._id %>">
            <%= history[i].totalCost %>
          </td>
          <td class="costPerHour" id="costPerHour-<%= history[i]._id %>">
            <%= history[i].costPerHour %>
          </td>
          <td class="notes" class="text-wrap" id="note-<%= history[i]._id %>">
            <%= history[i].notes %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-info btn-small historyEdit bg-colour-1"
                id="<%= history[i]._id %>"
                data-toggle="modal"
                data-target="#historyModal"
              >
                <i class="fas fa-eye"></i>
              </button>

              <button
                type="button"
                class="btn btn-danger btn-small historyDelete"
                id="<%= history[i]._id %>"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>

    </table>

  </div>
</div>
  <script src="/assets/js/historyRunner.min.js" type="module"></script>
<% }else{ %>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>No History yet</h1>
        <p>
          Come back here when you've completed some prints.
        </p>
        <h1><img width="500px" src="images/logo.png" /></h1>
      </div>
    </div>
  </div>
<% } %>
<div class="modal fade" id="historyModal" tabindex="0" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="historyModalLabel"><button type="button" class="btn btn-secondary float-right d-block" href="#" aria-expanded="false" disabled="">
            <span id="printerName"></span> - <span id="fileName"></span>
          </button></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-4 p-0 m-0">
            <div class="row">
              <div class="col-12"><h5 class="mb-1">State</h5><hr></div>
              <div class="col-12 text-center "><button id="printStatus" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

                </button></div>
              <div class="col-12"><h5 class="mb-1">Date and Time</h5><hr></div>
              <div class="col-6 text-center "><button id="startDate" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

                </button></div>
              <div class="col-6 text-center "><button id="endDate" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

                </button></div>
              <div class="col-12 text-center "><button id="printTime" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

                </button></div>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-8" id="galleryElements" style="display: none;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators" id="thumbnails-indicators">

              </ol>
              <div class="carousel-inner" role="listbox" id="thumbnails">

              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>

        </div>
        <div class="row  table-responsive">
          <div class="col-lg-12"><h5 class="mb-1 text-left">Tools</h5><hr></div>
          <div class="col-lg-12">
            <table class="table-hover table table-dark text-center">
              <thead>
              <tr>
                <th class="table-dark sticky-table table-dark" scope="col">Tool</th>
                <th class="table-dark sticky-table tabl-dark" scope="col">Spool</th>
                <th class="table-dark sticky-table table-dark" scope="col">Volume</th>
                <th class="table-dark sticky-table table-dark" scope="col">Length</th>
                <th class="table-dark sticky-table table-dark" scope="col">Weight</th>
                <th class="table-dark sticky-table table-dark" scope="col">Filament Cost</th>
              </tr>
              </thead>
              <tbody id="viewTable">

              </tbody>

            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h5 class="mb-1 text-left">Job Information</h5><hr>
            <div class="col p-0">
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Printer Cost</span>
                </div>
                <input id="printerCost" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
                <!--                      <div class="input-group-append">-->
                <!--                        <span class="input-group-text" id="basic-addon2"></span>-->
                <!--                      </div>-->
              </div>
            </div>
            <div class="col p-0">
              <div id="resendsTitle" class="input-group mb-1 input-group-sm d-none">
                <div class="input-group-prepend">
                  <span class="input-group-text">Resends</span>
                </div>
                <input id="resendStats" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Estimated Print Time</span>
                </div>
                <input id="estimatedPrintTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Actual Print Time</span>
                </div>
                <input id="printerTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
                <!--                      <div class="input-group-append">-->
                <!--                        <span class="input-group-text" id="basic-addon2"></span>-->
                <!--                      </div>-->
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Print Time Accuracy</span>
                </div>
                <input id="printTimeAccuracy" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Total Job Cost</span>
                </div>
                <input id="jobCosting" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
                <div class="input-group-prepend">
                  <span class="input-group-text">Hourly Cost</span>
                </div>
                <input id="jobHourlyCost" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
            </div>

          </div>
          <div class="col-lg-6">
            <h5 class="mb-1 text-left">File Information</h5><hr>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload Date</span>
              </div>
              <input id="dateUploaded" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Path</span>
              </div>
              <input id="path" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Size</span>
              </div>
              <input id="size" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">MB</span>
              </div>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Average Print Time</span>
              </div>
              <input id="averagePrintTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Last Print Time</span>
              </div>
              <input id="lastPrintTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>

            </div>

          </div>
        </div>

        <div class="col-lg-12">
          <h5 class="mb-1 text-left">Notes</h5>
          <textarea id="notes" class="form-control" aria-label="With textarea" style="margin-top: 0px; margin-bottom: 0px; height: 168px;"></textarea>
        </div>
      </div>

      <div class="modal-footer" id="historySave">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
