<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>
<div class="row">
  <div class="col-lg-12 table-responsive-sm table-responsive-md">
    <table class="table table-dark text-center">
      <thead>
        <tr>
          <th class="sticky-table table-dark" scope="col">#</th>
          <th class="sticky-table table-dark" scope="col">State</th>
          <th class="sticky-table table-dark" scope="col">Printer</th>
          <th class="sticky-table table-dark" scope="col">File Name</th>
          <th class="sticky-table table-dark" scope="col">Start Date</th>
          <th class="sticky-table table-dark" scope="col">End Date</th>
          <th class="sticky-table table-dark" scope="col">Print Time</th>
          <th class="sticky-table table-dark" scope="col">Spool</th>
          <th class="sticky-table table-dark" scope="col">Filament Usage</th>
          <th class="sticky-table table-dark" scope="col" width="400px">
            Notes
          </th>
          <th class="sticky-table table-dark" scope="col"></th>
        </tr>
      </thead>
      <tbody id="historyTable">
        <% history.forEach((print, index) => { %>
        <tr>
          <td scope="row">
            <%= index %>
          </td>
          <td>
            <% if(print.printHistory.success){%>
            <i class="fas fa-thumbs-up text-success"></i>
            <% }else{ %> <% if(print.printHistory.reason === "cancelled"){ %>
            <i class="fas fa-thumbs-down text-warning"></i>
            <% }else{ %>
            <i class="fas fa-exclamation text-danger"></i>
            <% } %> <% } %>
          </td>
          <td><%=
            print.printHistory.printerName %>
          </td>
          <td class="text-wrap">
            <%= print.printHistory.fileName %>
          </td>
          <td>
            <%= print.printHistory.startDate %>
          </td>
          <td>
            <%= print.printHistory.endDate %>
          </td>
          <td>
            <%= helpers.generateTime(print.printHistory.printTime) %>
          </td>
          <td>

            <% if(typeof print.printHistory.filamentSelection != 'undefined' &&
            print.printHistory.filamentSelection != "None chosen..."){%>
              <% let
            filament = print.printHistory.filamentSelection.roll %> <%=
            filament.name %> [<%= filament.colour %> / <%= filament.type[1] %>]
            <%}else{%> None selected... <% } %>
          </td>
          <td>
            <% if(print.printHistory.success){%> <% if(typeof
            print.printHistory.filamentSelect === 'undefined'){%> <%
            if(print.printHistory.filamentSelection === "None chosen..."){ %> <%
            let filamentLength = print.printHistory.filamentLength / 1000 %> <%
            filamentLength = Math.round(filamentLength*100)/100 %> <%=
            filamentLength %>m / <% let filamentWeight =
            3.14*(1.75/2)^2*1.24*filamentLength %> <%= filamentWeight %>g <%
            }else{ %> <% let filamentLength = print.printHistory.filamentLength
            / 1000 %> <% filamentLength = Math.round(filamentLength*100)/100 %>
            <%= filamentLength %>m / <% let filamentWeight =
            3.14*(1.75/2)^2*1.24*filamentLength %> <%= filamentWeight %>g <% }
            %> <% }else{ %> <% let currentType = null; %> <% let filamentKeys =
            Object.entries(filamentTypes); %> <% filamentKeys.forEach(entry =>
            {%> <% if(entry[0] ===
            print.printHistory.filamentSelection.roll.type[0]){%> <% currentType
            = entry[1].density %> <% } %> <% })%> <%
            if(print.printHistory.filamentLength === "-"){ %> - <% }else{ %> <%
            let filamentLength = print.printHistory.filamentLength / 1000 %> <%
            filamentLength = Math.round(filamentLength*100)/100 %> <%=
            filamentLength %>m / <% let filamentWeight =
            3.14*(1.75/2)^2*parseFloat(currentType)*filamentLength %> <%=
            filamentWeight %>g <% } %> <% } %> <% }else{ %> <%
            if(print.printHistory.reason === "cancelled"){ %> <% }else{ %> <% }
            %> <% } %>
          </td>
          <td class="text-wrap" id="note-<%= print._id %>">
            <%= print.printHistory.notes %>
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-info btn-small historyEdit"
                id="<%= print._id %>"
                data-toggle="modal"
                data-target="#historyModal"
              >
                <i class="fas fa-edit"></i>
              </button>

              <button
                type="button"
                class="btn btn-danger btn-small historyDelete"
                id="<%= print._id %>"
              >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>

<% }else{ %>

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>Welcome to OctoFarm</h1>
      <p>
        The all in one monitoring solution for multiple Octoprint instances.
      </p>
      <h1><img src="images/logo.png" /></h1>
      <p>
        Thank you for creating an account <% if(typeof name != 'undefined'){ %>
        <%= name %> <% }%>. To get started though, we need some printers in your
        farm!
      </p>
      <a
        href="#"
        class="btn btn-primary btn-block mb-2"
        href="#"
        data-toggle="modal"
        data-target="#printerSetupModal"
        >Setup Printers</a
      >
    </div>
  </div>
</div>
<% } %>
<script src="/js/lib/modules/history.js" type="module"></script>
