<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/bootstrap-v4.css" />
    <link rel="stylesheet" href="/css/themes/slate.css" />
    <link rel="stylesheet" href="/css/octofarm.css" />
    <link rel="stylesheet" href="/css/noty.css">
    <script type="text/javascript" src="/js/vendor/jquery-3.4.1.min.js"></script>
    <title>OctoFarm: <%= page %></title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand notyet" href="#">
            OctoFarm
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <li id="menuDashboard">
                    <a class="nav-link" href="/dashboard" class="disable">
                        <center><i class="fas fa-tachometer-alt"></i> Dashboard</center>
                    </a>
                </li>
                </li>
                <ul id="monitoringMenu" class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                      <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                        <a class="nav-link" href="#" id="menuMonitoring" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <center><i class="fas fa-eye"></i> Monitoring</center>
                    </a>
                    <% }else { %>
                      <a class="nav-link notyet " href="#" id="menuMonitoring" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <center><i class="fas fa-eye"></i> Monitoring</center>
                  </a>
                <%    } %>

                        <div class="dropdown-menu dropdown-menu-right bg-dark text-light" aria-labelledby="navbarDropdown">
                            <center>
                                <a class="dropdown-item  text-light" id="menuPanelView" href="/mon/panel"><i class="fas fa-columns"></i>
                                    Panel View</a>
                                <a class="dropdown-item  text-light" id="menuListView" href="/mon/list"><i class="fas fa-list"></i> List
                                    View</a>
                                <a class="dropdown-item  text-light" id="menuCameraView" href="/mon/camera"><i class="fas fa-video"></i>
                                    Camera View</a></center>
                        </div>
                    </li>
                </ul>
<!--                 <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="d-none d-sm-none d-md-none d-lg-block nav-link" href="/filemanager" id="fileManagerBtn">
                    <center><i class="fas fa-box-open"></i> Operations</center>
                </a>
                <% }else { %>
                  <a class="nav-link notyet" href="#" data-toggle="modal" role="button"
                  data-target="#fileManagerModal" id="fileManagerBtn">
                  <center><i class="fas fa-box-open"></i> Operations</center>
                  </a>
            <%    } %>
                </li> -->
                <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="d-none d-sm-none d-md-none d-lg-block nav-link" href="/filemanager" id="fileManagerBtn">
                    <center><i class="fas fa-folder-open"></i> File Manager</center>
                </a>
                <% }else { %>
                  <a class="nav-link notyet" href="#" data-toggle="modal" role="button"
                  >
                  <center><i class="fas fa-folder-open"></i> File Manager</center>
                  </a>
            <%    } %>
                </li>
                <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="nav-link" href="/history" id="historyBtn">
                    <center><i class="fas fa-history"></i> History</center>
                </a>
                <% }else { %>
                  <a class="nav-link notyet" href="#" data-toggle="modal" role="button"
                 >
                  <center><i class="fas fa-history"></i> History</center>
                  </a>
            <%    } %>
                </li>
                <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="d-none d-sm-none d-md-none d-lg-block nav-link" href="#" data-toggle="modal" id="filamentBtn" data-target="#filamentModal">
                    <center><i class="fas fa-toilet-paper"></i> Filament</center>
                </a>
                <% }else { %>
                  <a class="nav-link notyet" href="#" data-toggle="modal" role="button"
                 >
                  <center><i class="fas fa-toilet-paper"></i> Filament</center>
                  </a>
            <%    } %>
                </li>
<!--                 <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="nav-link" data-toggle="collapse" id="farmStatusBtn" href="#dashPanelCollapse"
                    role="button" aria-expanded="false" aria-controls="dashPanelCollapse">
                    <center><i class="fas fa-info"></i> Overview</center>
                </a>

                <% }else { %>
                  <a class="nav-link notyet" data-toggle="collapse" id="farmStatusBtn" href="#dashPanelCollapse"
                  role="button" aria-expanded="false" aria-controls="dashPanelCollapse">
                  <center><i class="fas fa-info"></i> Overview</center>
              </a>
            <%    } %> -->

                </li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <% if(typeof name != 'undefined'){ %>
                         <a class="nav-link" href="#" id="systemDropDown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <% }else{%>
                        <a class="nav-link notyet" href="#" id="systemDropDown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <% } %>
                        <center><i class="fas fa-cogs"></i> System</center>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark text-light" aria-labelledby="systemDropDown">
                        <% if(typeof name != 'undefined'){ %>
                            <h6 class="dropdown-header">Account</h6>  
                            <a class="dropdown-item text-center text-light"  data-toggle="modal"
                            data-target="#userModal" text-light" href="#"><i class="far fa-user"></i> <%= name %></a>
                            <a class="dropdown-item text-center  text-light" href="/users/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
                        <% }%>
                       
                        <h6 class="dropdown-header">Settings</h6>
                        <a class="dropdown-item  text-center text-light" href="#" data-toggle="modal"
                            data-target="#printerSetupModal" id="printerSetup"><i class="fas fa-print"></i> Printers</a>
                            <a class="dropdown-item  text-center  text-light" href="#" data-toggle="modal"
                            data-target="#clientSettingsModal" id="setClientSettingsBtn"><i class="fas fa-cog"></i>
                            Client</a>
                            <a class="dropdown-item  text-center  text-light" href="#" data-toggle="modal"
                            data-target="#serverSettingsModal" id="setServerBtn"><i class="fas fa-server"></i>
                            Server</a>

                            <h6 class="dropdown-header">Help</h6> 
                            <a class="dropdown-item text-center  text-light" href="#" data-toggle="modal"
                            data-target="#aboutOctoFarm" id="aBoutModalBtn"><i class="fas fa-info-circle"></i> About</a>
                        <% if(typeof version != 'undefined'){ %>
                            <a class="dropdown-item text-center text-light"
                            href="https://git.notexpectedyet.com/NotExpectedYet/OctoFarm/wiki/Changelog"
                            target="_blank"><i class="fas fa-code-branch"></i> Version: <%= version %></a>
                        <% }%>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <%- body %>





        <div class="modal fade" id="printerSetupModal" tabindex="0" role="dialog" aria-labelledby="printerSetupLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="systemSettingsLabel">Printer Management</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="system-settings-list" data-toggle="list" href="#printer-add-edit" role="tab" aria-controls="home"><i class="fas fa-plus"></i> Add/Delete</a>
                                        <a class="list-group-item list-group-item-action" id="system-dashboard-list" data-toggle="list" href="#printer-import-export" role="tab" aria-controls="profile"><i class="fas fa-file-import"></i> Import/Export</a>
                                        <a class="list-group-item list-group-item-action" id="system-panel-view-list" data-toggle="list" href="#printer-remove-all" role="tab" aria-controls="messages"><i class="fas fa-trash-alt"></i> Remove All</a>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="printer-add-edit" role="tabpanel" aria-labelledby="system-settings-list">
                                            <h5>Add/Delete Printers</h5>
                                            <hr>
                                            <p>Please use the form below to add your printers to OctoFarm. Once added click the Save button to add them to the database.</p><p> If you have any connection issues please make sure CORS is activated on Octoprint's API settings page.</p>
                                            <p>NOTE: If you would like to use your OctoPrint camera URL, leave it blank here and it will attempt to pull from Octoprint.</p>
                                            <div id="message"></div>
                                            <form>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="">IP: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="192.168.1.5" id="printerIP">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="">Port: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="5001" id="printerPort">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon3">Camera URL: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="192.168.1.5:8081/webcam/?action=stream" id="printerCamURL">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon3">ApiKey</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="OctoPrints API Key" id="printerApiKey">
                                                </div>
                                                <button id="addPrinterLine" class="btn btn-primary btn-block"><i class="fas fa-plus"></i> Add Printer</button>
                                                <button id="editPrinters" class="btn btn-info btn-block d-none"><i class="fas fa-edit"></i> Edit Printers</button>


                                               
                                            </form>
                                            <hr>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" width="150px">IP Address</th>
                                                        <th scope="col" width="100px">Port Number</th>
                                                        <th scope="col">Camera URL</th>
                                                        <th scope="col" width="200px">API Key</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="addPrintersTable">
                                                  
                                                    <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                                                        <%- include('./partials/Printers/printerTable.ejs') %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                <div
                  class="tab-pane fade"
                  id="printer-import-export"
                  role="tabpanel"
                  aria-labelledby="system-dashboard-list"
                >
                  <h5>Import Printer List</h5>
                  <hr>
                  <p>
                    Please use the select button below to import a
                    pre-configured file containing your printers list. (This
                    will completely replace your printers list).
                  </p>
                  <p>
                    You can download an example import file here:
                    <a
                      class="text-info"
                      href="printers.json"
                      download
                      target="_blank"
                      >Import Example</a
                    >
                  </p>
                  <form id="uploadFileModalContentForm" class="text-center">
                    <p>Use the Select button to upload your file.</p>
                    <input
                      class="fileElem"
                      type="file"
                      id="importFileBtn"
                      accept=".json"
                    /><label
                      class="btn btn-lg btn-primary btn-block"
                      for="importFileBtn"
                      >Select</label
                    >
                  </form>
                  <br />
                  <h5>Export Printer List</h5>
                  <hr />
                  <p>
                    Click the button below to export a full list of your
                    printers saved in OctoFarm.
                  </p>
                  <center>
                    <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                        <button
                        id="exportPrintersBtn"
                        type="button"
                        class="btn btn-lg btn-primary btn-lg btn-block"
                        
                      >
                        Export Printers Database</button
                      ><br />
                    <% }else{ %>
                        <button
                        id="exportPrintersBtn"
                        type="button"
                        class="btn btn-lg btn-primary btn-lg btn-block"
                        disabled
                      >
                        Export Printers Database</button
                      ><br />
                    <% } %>
                   
                  </center>
                </div>
                <div
                  class="tab-pane fade"
                  id="printer-remove-all"
                  role="tabpanel"
                  aria-labelledby="system-panel-view-list"
                >
                  <h5>Remove All Printers</h5>
                  <hr>
                  <p>
                    This will remove all of your printers, it is unreversable so
                    if you'd like to keep a backup of your printer list please
                    use the Import/Export settings.
                  </p>
                  <p>Press save to complete the printer wipe.</p>
                  <p>
                    You have <span id="printerAmmount"><% if(typeof printerCount != 'undefined'){ %>
                        <%= printerCount %>
                    <% } else {%>
                        0
                        <% } %>
                </span> stored in
                    the database.
                  </p>
                  <center>
                    <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                        <button
                        id="deletePrintersBtn"
                        type="button"
                        class="btn btn-danger btn-lg btn-block"
                        
                      >
                        Delete Printers Database</button
                      ><br />
                    <% }else{ %>
                        <button
                        id="deletePrintersBtn"
                        type="button"
                        class="btn btn-danger btn-lg btn-block"
                        disabled
                      >
                        Delete Printers Database</button
                      ><br />
                    <% } %>

                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="printerSaveBtn" type="button" class="btn btn-success" data-dismiss="modal">
          Save
        </button>
      </div>
    </div>
  </div>
        </div>
        <div class="modal fade" id="multiUploadModal" tabindex="0" role="dialog" aria-labelledby="multiUploadLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h3 class="modal-title" id="systemSettingsLabel">Multi-Upload</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
              </button>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                  <button class="btn btn-danger">1. Choose your printers..</button>
                                  <button class="btn btn-warning" disabled>2. Choose your folder path..</button>
                                  <button class="btn btn-success" disabled>3. Select your files..</button>
                                  <button class="btn btn-info" disabled>4. Uploading..</button>
                                </div>

                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="col-lg-12">
                                  <p>Check the boxes below to select the printers you'd like to upload files too.</p>
                                  <p><b>Note:</b> You must select at least 2 printers.</p>
                                  <% if (typeof printers != 'undefined'){ %>
                                    <% for(let i=0;i < printers.length;i++){%>
                                      <form class="was-validated form-check-inline form-check">
                                        <div class="custom-control custom-checkbox mb-2 pr-2">
                                          <input type="checkbox" class="custom-control-input" id="customControlValidation-<%= printers[i].index %>" required>
                                         <label class="custom-control-label" for="customControlValidation-<%= printers[i].index %>"><%= printers[i].index %>. <% if(typeof printers[i].settingsAppearance != 'undefined'){ %> <%= printers[i].settingsAppearance.name %> <%}%></label>
                                          <div class="invalid-feedback">Not this printer</div>
                                          <div class="valid-feedback">
                                            Sending to this printer
                                          </div>
                                        </div>
                                        </form>
                                      <%}%>
                                  <% } %>

                                </div>
                                <div class="col-lg-12">
                                  <p>Please type the folder name you'd like to create on the selected printers.</p>
                                  <p><b>Note:</b> Leaving blank will create the files in local</p>
                                  <input id="newFolderName" class="form-control bg-dark text-light" type="text" placeholder="Please type your new folder name here..." aria-label="NewFolder">
                                </div>
                                <div class="col-lg-12">
                                  <p>Please use the form below to select the files you'd like to complete this process with. </p>
                                  <p><b>Note:</b> You can select a single file, or multiple.</p>
                                  <div class="mb-3"><center><div id="drop-area"> <form class="my-form"> <p>Drag and Drop into the dashed region, or use the Select button to upload your file.</p><input type="file" id="gcodeUpload" multiple accept=".gcode,.gco,.g"><label class="btn btn-success" for="gcodeUpload">Select</label><br></form></div></div></center>
                                </div>
                                <div class="col-lg-12">
                                  <p><b>Note:</b> Due to the network heavy nature of this function this modal is locked in place until complete.</p>
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <h5>Printer Progress</h5>
                                      <button type="button" class="btn btn-secondary">0. TEST NAME<br>
                                        <div class="progress">
                                          <div class="progress-bar bg-ssecondary" progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                        </div></button>
                                        <button type="button" class="btn btn-primary">2. Bob<br>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                          </div></button>
                                          <button type="button" class="btn btn-primary">5. Another Name<br>
                                            <div class="progress">
                                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                            </div></button>
                                            <button type="button" class="btn btn-primary">6. <br>
                                              <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                              </div></button>
                                    </div>
                                    <div class="col-lg-8">
                                      <h5>File Progress</h5>
                                      <button type="button" class="btn btn-primary">Poppy-Something.gcode<br>
                                        <div class="progress">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                                        </div></button>
                                        <button type="button" class="btn btn-success">more something.gcode<br>
                                          <div class="progress">
                                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                          </div></button>
                                          <button type="button" class="btn btn-primary">a really long title for a bloody gcode file.gcode<br>
                                            <div class="progress">
                                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%"></div>
                                            </div></button>
                                            <button type="button" class="btn btn-primary">another file of similar context.gcode<br>
                                              <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                              </div></button>

                                    </div>
                                  </div>
                                </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
     <button type="button" class="btn btn-dark float-left">Next</button><button type="button" class="btn btn-dark float-right">Close</button><button type="button" class="btn btn-dark float-right">Previous</button> 
    </div>
  </div>
</div>
      </div>


      <div class="modal fade" id="aboutOctoFarm" tabindex="-1" role="dialog" aria-labelledby="aBoutModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="aboutOctoFarm">About OctoFarm</h5>
                    <button id="aboutOctoFarmModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="text-white" aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <center>
                        <p>OctoFarm is the creation of James Mackay from <a href="https://notexpectedyet.com">NotExpectedYet</a> which is also one of his personal projects. It was designed after using the wonderful software Octoprint for well over a year
                            before getting his second printer. Realising he could only control/monitor one printer from the Octoprint interface he decided to write his own implementation using the API in Octoprint. This spawned OctoFarm which is used
                            currently for monitoring and managing multiple Octoprint attached printers. <br>If you would like to say thanks to James for designing this free and open source software package then feel free to send him a donation using the
                            button below.</p>
                        <p><a href="https://www.patreon.com/bePatron?u=19808757" target="_blank"><button type="button" class="btn btn-danger">Become a Patreon!</button></a></p>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick" />
                            <input type="hidden" name="hosted_button_id" value="QGBJML3E7268L" />
                            <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                            <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
                        </form>
                    </center>
                    <center>
                        <div class="row"><div class="col-12">
                            <h5>Big thanks to the following Patreon Supporters!</h5>
                            <ul class="list-group">
                                    <li class="list-group-item">ding jienan <i style="color:gold;" class="fas fa-trophy"></i></li>
                                    <li class="list-group-item">Diyengineer <i style="color:gold;" class="fas fa-trophy"></i></li>
                            </ul>
                        </div></div>
                    </center>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="userLabel">User </h5>
                  <button id="aboutOctoFarmModalClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
              </div>
              <div class="modal-body">
                <% if(typeof name != 'undefined'){ %>
                  <h6 class="dropdown-header">Account</h6>  
                  <a class="dropdown-item text-center  data-toggle="modal"
                  data-target="#userModal" text-light" href="#"><i class="far fa-user"></i> <%= name %></a>
                  <a class="dropdown-item text-center  text-light" href="/users/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
              <% }%>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

    <div class="modal fade" id="clientSettingsModal" tabindex="0" role="dialog" aria-labelledby="systemSettingsLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h3 class="modal-title" id="systemSettingsLabel">Client Settings</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
              </div>
              <div class="modal-body">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                              <div class="list-group" id="list-tab" role="tablist">
                                  <a class="list-group-item list-group-item-action  active" id="system-settings-list" data-toggle="list" href="#system-settings" role="tab" aria-controls="system">Settings</a>
                                  <a class="list-group-item list-group-item-action" id="system-panel-view-list" data-toggle="list" href="#system-panel-view" role="tab" aria-controls="panelview">Panel View</a>
                                  <a class="list-group-item list-group-item-action" id="system-list-view-list" data-toggle="list" href="#system-list-view" role="tab" aria-controls="listview">List View</a>
                                  <a class="list-group-item list-group-item-action" id="system-camera-view-list" data-toggle="list" href="#system-camera-view" role="tab" aria-controls="cameraview">Camera View</a>
                              </div>
                          </div>
                          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                              <div class="tab-content" id="nav-tabContent">
                                  <div class="tab-pane fade show active" id="system-settings" role="tabpanel" aria-labelledby="system-settings-list">
                                      <h5>Client Settings</h5>
                                      <hr>
                                      <p class="font-weight-bold">Server Polling</p>
                                      <p>Set how often this client checks for updates from the server. Default is set to update the page every 1000ms (1 second). If you find this too much for your browser then lower it below.</p>
                                      <p><b>Min</b>: 1 seconds, <b>Max:</b> 60 seconds</p>

                                      <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text">Refresh Rate:</span>
                                          </div>
                                          <input type="number" class="form-control" placeholder="6" aria-label="Refresh Rate" id="clientRefreshRate" value="1" min="1" max="60" step="1">
                                          <div class="input-group-append">
                                              <span class="input-group-text">Seconds</span>
                                          </div>
                                      </div>

                                      

                                      <hr>
                                      <p class="font-weight-bold">Change Background</p>
                                      <p>Enter a URL below to change the default background of OctoFarm</p>
                                      <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1">URL:</span>
                                          </div>
                                          <input type="url" class="form-control" placeholder="https://i.redd.it/frehj36ltk101.png" aria-label="Username" aria-describedby="basic-addon1" id="clientBackground" value="">
                                      </div>
                                      <p><b>URL Example:</b> "https://i.redd.it/frehj36ltk101.png"</p>
                                  </div>
                                  <div class="tab-pane fade" id="system-panel-view" role="tabpanel" aria-labelledby="system-panel-view-list">
                                      <h5>Panel View Settings</h5>
                                      <hr>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="panelCurrentOpOn" required>
                                          <label class="custom-control-label" for="CurrentOpOn">Current Operations</label>
                                          <div class="valid-feedback">Current Operations will be shown on the panel view.</div>
                                          <div class="invalid-feedback">Current Operations will not be shown on the panel view.</div>
                                        </div>
                                      </form>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="panelHideOffline" checked required>
                                          <label class="custom-control-label" for="offlinePollOn">Hide Offline</label>
                                          <div class="valid-feedback">Offline printers will be hidden from the panel view.</div>
                                          <div class="invalid-feedback">Offline printers will be shown on the panel view.</div>
                                        </div>
                                      </form>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="panelHideClosed" required>
                                          <label class="custom-control-label" for="panelHideClosed">Hide Closed</label>
                                          <div class="valid-feedback">Closed printers will be hidden from the panel view.</div>
                                          <div class="invalid-feedback">Closed printers will be shown on the panel view.</div>
                                        </div>
                                      </form>
                                  </div>
                                  <div class="tab-pane fade" id="system-list-view" role="tabpanel" aria-labelledby="system-list-view-list">
                                      <h5>List View Settings</h5>
                                      <hr>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="listCurrentOpOn" required>
                                          <label class="custom-control-label" for="listCurrentOpOn">Current Operations</label>
                                          <div class="valid-feedback">Current Operations will be shown on the list view.</div>
                                          <div class="invalid-feedback">Current Operations will not be shown on the list view.</div>
                                        </div>
                                      </form>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="listHideOffline" checked required>
                                          <label class="custom-control-label" for="listHideOffline">Hide Offline</label>
                                          <div class="valid-feedback">Offline printers will be hidden from the list view.</div>
                                          <div class="invalid-feedback">Offline printers will be shown on the list view.</div>
                                        </div>
                                      </form>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="listHideClosed" required>
                                          <label class="custom-control-label" for="listHideClosed">Hide Closed</label>
                                          <div class="valid-feedback">Closed printers will be hidden from the panel view.</div>
                                          <div class="invalid-feedback">Closed printers will be shown on the panel view.</div>
                                        </div>
                                      </form>
                                  </div>
                            
                                  <div class="tab-pane fade" id="system-camera-view" role="tabpanel" aria-labelledby="system-camera-view-list">
                                      <h5>Camera View Settings</h5>
                                      <hr>
                                      <p>Select how many camera's you would like to have per row:</p>
                                      <p><b>Note:</b>This only takes effect on screen sizes larger than a tablet.</p>
                                      <div class="input-group mb-3">
                                          <div class="input-group-prepend">
                                              <label class="input-group-text" for="selectCameraGrid">Cameras</label>
                                          </div>
                                          <select class="custom-select" id="selectCameraGrid">
                                                  <option value="12">1</option>
                                                  <option value="6" selected>2</option>
                                                  <option value="4">3</option>
                                                  <option value="3">4</option>
                                                  <option value="2">6</option>
                                              </select>
                                      </div>
                                      <hr>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="cameraCurrentOpOn" required>
                                          <label class="custom-control-label" for="cameraCurrentOpOn">Current Operations</label>
                                          <div class="valid-feedback">Current Operations will be shown on the camera view.</div>
                                          <div class="invalid-feedback">Current Operations will not be shown on the camera view.</div>
                                        </div>
                                      </form>
                                      <form class="was-validated">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input type="checkbox" class="custom-control-input" id="cameraHideClosed" required>
                                          <label class="custom-control-label" for="cameraHideClosed">Hide Closed</label>
                                          <div class="valid-feedback">Closed printers will be hidden from the panel view.</div>
                                          <div class="invalid-feedback">Closed printers will be shown on the panel view.</div>
                                        </div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success" id="saveSettings">Save</button>
              </div>
          </div>
      </div>
  </div>

  <div class="modal fade" id="serverSettingsModal" tabindex="0" role="dialog" aria-labelledby="serverSettingsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="serverSettingsLabel">Server Settings</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                          <p class="font-weight-bold">WebSocket Throttle</p>
                          <p>You may be trying to run OctoFarm on a potato, which I've no aversion too but the CPU on the potato might not like it. If you find that to be the case then please increase the throttle amount.</p>
                          <p>Currently the octoprint client will send a message every 500ms, so the server will process at that rate. A value of 2 will set the rate limit to every 1000ms (1 second), 3 would be 1500ms and so on.</p>
                          
                          <p><b>Min</b>: 0.5 seconds (Default), <b>Max:</b> 10 seconds</p>

                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Throttle:</span>
                              </div>
                              <input type="number" class="form-control" placeholder="6" aria-label="Refresh Rate" id="onlinePollRate" value="0.5" min="0.5" max="10" step="0.5">
                              <div class="input-group-append">
                                  <span class="input-group-text">Seconds</span>
                              </div>
                          </div>
                          <hr>
                          <p class="font-weight-bold">Server Offline Polling</p>
                          <form class="was-validated">
                            <div class="custom-control custom-checkbox mb-3">
                              <input type="checkbox" class="custom-control-input" id="offlinePoll" checked required>
                              <label class="custom-control-label" for="offlinePoll">Toggle Offline Polling</label>
                              <div class="invalid-feedback">Offline Polling is turned off</div>
                              <div class="valid-feedback">Offline Polling is turned on</div>
                            </div>
                          </form>
                          <p>Change how often the server will poll for printers that have been detected as offline... If you turn this off you will have to use the refresh button on the dashboard re-detect your printer.</p>
                          <p><b>Min:</b> 1 minutes, <b>Max:</b> 10 minutes</p>
                          <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                  <span class="input-group-text">Offline Poll Rate:</span>
                              </div>
                              <input type="number" class="form-control" placeholder="5" aria-label="Refresh Rate" id="offlinePollRate" value="5" min="1" max="10" step="1">
                              <div class="input-group-append">
                                  <span class="input-group-text">Minutes</span>
                              </div>
                          </div>
                          <hr>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="saveServerSettings" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="printerManagerModal" tabindex="-1" role="dialog" aria-labelledby="printerManagerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content bg-dark text-light">
          <div class="modal-header">
              <h5 class="modal-title" id="printerManagerTitle">Octoprint Manager:</h5>
              <h5 class="modal-title" id="printerIndex" style="display: none;"></h5>
              <span id="printerIndex" value=""></span>
              <button id="printerManagerModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="text-white" aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                          <div class="list-group" id="list-tab" role="tablist">
                                  <button id="pmStatus" type="button" class="btn btn-warning mb-2" href="#" target="_blank" disabled>STATUS</button>
                              <a class="list-group-item list-group-item-action active" id="printer-connection-btn" data-toggle="list" href="#printer-connection" role="tab" aria-controls="messages"><i class="fas fa-print"></i> Printer</a>
                              <a class="list-group-item list-group-item-action" id="printer-control-btn" data-toggle="list" href="#printer-control" role="tab" aria-controls="home"><i class="fas fa-gamepad"></i> Control</a>
                              <a class="list-group-item list-group-item-action" id="printer-terminal-btn" data-toggle="list" href="#printer-terminal" role="tab" aria-controls="home"><i class="fas fa-terminal"></i> Terminal</a>
                              <a class="list-group-item list-group-item-action" id="printer-plugins-btn" data-toggle="list" href="#printer-plugins" role="tab" aria-controls="messages"><i class="fas fa-plug"></i> Plugins</a>
                              <a class="list-group-item list-group-item-action" id="printer-gcode-btn" data-toggle="list" href="#printer-gcode" role="tab" aria-controls="messages"><i class="fas fa-pen"></i> Gcode Scripts</a>
                              <a class="list-group-item list-group-item-action" id="printer-settings-btn" data-toggle="list" href="#printer-settings" role="tab" aria-controls="messages"><i class="fas fa-cog"></i> Settings</a>
                          </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade" id="printer-terminal" role="tabpanel" aria-labelledby="system-settings-list">
                              <h5>Printer Terminal</h5>
                              <hr>
                              <div id="printerTerminal">
                                  <div id="terminal" class="terminal-window bg-secondary">


                                  </div>
                              </div>
                              <div class="input-group mb-3">
                                <input id="terminalInput" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                  <button id="terminalInputBtn" class="btn btn-seondary" type="submit">Send</button>
                                </div>
                              </div>
                          </div>
                              <div class="tab-pane fade" id="printer-control" role="tabpanel" aria-labelledby="system-settings-list">
                                  <h5>Printer Controls</h5>
                                  <hr>
                                  <div id="printerControls"></div>

                              </div>

                              <div class="tab-pane fade show active" id="printer-connection" role="tabpanel" aria-labelledby="system-panel-view-list">
                                  <h5>OctoPrint</h5>
                                  <hr>
                                  <div id="octoPrintControl">
                                      <div class="row align-items-center">
                                          <div class="col-lg-3" id="printerWeb">

                                          </div>
                                          <div class="col-lg-3" id="printerRestart">

                                          </div>
                                          <div class="col-lg-3" id="printerReboot">

                                          </div>
                                          <div class="col-lg-3" id="printerShutdown">

                                          </div>
                                      </div>

                                      <div class="row align-items-center">
                                          <div class="col-lg-12">
                                              <h5>Connection Information</h5>
                                              <hr>
                                          </div>
                                          <div class="col-lg-3" id="printerPortDrop">

                                          </div>
                                          <div class="col-lg-3" id="printerBaudDrop">

                                          </div>
                                          <div class="col-lg-3" id="printerProfileDrop">

                                          </div>
                                          <div class="col-lg-3" id="printerConnect">

                                          </div>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-12" id="printerInformation">
                                              
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="tab-pane fade" id="printer-plugins" role="tabpanel" aria-labelledby="system-panel-view-list">
                                  <h5>Octoprint Plugins</h5>
                                  <hr>
                                  <p>Below you will see a list of all your plugins. They will automatically turn green if supported, you will not have to do any futher prep. </p><p> If your {insert praise here} plugin isn't supported by me then please feel free to visit the application git and log a ticket.</a></a><br>
                                      <div id="printerManagerPlugins">

                                      </div>
                              </div>
                              <div class="tab-pane fade" id="printer-gcode" role="tabpanel" aria-labelledby="system-panel-view-list">
                                  <h5>Gcode Scripts</h5>
                                  <hr>
                                  <div id="printerManagerGcode">

                                  </div>
                              </div>
                              <div class="tab-pane fade" id="printer-settings" role="tabpanel" aria-labelledby="system-settings-list">
                                  <h5>Printer Settings</h5>
                                  <hr>
                                  <div class="col-lg-12" id="printerInformation">

                                  </div>
                                  <div id="printerManagerSettings">
                                      <h5>Camera Rotation</h5>
                                      <hr>
                                          <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="camRot90">
                                              <label class="form-check-label" for="camRot90">
                                                Rotate your camera by 90
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="camFlipH">
                                              <label class="form-check-label" for="camFlipH">
                                                Flip your camera horizontally
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="camFlipV">
                                              <label class="form-check-label" for="camFlipV">
                                                Flip your camera vertically
                                              </label>
                                            </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal-footer" id="printerManagerFooter">

            </div>
      </div>
  </div>
</div>
<div class="modal fade" id="filamentModal" tabindex="0" role="dialog" aria-labelledby="filamentModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h3 class="modal-title" id="systemSettingsLabel">Filament Manager</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span class="text-white" aria-hidden="true">&times;</span>
      </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                  <div class="row">
                    
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                          <div class="tab-content" id="nav-tabContent">
                              <div class="tab-pane fade show active" id="printer-add-edit" role="tabpanel" aria-labelledby="system-settings-list">
                                  <p>OctoFarm will use the list below to populate the filament list you see when starting a print.</p>
                                  <p><b>NOTE: </b> This is currently only used for reference on the History page. Deleting them here will not affect History at all.</p>
                                  <div id="message"></div>
                                      <div class="row">
                                        <div class="col-sm-12 col-lg-6">
                                          <div class="input-group mb-1">
                                            <input type="text" class="form-control" placeholder="New Manufacturer" aria-label="" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-success" type="button">Add</button>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                          <div class="input-group mb-1">
                                            <input type="text" class="form-control" placeholder="New Colour" aria-label="" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-success" type="button">Add</button>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                          <div class="input-group mb-1">
                                            <input type="text" class="form-control" placeholder="Filament Type" aria-label="" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-success" type="button">Add</button>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                          <div class="input-group mb-1">
                                            <input type="text" class="form-control" placeholder="Filament Density" aria-label="" aria-describedby="basic-addon1">
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-success" type="button">Add</button>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-12">
                                          <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Manufacturer</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01">
                                              <option selected>Choose...</option>
                                              <option value="1">One</option>
                                              <option value="2">Two</option>
                                              <option value="3">Three</option>
                                            </select>
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Filament</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01">
                                              <option selected>Choose...</option>
                                              <option value="1">One</option>
                                              <option value="2">Two</option>
                                              <option value="3">Three</option>
                                            </select>
                                            <div class="input-group-prepend">
                                              <label class="input-group-text" for="inputGroupSelect01">Colour</label>
                                            </div>
                                            <select class="custom-select" id="inputGroupSelect01">
                                              <option selected>Choose...</option>
                                              <option value="1">One</option>
                                              <option value="2">Two</option>
                                              <option value="3">Three</option>
                                            </select>
                                            <div class="input-group-append">
                                              <button class="btn btn-outline-success" type="button">Add</button>
                                            </div>
                                          </div>
                                        
                                        </div>
                                        </div>
                                      </div>
                   
                                  <table class="table">
                                      <thead>
                                          <tr>
                                              <th scope="col" width="150px">Manufacturer</th>
                                              <th scope="col" width="100px">Type</th>
                                              <th scope="col">Colour</th>
                                          </tr>
                                      </thead>
                                      <tbody id="addPrintersTable">
                                        

                                      </tbody>
                                  </table>
                              </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="modal-footer">
<button id="filamentSaveBtn" type="button" class="btn btn-light" data-dismiss="modal">
Close
</button>
</div>
</div>
</div>
</div>



</div>
    <script src="/js/vendor/bootstrap.bundle.js"></script>
    <script src="/js/vendor/lodash.min.js"></script>
    <script src="/js/vendor/bootbox.min.js"></script>
    <script src="/js/vendor/noty.js"></script>
    <script src="/js/printerManagement.js" type="module"></script>
    <script src="/js/lib/modules/printerManager.js" type="module"></script>
    <script src="/js/settings.js" type="module"></script>
    <script src="/js/vendor/screenfull.min.js"></script>
</body>

</html>