<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/bootstrap-v4.css" />
    <link rel="stylesheet" href="/css/slate.css" />
    <link rel="stylesheet" href="/css/octofarm.css" />
    <link rel="stylesheet" href="/css/noty.css">
    <script type="text/javascript" src="/js/vendor/jquery-3.4.1.min.js"></script>
    <title>OctoFarm</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand notyet" href="#">
            <center>OctoFarm</center>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                <li id="menuDashboard">
                    <a class="nav-link" href="/dashboard" class="disable">
                        <center><i class="fas fa-tachometer-alt"></i> Dashboard</center>
                    </a>
                </li>
                </li>
                <ul id="monitoringMenu" class="nav navbar-nav navbar-right">
                    <li class="nav-item dropdown">
                      <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                        <a class="nav-link" href="#" id="menuMonitoring" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <center><i class="fas fa-eye"></i> Monitoring</center>
                    </a>
                    <% }else { %>
                      <a class="nav-link notyet" href="#" id="menuMonitoring" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      <center><i class="fas fa-eye"></i> Monitoring</center>
                  </a>
                <%    } %>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <center>
                                <a class="dropdown-item" id="menuPanelView" href="/mon/panel"><i class="fas fa-columns"></i>
                                    Panel View</a>
                                <a class="dropdown-item" id="menuListView" href="/mon/list"><i class="fas fa-list"></i> List
                                    View</a>
                                <a class="dropdown-item" id="menuCameraView" href="/mon/camera"><i class="fas fa-video"></i>
                                    Camera View</a></center>
                        </div>
                    </li>
                </ul>
                <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="nav-link" href="/filemanager" id="fileManagerBtn">
                    <center><i class="fas fa-folder-open"></i> File Manager</center>
                </a>

                <% }else { %>
                  <a class="nav-link notyet" href="#" data-toggle="modal" role="button"
                  data-target="#fileManagerModal" id="fileManagerBtn">
                  <center><i class="fas fa-folder-open"></i> File Manager</center>
              </a>
            <%    } %>

                </li>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link notyet" data-toggle="collapse" id="farmStatusBtn" href="#dashPanelCollapse" role="button" aria-expanded="false" aria-controls="dashPanelCollapse">
                        <center><i class="fas fa-mail-bulk"></i> Bulk Actions</center>
                    </a>
                </li>-->
<!--                 <li class="nav-item">
                  <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                    <a class="nav-link" data-toggle="collapse" id="farmStatusBtn" href="#dashPanelCollapse"
                    role="button" aria-expanded="false" aria-controls="dashPanelCollapse">
                    <center><i class="fas fa-info"></i> Overview</center>
                </a>

                <% }else { %>
                  <a class="nav-link notyet" data-toggle="collapse" id="farmStatusBtn" href="#dashPanelCollapse"
                  role="button" aria-expanded="false" aria-controls="dashPanelCollapse">
                  <center><i class="fas fa-info"></i> Overview</center>
              </a>
            <%    } %> -->

                </li>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <% if(typeof name != 'undefined'){ %>
                         <a class="nav-link" href="#" id="systemDropDown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <% }else{%>
                        <a class="nav-link notyet" href="#" id="systemDropDown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <% } %>
                        <center><i class="fas fa-cogs"></i> System</center>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right bg-dark text-light" aria-labelledby="systemDropDown">
                        <% if(typeof name != 'undefined'){ %>
                            <h6 class="dropdown-header">Account</h6>  
                            <a class="dropdown-item text-center  text-light" href="#"><i class="far fa-user"></i> <%= name %></a>
                            <a class="dropdown-item text-center  text-light" href="/users/logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a>
                        <% }%>
                       
                        <h6 class="dropdown-header">Settings</h6>
                        <a class="dropdown-item  text-center text-light" href="#" data-toggle="modal"
                            data-target="#printerSetupModal" id="printerSetup"><i class="fas fa-print"></i> Printers</a>
                            <a class="dropdown-item  text-center  text-light" href="#" data-toggle="modal"
                            data-target="#systemSettingsModal" id="setSystemSettingsBtn"><i class="fas fa-cog"></i>
                            Client</a>
                            <a class="dropdown-item  text-center  text-light" href="#" data-toggle="modal"
                            data-target="#systemSettingsModal" id="setSystemSettingsBtn"><i class="fas fa-server"></i>
                            Server</a>

                            <h6 class="dropdown-header">Help</h6> 
                            <a class="dropdown-item text-center  text-light" href="#" data-toggle="modal"
                            data-target="#aboutOctoFarm" id="aBoutModalBtn"><i class="fas fa-info-circle"></i> About</a>
                        <% if(typeof version != 'undefined'){ %>
                            <a class="dropdown-item text-center text-light"
                            href="https://git.notexpectedyet.com/NotExpectedYet/OctoFarm/wiki/Changelog"
                            target="_blank"><i class="fas fa-code-branch"></i> Version: <%= version %></a>
                        <% }%>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <%- body %>





        <div class="modal fade" id="printerSetupModal" tabindex="0" role="dialog" aria-labelledby="printerSetupLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="systemSettingsLabel">Printer Management</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span class="text-white" aria-hidden="true">&times;</span>
                </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                    <div class="list-group" id="list-tab" role="tablist">
                                        <a class="list-group-item list-group-item-action active" id="system-settings-list" data-toggle="list" href="#printer-add-edit" role="tab" aria-controls="home"><i class="fas fa-plus"></i> Add/Delete</a>
                                        <a class="list-group-item list-group-item-action" id="system-dashboard-list" data-toggle="list" href="#printer-import-export" role="tab" aria-controls="profile"><i class="fas fa-file-import"></i> Import/Export</a>
                                        <a class="list-group-item list-group-item-action" id="system-panel-view-list" data-toggle="list" href="#printer-remove-all" role="tab" aria-controls="messages"><i class="fas fa-trash-alt"></i> Remove All</a>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                    <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="printer-add-edit" role="tabpanel" aria-labelledby="system-settings-list">
                                            <h5>Add/Delete Printers</h5>
                                            <hr>
                                            <p>Please use the form below to add your printers to OctoFarm. Once added click the Save button to add them to the database.</p><p> If you have any connection issues please make sure CORS is activated on Octoprint's API settings page.</p>
                                            <p>NOTE: If you would like to use your OctoPrint camera URL, leave it blank here and it will attempt to pull from Octoprint.</p>
                                            <div id="message"></div>
                                            <form>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="">IP: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="192.168.1.5" id="printerIP">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="">Port: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="5001" id="printerPort">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon3">Camera URL: </span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="192.168.1.5:8081/webcam/?action=stream" id="printerCamURL">
                                                </div>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon3">ApiKey</span>
                                                    </div>
                                                    <input type="text" class="form-control" placeholder="OctoPrints API Key" id="printerApiKey">
                                                </div>
                                                <button id="addPrinterLine" class="btn btn-primary btn-block"><i class="fas fa-plus"></i> Add Printer</button>
                                                <button id="editPrinters" class="btn btn-info btn-block d-none"><i class="fas fa-edit"></i> Edit Printers</button>


                                               
                                            </form>
                                            <hr>
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" width="150px">IP Address</th>
                                                        <th scope="col" width="100px">Port Number</th>
                                                        <th scope="col">Camera URL</th>
                                                        <th scope="col" width="200px">API Key</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="addPrintersTable">
                                                  
                                                    <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                                                        <%- include('./partials/Printers/printerTable.ejs') %>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                <div
                  class="tab-pane fade"
                  id="printer-import-export"
                  role="tabpanel"
                  aria-labelledby="system-dashboard-list"
                >
                  <h5>Import Printer List</h5>
                  <hr>
                  <p>
                    Please use the select button below to import a
                    pre-configured file containing your printers list. (This
                    will completely replace your printers list).
                  </p>
                  <p>
                    You can download an example import file here:
                    <a
                      class="text-info"
                      href="printers.json"
                      download
                      target="_blank"
                      >Import Example</a
                    >
                  </p>
                  <form id="uploadFileModalContentForm" class="text-center">
                    <p>Use the Select button to upload your file.</p>
                    <input
                      class="fileElem"
                      type="file"
                      id="importFileBtn"
                      accept=".json"
                    /><label
                      class="btn btn-lg btn-primary btn-block"
                      for="importFileBtn"
                      >Select</label
                    >
                  </form>
                  <br />
                  <h5>Export Printer List</h5>
                  <hr />
                  <p>
                    Click the button below to export a full list of your
                    printers saved in OctoFarm.
                  </p>
                  <center>
                    <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                        <button
                        id="exportPrintersBtn"
                        type="button"
                        class="btn btn-lg btn-primary btn-lg btn-block"
                        
                      >
                        Export Printers Database</button
                      ><br />
                    <% }else{ %>
                        <button
                        id="exportPrintersBtn"
                        type="button"
                        class="btn btn-lg btn-primary btn-lg btn-block"
                        disabled
                      >
                        Export Printers Database</button
                      ><br />
                    <% } %>
                   
                  </center>
                </div>
                <div
                  class="tab-pane fade"
                  id="printer-remove-all"
                  role="tabpanel"
                  aria-labelledby="system-panel-view-list"
                >
                  <h5>Remove All Printers</h5>
                  <hr>
                  <p>
                    This will remove all of your printers, it is unreversable so
                    if you'd like to keep a backup of your printer list please
                    use the Import/Export settings.
                  </p>
                  <p>Press save to complete the printer wipe.</p>
                  <p>
                    You have <span id="printerAmmount"><% if(typeof printerCount != 'undefined'){ %>
                        <%= printerCount %>
                    <% } else {%>
                        0
                        <% } %>
                </span> stored in
                    the database.
                  </p>
                  <center>
                    <% if(typeof printerCount != 'undefined' && printerCount > 0){ %>
                        <button
                        id="deletePrintersBtn"
                        type="button"
                        class="btn btn-danger btn-lg btn-block"
                        
                      >
                        Delete Printers Database</button
                      ><br />
                    <% }else{ %>
                        <button
                        id="deletePrintersBtn"
                        type="button"
                        class="btn btn-danger btn-lg btn-block"
                        disabled
                      >
                        Delete Printers Database</button
                      ><br />
                    <% } %>

                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="printerSaveBtn" type="button" class="btn btn-success" data-dismiss="modal">
          Save
        </button>
      </div>
    </div>
  </div>
        </div>
        <div class="modal fade" id="multiUploadModal" tabindex="0" role="dialog" aria-labelledby="multiUploadLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h3 class="modal-title" id="systemSettingsLabel">Multi-Upload</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-white" aria-hidden="true">&times;</span>
              </button>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  text-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                  <button class="btn btn-danger">1. Choose your printers..</button>
                                  <button class="btn btn-warning" disabled>2. Choose your folder path..</button>
                                  <button class="btn btn-success" disabled>3. Select your files..</button>
                                  <button class="btn btn-info" disabled>4. Uploading..</button>
                                </div>

                              </div>
                              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="col-lg-12">
                                  <p>Check the boxes below to select the printers you'd like to upload files too.</p>
                                  <p><b>Note:</b> You must select at least 2 printers.</p>
                                  <form class="was-validated form-check-inline form-check">
                                    <div class="custom-control custom-checkbox mb-2 pr-2">
                                      <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
                                      <label class="custom-control-label" for="customControlValidation1">0. TEST NAME</label>
                                      <div class="invalid-feedback">Not this printer</div>
                                    </div>
                                    </form>
                                </div>
                                <div class="col-lg-12">
                                  <p>Please type the folder name you'd like to create on the selected printers.</p>
                                  <p><b>Note:</b> Leaving blank will create the files in local</p>
                                  <input id="newFolderName" class="form-control bg-dark text-light" type="text" placeholder="Please type your new folder name here..." aria-label="NewFolder">
                                </div>
                                <div class="col-lg-12">
                                  <p>Please use the form below to select the files you'd like to complete this process with. </p>
                                  <p><b>Note:</b> You can select a single file, or multiple.</p>
                                  <div class="mb-3"><center><div id="drop-area"> <form class="my-form"> <p>Drag and Drop into the dashed region, or use the Select button to upload your file.</p><input type="file" id="gcodeUpload" multiple accept=".gcode,.gco,.g"><label class="btn btn-success" for="gcodeUpload">Select</label><br></form></div></div></center>
                                </div>
                                <div class="col-lg-12">
                                  <p><b>Note:</b> Due to the network heavy nature of this function this modal is locked in place until complete.</p>
                                  <div class="row">
                                    <div class="col-lg-4">
                                      <h5>Printer Progress</h5>
                                      <button type="button" class="btn btn-secondary">0. TEST NAME<br>
                                        <div class="progress">
                                          <div class="progress-bar bg-ssecondary" progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                        </div></button>
                                        <button type="button" class="btn btn-primary">2. Bob<br>
                                          <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                                          </div></button>
                                          <button type="button" class="btn btn-primary">5. Anothjer Name<br>
                                            <div class="progress">
                                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                            </div></button>
                                            <button type="button" class="btn btn-primary">6. <br>
                                              <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                              </div></button>
                                    </div>
                                    <div class="col-lg-8">
                                      <h5>File Progress</h5>
                                      <button type="button" class="btn btn-primary">Poppy-Something.gcode<br>
                                        <div class="progress">
                                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
                                        </div></button>
                                        <button type="button" class="btn btn-success">more something.gcode<br>
                                          <div class="progress">
                                            <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                                          </div></button>
                                          <button type="button" class="btn btn-primary">a really long title for a bloody gcode file.gcode<br>
                                            <div class="progress">
                                              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%"></div>
                                            </div></button>
                                            <button type="button" class="btn btn-primary">another file of similar context.gcode<br>
                                              <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                                              </div></button>

                                    </div>
                                  </div>
                                </div>

          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark float-right">Next</button><button type="button" class="btn btn-dark float-left">Previous</button><button type="button" class="btn btn-dark float-left">Close</button>
    </div>
  </div>
</div>
      </div>




</div>
    <script src="/js/vendor/bootstrap.bundle.js"></script>
    <script src="/js/vendor/lodash.min.js"></script>
    <script src="/js/vendor/bootbox.min.js"></script>
    <script src="/js/vendor/noty.js"></script>
    <script src="/js/printerManagement.js" type="module"></script>
</body>

</html>