<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/css/font-awesome.css" />
    <link rel="stylesheet" href="/css/bootstrap-v4.css" />
    <link rel="stylesheet" href="/css/themes/slate.css" />
    <link rel="stylesheet" href="/css/octofarm.css" />
    <link rel="stylesheet" href="/css/noty.css"/>
    <link rel="stylesheet" href="/css/balloon.css"/>
    <link rel="stylesheet" href="/css/jplist.css"/>
    <script type="text/javascript" src="/js/vendor/jquery-3.4.1.min.js"></script>

    <title>OctoFarm: <%= page %></title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top p-1">
    <a class="navbar-brand notyet" href="#">
        <img src="favicon.ico" width="40px" class="pl-2" alt="favicon">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <% let noPrinters = "d-none" %>
    <% if(typeof printerCount !== 'undefined' && printerCount > 0){ %>
        <% noPrinters = "" %>
    <% } %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="menuDashboard">
                <a title="Farm Dashboard" class="nav-link text-center" href="/dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
            <a title="Panel Layout Monitoring View" class="nav-link text-light text-center btn-sm <%= noPrinters %>" id="menuPanelView" href="/mon/panel"><i class="fas fa-columns"></i>
                Panel</a>
            </li>
            <li class="nav-item">
            <a title="List Layout Monitoring View" class="nav-link text-light text-center btn-sm <%= noPrinters %>" id="menuListView" href="/mon/list"><i class="fas fa-list"></i> List</a>
            </li>
            <li class="nav-item">

            <a title="Camera Layout Monitoring View" class="nav-link text-light text-center btn-sm <%= noPrinters %>" id="menuCameraView" href="/mon/camera"><i class="fas fa-video"></i>
                Camera</a>
            </li>
            <li class="nav-item">
            <a title="Current Operations Monitoring Layout View" class="nav-link text-light text-center btn-sm <%= noPrinters %>" id="menucurrentOperationsView" href="/mon/currentOp"><i class="fas fa-star"></i>
                Current Operations</a>
            </li>
            <% if(page.includes("Camera") || page.includes("List") || page.includes("Panel")){%>
                <li class="nav-item">
                    <div class="input-group p-0 m-0 pr-1  mx-auto">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="filterStates">Filter: </label>
                        </div>
                        <select class="custom-select" id="filterStates" data-jplist-control="select-filter" data-group="printers" data-name="view-filter" data-id="view-filter-select">
                            <option selected="" href="#" value="all">All Printers</option>
                            <option href="#" data-path=".Idle" value="idle">State: Idle</option>
                            <option href="#" data-path=".Active" value="active">State: Active</option>
                            <option href="#" data-path=".Complete" value="complete">State: Complete</option>
                            <option href="#" data-path=".Disconnected" value="disconnected">State: Disconnected</option>

                        </select>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="input-group p-0 m-0 pr-1 mx-auto">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="sortStates">Sort: </label>
                        </div>
                        <select class="custom-select " id="sortStates" data-jplist-control="select-sort" data-group="printers" data-name="view-sort" data-id="view-sort-select">
                            <option href="#" selected="" data-path=".index" data-order="asc" data-type="number" value="index">Index</option>
                            <option href="#" data-path=".percent" data-order="desc" data-type="number" value="percent">Percent</option>
                            <option href="#" data-path=".time" data-order="asc" data-type="number" value="time">Time</option>

                        </select>
                    </div>
                </li>

            <% }%>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="menuPrinters">
                <a title="Printer Setup"  class="nav-link text-center" href="/printers">
                    <i class="fas fa-print"></i> Printers
                </a>
            </li>
            <li class="nav-item">
                <a   title="File Manager" class="d-none d-sm-none d-md-none d-lg-block nav-link" href="/filemanager" id="fileManagerBtn">
                    <i class="fas fa-folder-open"></i> File Manager
                </a>
            </li>
            <li class="nav-item">
                <a title="Print History"  class="nav-link text-center" href="/history" id="historyBtn">
                    <i class="fas fa-history"></i> History
                </a>
            </li>
            <li class="nav-item">
                <a  title="Filament Management"  class="nav-link text-center" href="/filament" id=""><i class="fas fa-toilet-paper"></i> Filament</a>
            </li>
            <li class="nav-item">
                <a  title="Filament Management"  class="nav-link text-center" href="/system" id=""><i class="fas fa-cogs"></i> System</a>
            </li>
                </ul>
    </div>
</nav>
<div>
    <%- body %>
    <div class="modal fade" id="printerManagerModal" tabindex="-1" role="dialog" aria-labelledby="printerManagerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header px-3 pt-3 pb-2">
                    <div class="input-group mb-0"   style="width:600px">
                        <div class="input-group-prepend">
                            <label class="input-group-text p-1" for="printerSelection">Printer Control: </label>
                        </div>
                        <select class="custom-select p-1" id="printerSelection">

                        </select>
                    </div>
                    <span id="printerIndex" value="" style="display: none;"></span>
                    <button id="printerManagerModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 text-center" id="status">
                                <button id="pmStatus" type="button" class="btn btn-secondary mb-2 " href="#" target="_blank" disabled><i class="fas fa-spinner fa-spin"></i></button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" id="printerPortDrop">

                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2" id="printerBaudDrop">

                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3" id="printerProfileDrop">

                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2" id="printerConnect">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div id="printerControls"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="printerManagerFooter">
                    <button id="" type="button" class="btn btn-light" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="printerSettingsModal" tabindex="-1" role="dialog" aria-labelledby="printerSettingsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header px-3 pt-3 pb-2">
                    <div class="input-group mb-0"   style="width:600px">
                        <div class="input-group-prepend">
                            <label class="input-group-text p-1" for="printerSettingsSelection">Printer Settings: </label>
                        </div>
                        <select class="custom-select p-1" id="printerSettingsSelection">

                        </select>
                    </div>
                    <span id="printerSettingsIndex" value="" style="display: none;"></span>
                    <button id="printerSettingsModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                                <div class="list-group" id="list-tab" role="tablist">
                                    <a class="list-group-item list-group-item-action active" id="printer-connection-btn" data-toggle="list" href="#printer-connection" role="tab" aria-controls="messages"><i class="fas fa-plug"></i> Connection</a>
                                    <a class="list-group-item list-group-item-action" id="printer-cost-btn" data-toggle="list" href="#printer-cost" role="tab" aria-controls="messages"><i class="fas fa-dollar-sign"></i> Cost</a>
                                    <a class="list-group-item list-group-item-action" id="printer-profile-btn" data-toggle="list" href="#printer-profile" role="tab" aria-controls="messages"><i class="fas fa-tags"></i> Profile</a>
                                    <a class="list-group-item list-group-item-action" id="printer-power-btn" data-toggle="list" href="#printer-power" role="tab" aria-controls="messages"><i class="fas fa-plug"></i> Power</a>
                                    <a class="list-group-item list-group-item-action" id="printer-alerts-btn" data-toggle="list" href="#printer-alerts" role="tab" aria-controls="messages"><i class="fas fa-bell"></i> Alerts</a>
                                    <a class="list-group-item list-group-item-action" id="printer-gcode-btn" data-toggle="list" href="#printer-gcode" role="tab" aria-controls="messages"><i class="fas fa-pen"></i> Gcode Scripts</a>
                                    <a class="list-group-item list-group-item-action" id="printer-settings-btn" data-toggle="list" href="#printer-settings" role="tab" aria-controls="messages"><i class="fas fa-cog"></i>Other Settings</a>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="printer-connection" role="tabpanel" aria-labelledby="system-panel-view-list">
                                        <h5>Connection Defaults</h5>
                                        <hr>
                                        <p>Set OctoPrints default connection settings. These will be saved to your OctoPrint instance so it will always use these when connecting to your printer.</p>
                                        <div id="psConnectionDefaults" class="row">

                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultPortDrop">

                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultBaudDrop">

                                            </div>
                                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" id="psDefaultProfileDrop">

                                            </div>
                                        </div>
                                        <div id="psCurrentConnection" class="row">
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                <h5>Current Status</h5>
                                                <hr>
                                                <button id="psHost" type="button" class="btn btn-warning mb-1 btn-block" href="#" target="_blank" disabled>Checking..</button>
                                                <button id="psStatus" type="button" class="btn btn-warning mb-1 btn-block" href="#" target="_blank" disabled>Checking..</button>
                                                <button id="psWebSocket" type="button" class="btn btn-warning mb-1 btn-block" href="#" target="_blank" disabled>Checking..</button>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                <h5>API Status</h5>
                                                <hr>
                                                <button title="Click to re-sync your OctoPrint instance" class="btn btn-danger mb-1 btn-block" id="apiCheck"><i class="fas fa-link"></i></button>
                                                <button title="Click to recheck printers Files" class="btn btn-danger mb-1 btn-block" id="filesCheck"><i class="fas fa-file-code"></i></button>
                                                <button title="Click to recheck printers State" class="btn btn-danger mb-1 btn-block" id="stateCheck" ><i class="fas fa-info-circle"></i></button>
                                                <button title="Click to recheck printers Profile" class="btn btn-danger mb-1 btn-block" id="profileCheck"><i class="fas fa-id-card"></i></button>
                                                <button title="Click to recheck printers Settings" class="btn btn-danger mb-1 btn-block" id="settingsCheck"> <i class="fas fa-cog"></i></button>
                                                <button title="Click to recheck printers System" class="btn btn-danger mb-1 btn-block" id="systemCheck"><i class="fas fa-server"></i></button>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                                <h5>Cleaner Status</h5>
                                                <hr>
                                                <button title="Printers Information cleaning status" class="btn btn-danger mb-1 btn-block" id="apiClean"><i  class="fas fa-id-card"></i></button>
                                                <button title="Printers Job Information cleaning status" class="btn btn-danger mb-1 btn-block" id="filesClean"><i  class="fas fa-info-circle"></i></button>
                                                <button title="Printers File Information cleaning status" class="btn btn-danger mb-1 btn-block" id="stateClean"><i  class="fas fa-file-code"></i></button>
                                            </div>
                                        </div>
                                        </div>
                                    <div class="tab-pane fade" id="printer-profile" role="tabpanel" aria-labelledby="system-panel-view-list">
                                        <h5>Printer Profiles</h5>
                                        <hr>
                                        <p>Below is your current selected printer profile information. You may make edits to it here and have it saved back in OctoPrint.</p>
                                        <div id="psPrinterProfiles" class="row">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="printer-cost" role="tabpanel" aria-labelledby="system-panel-view-list">
                                        <h5>Printer Costs</h5>
                                        <hr>
                                        <p>Below are the settings used to calculate the printer costs column in history and on other views.</p>
                                        <div id="psPrinterCost" class="row">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="printer-alerts" role="tabpanel" aria-labelledby="system-panel-view-list">
                                        <h5>Alerts</h5>
                                        <hr>
                                        <p>List of Alerts activated on this printer.</p>
                                        <p>To set these up go to System -> Alerts</p>
                                        <div class="row">
                                            <div class="col-12" id="psCustomAlertsTable">
                                                <table id="customAltersTable" class="table table-sm table-dark table-striped table-responsive-sm table-responsive-md text-center">
                                                    <thead >
                                                    <tr>
                                                        <th scope="col">Active</th>
                                                        <th scope="col"  width="150px">Trigger</th>
                                                        <th scope="col">Script</th>
                                                        <th scope="col">Message</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="printerAltersTableBody" style="height:100%; overflow-y:auto;">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="printer-power" role="tabpanel" aria-labelledby="system-panel-view-list">
                                        <h5>Power Commands</h5>
                                        <hr>
                                        <p>Setup your host/printer power commands here. Enabling these will add a Power menu button next to printer control on all views.</p>
                                        <div class="row">
                                            <div class="col-12" id="psPowerCommands">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="printer-gcode" role="tabpanel" aria-labelledby="system-panel-view-list">
                                        <h5>Gcode Scripts</h5>
                                        <hr>
                                        <p>NOTE: OctoPrint doesn't seem to update the API with this information straight away. If it doesn't seem to update after clicking the "Save Changes" button then please check there to see if your values have saved, you will need to use the resync button on the interface for OctoFarm to detect the changes.</p>
                                        <div id="psGcodeManagerGcode">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="printer-settings" role="tabpanel" aria-labelledby="system-settings-list">
                                        <h5>Printer Settings</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12 col-md-4" id="printerManagerSettings">
                                                <h6><u>Camera Settings</u></h6>
                                                <div id="cameraRotation">

                                                </div>
                                            </div>
                                            <div class="col-12 col-md-4" id="printerManagerSettings">
                                                <h6><u>Temperature Triggers</u></h6>
                                                <div id="tempTriggers">

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="printerSettingsFooter">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lostServerConnection" tabindex="0" role="dialog" aria-labelledby="lostServerConnection" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lostServerConnection">Lost Connection to Server...</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <p><i id="lostConnectionSpinner" class="fas fa-spinner fa-spin"></i></p>
                                <p id="lostConnectionText">Attempting to reconnect...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="connectionActionBtn" class="modal-footer">
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="connectionModal" tabindex="0" role="dialog" aria-labelledby="connectionModal" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="connectionModalLabel">Printer Connect/Disconnect</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="printerConnection" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="connectionActionBtn" class="modal-footer">
                    <button id="" type="button" class="btn btn-light" data-dismiss="modal">
                        Cancel
                    </button>

                </div>
            </div>
        </div>
    </div>

    <div id="overlay"><i id="overlayIcon" class="fas fa-spinner fa-pulse fa-10x textActive"></i></div>
    <script src="/js/vendor/bootstrap.bundle.js"></script>
    <script src="/js/vendor/lodash.min.js"></script>
    <script src="/js/vendor/bootbox.min.js"></script>
    <script src="/js/vendor/noty.js"></script>
    <script src="/js/vendor/apexcharts.min.js"></script>
    <script src="/js/lib/modules/workers/serverAliveCheck.js"></script>
    <script src="/js/lib/modules/printerManager.js" type="module"></script>
    <script src="/js/lib/modules/printerSettings.js" type="module"></script>
    <script src="/js/vendor/jpList.js"></script>

</body>

</html>