<% sortedIndex.forEach(sorted => { %> 
  <% if(typeof printers[sorted.actualIndex].stateColour != 'undefined' && typeof printers[sorted.actualIndex].settingsApperance != "undefined" && printers[sorted.actualIndex].settingsApperance.category != 'Offline' ){%> 
  <!-- Connected -->
<div class="list-group" id="printerCard-<%= printers[sorted.actualIndex].index %>">
  <li class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between text-white">
      <h5 id="printerName-<%= printers[sorted.actualIndex].index %>" class="mb-1 ml-1"> <i id="printerIcon-<%= printers[sorted.actualIndex].index %>" class="fas fa-print"></i>  <%= printers[sorted.actualIndex].index %>.
        <%= printers[sorted.actualIndex].settingsApperance.name %></span
        ></h5>
      <small><span id="printerBadge-<%= printers[sorted.actualIndex].index %>"
        class="badge badge-<%= printers[sorted.actualIndex].stateColour.name %> badge-pill"
        >
            <%= printers[sorted.actualIndex].state %>
        </small></span>
    </div>
    <button  id="printerButton-<%= printers[sorted.actualIndex].index %>"
      type="button"
      class="btn btn-secondary btn-sm float-right"
      data-toggle="modal"
      data-target="#printerManagerModal" disabled
    >
      <i class="fas fa-cog"></i>
    </button>
    <button  id="printerSyncButton-<%= printers[sorted.actualIndex].index %>"
      type="button"
      class="btn btn-secondary btn-sm float-right mr-1"
    >
    <i class="fas fa-sync"></i>
    </button>
    <span  id="printerSortButton-<%= printers[sorted.actualIndex].index %>"
      class="btn btn-secondary btn-sm float-right mr-1 sortableList"
    >
    <i class="fas fa-grip-vertical"></i>
    </span>
    <small class="pt-2 float-left ml-1 text-white"><i class="fas fa-network-wired"></i> <%= printers[sorted.actualIndex].ip%>:<%= printers[sorted.actualIndex].port%></small>
  </li>
</div>
    <% }else{ %>
      <div class="list-group" id="printerCard-<%= printers[sorted.actualIndex].index %>">
        <% if(typeof printers[sorted.actualIndex].settingsApperance != "undefined" ){%> <%= printers[sorted.actualIndex].settingsApperance.name %> <%}%>
        <li class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between text-white">
            <h5 id="printerName-<%= printers[sorted.actualIndex].index %>" class="mb-1 ml-1"> <i id="printerIcon-<%= printers[sorted.actualIndex].index %>" class="fas fa-print"></i>  <%= printers[sorted.actualIndex].index %>. Searching for printers information...</span
              ></h5>
            <small><span id="printerBadge-<%= printers[sorted.actualIndex].index %>"
              class="badge badge-danger badge-pill"
              >
                <i class="fas fa-spinner fa-pulse"></i>   Searching...

              </small></span>
          </div>
          <button  id="printerButton-<%= printers[sorted.actualIndex].index %>"
            type="button"
            class="btn btn-secondary btn-sm float-right"
            data-toggle="modal"
            data-target="#printerManagerModal"
          disabled>
            <i class="fas fa-cog"></i>
          </button>
          <button  id="printerSyncButton-<%= printers[sorted.actualIndex].index %>"
            type="button"
            class="btn btn-secondary btn-sm float-right mr-1"
          >
          <i class="fas fa-sync"></i>
          </button>
          <span  id="printerSortButton-<%= printers[sorted.actualIndex].index %>"
            class="btn btn-secondary btn-sm float-right mr-1 sortableList"
          >
          <i class="fas fa-grip-vertical"></i>
          </span>
          <small class="pt-2 float-left ml-1 text-white"><i class="fas fa-network-wired"></i> <%= printers[sorted.actualIndex].ip%>:<%= printers[sorted.actualIndex].port%></small>
        </li>
      </div>


    <% } %> 

 <% }) %>
