

<% printers.forEach(printer => { %> 
  <% if(typeof printer.stateColour != 'undefined' && typeof printer.settingsApperance != "undefined" && printer.settingsApperance.category != 'Offline' ){%> 
  <!-- Connected -->
<div class="list-group" id="printerCard-<%= printer.index %>">
  <li class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between text-white">
      <h5 id="printerName-<%= printer.index %>" class="mb-1 ml-1"> <i class="fas fa-print"></i>  <%= printer.index %>.
        <%= printer.settingsApperance.name %></span
        ></h5>
      <small><span id="printerBadge-<%= printer.index %>"
        class="badge badge-<%= printer.stateColour.name %> badge-pill"
        >
            <%= printer.state %>
        </small></span>
    </div>
    <button  id="printerButton-<%= printer.index %>"
      type="button"
      class="btn btn-secondary btn-sm float-right d-block ml-1"
      data-toggle="modal"
      data-target="#printerManagerModal"
    >
      <i class="fas fa-cog"></i>
    </button>
<a href="http://<%= printer.ip%>:<%= printer.port%>" target="_blank">
    <button  id="octoButton-<%= printer.index %>"
            type="button"
            class="btn btn-secondary btn-sm float-right d-block ml-1"
            data-toggle="modal"
            data-target="http://<%= printer.ip%>:<%= printer.port%>" target="_blank"
    >
            <i class="fas fa-globe-europe"></i>
          </button>
</a>
    <small class="pt-2 float-left ml-1 text-white"><i class="fas fa-network-wired"></i> <%= printer.ip%>:<%= printer.port%></small>
  </li>
</div>
    <% }else{ %>
      <div class="list-group" id="printerCard-<%= printer.index %>">
        <li class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between text-white">
            <h5 id="printerName-<%= printer.index %>" class="mb-1 ml-1"> <i class="fas fa-print"></i>  <%= printer.index %>. Searching for printer information...</span
              ></h5>
            <small><span id="printerBadge-<%= printer.index %>"
              class="badge badge-danger badge-pill"
              >
                <i class="fas fa-spinner fa-pulse"></i>   Searching...

              </small></span>
          </div>
          <button  id="printerButton-<%= printer.index %>"
            type="button"
            class="btn btn-secondary btn-sm float-right d-block ml-1"
            data-toggle="modal"
            data-target="#printerManagerModal"
          disabled>
            <i class="fas fa-cog"></i>
          </button>
<a href="http://<%= printer.ip%>:<%= printer.port%>" target="_blank">
          <button  id="octoButton-<%= printer.index %>"
            type="button"
            class="btn btn-secondary btn-sm float-right d-block ml-1"
            data-toggle="modal"
            data-target="http://<%= printer.ip%>:<%= printer.port%>" target="_blank"
          disabled>
            <i class="fas fa-globe-europe"></i>
          </button>
</a>
          <small class="pt-2 float-left ml-1 text-white"><i class="fas fa-network-wired"></i> <%= printer.ip%>:<%= printer.port%></small>
        </li>
      </div>


    <% } %> 

 <% }) %>
