<div class="row">
  <div class="col-lg-6 text-center text-light">
    <b><i class="fas fa-star-half-alt"></i> Farm Utilisation</b>
    <p class="mb-0 mt-1">
      <span id="activeHours"><i class="fas fa-square text-success"></i> <b>Active: </b>
      <%=  helpers.generateTime(octofarmStatistics.activeHours) %></span>
      <span id="idleHours"><i class="fas fa-square text-danger"></i> <b>Idle: </b>
      <%=  helpers.generateTime(octofarmStatistics.idleHours) %>
      <% let idlePercent = 100 - octofarmStatistics.activePercent  %></span>

    </p>
    <center>
      <div class="progress mb-0">
        <div id="activeProgress"
          class="progress-bar progress-bar-striped bg-success"
          role="progressbar"
          style="width: <%= octofarmStatistics.activePercent %>% "
          aria-valuenow=" <%= octofarmStatistics.activePercent %>%"
          aria-valuemin="0"
          aria-valuemax="100"
        >
        <%= octofarmStatistics.activePercent %>%
        </div>
        <div id="idleProgress"
          class="progress-bar progress-bar-striped bg-danger"
          role="progressbar"
          style="width: <%= idlePercent %>% "
          aria-valuenow="<%= idlePercent %>%"
          aria-valuemin="0"
          aria-valuemax="100"
        >
        <%= idlePercent %>%
        </div>
      </div>
    </center>
  </div>
  <div class="col-lg-6 text-center text-light">
    <b class="mt-1"><i class="fas fa-archive"></i> Files and Storage</b>
    <div class="row">
      <div class="col-lg-6">
        <p class="mb-0">
          <i class="fas fa-square text-warning"></i> <b>Used: </b>
          <%=  helpers.generateBytes(octofarmStatistics.storageUsed) %>

          <i class="fas fa-square text-success"></i> <b>Available: </b>
          <%=  helpers.generateBytes(octofarmStatistics.storageRemain) %>

          <% let storageRemainPercent = 100 -octofarmStatistics.storagePercent %>
        </p>
        <center>
          <div class="progress mb-0">
            <div
              class="progress-bar progress-bar-striped bg-warning"
              role="progressbar"
              style="width:  <%=  octofarmStatistics.storagePercent %>% "
              aria-valuenow="  <%= octofarmStatistics.storagePercent %>%"
              aria-valuemin="0"
              aria-valuemax="100"
            >
            <%= octofarmStatistics.storagePercent %>%
            </div>
            <div
              class="progress-bar progress-bar-striped bg-success"
              role="progressbar"
              style="width: <%= storageRemainPercent %>% "
              aria-valuenow="<%= storageRemainPercent %>%"
              aria-valuemin="0"
              aria-valuemax="100"
            >
            <%= storageRemainPercent %>%
            </div>
          </div>
        </center>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6">
            <b>Largest File <br /></b> <%=  helpers.generateBytes(octofarmStatistics.largestFile) %><br />
          </div>
          <div class="col-lg-6">
            <b>Smallest File <br /></b><%=  helpers.generateBytes(octofarmStatistics.smallestFile) %><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
