<div class="row">
  <div class="col-lg-12 text-center text-light">
    <b><i class="fas fa-hourglass"></i> System Uptime</b>
    <center>
      <%- helpers.generateTime(systemInfo.sysUptime.uptime)%>
    </center>
    <b class="mt-1"><i class="fas fa-microchip"></i> CPU Usage</b>
    <p class="mb-0">
      <i class="fas fa-square text-warning"></i> <b>System: </b><%= Math.round(
      systemInfo.cpuLoad.currentload_system * 10 ) / 10 %>%
      <i class="fas fa-square text-info"></i> <b>OctoFarm: </b><%= Math.round(
      systemInfo.sysProcess.pcpu * 10 ) / 10 %>%
      <i class="fas fa-square text-primary"></i> <b>User: </b><%= Math.round(
      systemInfo.cpuLoad.currentload_user * 10 ) / 10 %>% <br />
    </p>
    <div class="progress mb-1">
      <div
        class="progress-bar progress-bar-striped bg-warning"
        role="progressbar"
        style="width: <%= Math.round( systemInfo.cpuLoad.currentload_system * 10 ) / 10 %>% "
        aria-valuenow="<%= Math.round( systemInfo.cpuLoad.currentload_system * 10 ) / 10 %>% "
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-striped bg-info"
        role="progressbar"
        style="width: <%= Math.round( systemInfo.sysProcess.pcpu * 10 ) / 10 %>% "
        aria-valuenow="<%= Math.round( systemInfo.sysProcess.pcpu * 10 ) / 10 %>%"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-striped bg-primary"
        role="progressbar"
        style="width: <%= Math.round( systemInfo.cpuLoad.currentload_user * 10 ) / 10 %>% "
        aria-valuenow="<%= Math.round( systemInfo.cpuLoad.currentload_user * 10 ) / 10 %>%"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        style="width:   <%= 100 - Math.round(((Math.round( systemInfo.sysProcess.pcpu * 10) / 10 + Math.round( systemInfo.cpuLoad.currentload_user * 10) / 10 + Math.round( systemInfo.cpuLoad.currentload_system * 10) / 10)) * 10 ) / 10 %>%  "
        aria-valuenow="  <%= 100 - Math.round(((Math.round( systemInfo.sysProcess.pcpu * 10) / 10 + Math.round( systemInfo.cpuLoad.currentload_user * 10) / 10 + Math.round( systemInfo.cpuLoad.currentload_system * 10) / 10)) * 10 ) / 10 %>%   "
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
    <b class="mt-1"><i class="fas fa-memory"></i> System RAM Usage</b>
    <p class="mb-0">
      <i class="fas fa-square text-warning"></i>
      <b>Other: </b><%= helpers.generateBytes(systemInfo.memoryInfo.total -
      systemInfo.memoryInfo.free) %>
      <i class="fas fa-square text-info"></i>
      <b>OctoFarm: </b>
      <%= helpers.generateBytes(systemInfo.memoryInfo.total / 100 *
      systemInfo.sysProcess.pmem) %>

      <i class="fas fa-square text-success"></i>
      <b>Free: </b><%= helpers.generateBytes(systemInfo.memoryInfo.free) %>
    </p>

    <div class="progress mb-1">
      <div
        class="progress-bar progress-bar-striped bg-warning"
        role="progressbar"
        style="width: <%= Math.round((systemInfo.memoryInfo.used / systemInfo.memoryInfo.total * 100) *10) /10 %>%"
        aria-valuenow="<%= Math.round((systemInfo.memoryInfo.used / systemInfo.memoryInfo.total * 100) *10) /10 %>%"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-striped bg-info"
        role="progressbar"
        style="width: <%= Math.round(systemInfo.sysProcess.pmem *10) /10 %>%"
        aria-valuenow="<%= Math.round(systemInfo.sysProcess.pmem *10) /10 %>%"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
      <div
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        style="width: <%= 100 - Math.round((systemInfo.memoryInfo.used / systemInfo.memoryInfo.total * 100) *10) /10 %>%"
        aria-valuenow="<%= 100 - Math.round((systemInfo.memoryInfo.used / systemInfo.memoryInfo.total * 100) *10) /10 %>%"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
  </div>
</div>
