<% if(typeof printerCount != 'undefined' && printerCount > 0 ) { %>
    <% if(clientSettings.views.currentOperations){ %> <%-
    include('./partials/currentOperations.ejs') %> <% } %>
    <%- include('./partials/actionsBar.ejs') %>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="printerArea" class="row">
        </div>
    </div>
    <script src="/assets/dist/group-view.runner.<%= clientVersion %>.min.js" type="module"></script>
    <script src="/assets/dist/bulk-action-commands.<%= clientVersion %>.functions.min.js" type="module"></script>
<% }else{ %>
    <%- include('./addPrinters.ejs') %>
<% } %>

<!-- Modal -->
<div class="modal fade" id="unifiedFileListModal" tabindex="-1" role="dialog" aria-labelledby="unifiedFileListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" style="overflow-y: initial !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="unifiedFileListModalLabel">Unified File List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center" style="height: 20vh; overflow-y: auto;">
                <div id="printFilesList" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
