<% const base = './partials' %>

<% const octofarmErrorModal = base + '/octofarm-error.modal.ejs'  %>
<% let currentUserGroup = "User" %>
<% if(typeof userGroup !== "undefined") { %>
    <% currentUserGroup = userGroup %>
<% } %>
<% const modal = base + '/octofarm-modal.ejs' %>

<!DOCTYPE html>
<html lang="en" data-bs-color-scheme>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?<%= clientVersion %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?<%= clientVersion %>">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?<%= clientVersion %>">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?<%= clientVersion %>" color="#5bbad5">
    <link rel="stylesheet" href="/assets/dist/custom.css?<%= clientVersion %>"/>
    <link rel="stylesheet" href="/assets/dist/vendor.css?<%= clientVersion %>"/>
    <link rel="stylesheet" href="/assets/dist/no-nav.css?<%= clientVersion %>"/>
    <link rel="stylesheet" href="/assets/dist/overrides.css?<%= clientVersion %>"/>
    <link rel="stylesheet" href="/assets/dist/background.css?<%= clientVersion %>"/>
    <title><%= octoFarmPageTitle %>: <%= page %></title>
    <script src="/assets/jquery.min.js?<%= clientVersion %>"></script>
    <script src="/assets/bootbox.min.js?<%= clientVersion %>"></script>
    <script src="/assets/darkmode.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/vendor.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/navbar.utils.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/client-error.modal.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/navbar.utils.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/events.service.min.js?<%= clientVersion %>"></script>
</head>

<body id="body-pd">
<!--Container Main start-->

    <%- body %>
<!--Container Main end-->
</body>

<%- include(octofarmErrorModal) %>
<%- include(modal, {
modal:{
id: "lostConnection",
title: "<i class='fa-solid fa-satellite-dish text-purple'></i> Lost Connection to Server...",
isBodyScrollable: "false",
centered: true,
size: "modal-md",
noClose: true
},
bodyFile:'./ModalContents/lostConnection.ejs'
})
%>

</html>
