<% const base = './partials' %>

<% const octofarmErrorModal = base + '/octofarm-error.modal.ejs'  %>
<% let currentUserGroup = "User" %>
<% if(typeof userGroup !== "undefined") { %>
    <% currentUserGroup = userGroup %>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?<%= clientVersion %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?<%= clientVersion %>">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?<%= clientVersion %>">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?<%= clientVersion %>" color="#5bbad5">
    <link rel="stylesheet" href="/assets/dist/vendor.css?<%= clientVersion %>"/>
    <link rel="stylesheet" href="/assets/dist/octofarm.css?<%= clientVersion %>"/>
    <title><%= octoFarmPageTitle %>: <%= page %></title>
    <script src="/assets/dist/navbar.utils.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/client-error.modal.min.js?<%= clientVersion %>"></script>
    <script src="/assets/jquery.min.js?<%= clientVersion %>"></script>
    <script src="/assets/bootbox.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/bootstrap.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/vendor.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/events.service.min.js?<%= clientVersion %>"></script>
</head>

<body id="body-pd">
<!--Container Main start-->

    <%- body %>
    <%- include(octofarmErrorModal) %>
    <div class="modal fade" id="lostServerConnection" tabindex="0" role="dialog" aria-labelledby="lostServerConnection"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lostServerConnection"><i class="fa-solid fa-satellite-dish"></i> Lost Connection to Server...</h3>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <p><i id="lostConnectionSpinner" class="fas fa-spinner fa-spin"></i></p>
                                <p id="lostConnectionText">Attempting to reconnect in... <span id="lostServerConnectionTimer"></span></p>
                                <button class="btn btn-outline-success" id="forceRefreshPageButton"><i class="fas fa-redo"></i> Refresh Page</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!--Container Main end-->
</body>

</html>
