<% const base = './partials' %>
<% const octofarmErrorModal = base + '/octofarm-error.modal.ejs'  %>
<% const modal = base + '/octofarm-modal.ejs' %>
<% let currentUserGroup = "User" %>
<% if(typeof userGroup !== "undefined") { %>
    <% currentUserGroup = userGroup %>
<% } %>
<% let monitoringSettings; %>
<% if(typeof serverSettings !== "undefined") { %>
    <% monitoringSettings = serverSettings.monitoringViews %>
<% } %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?<%= clientVersion %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?<%= clientVersion %>">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?<%= clientVersion %>">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?<%= clientVersion %>" color="#5bbad5">
    <link rel="stylesheet" href="/assets/dist/vendor.css?<%= clientVersion %>"/>
    <link rel="stylesheet" href="/assets/dist/octofarm.css?<%= clientVersion %>"/>
    <title><%= octoFarmPageTitle %>: <%= page %></title>
    <script src="/assets/dist/navbar.utils.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/client-error.modal.min.js?<%= clientVersion %>"></script>
    <script src="/assets/jquery.min.js?<%= clientVersion %>"></script>
    <script src="/assets/bootbox.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/bootstrap.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/vendor.min.js?<%= clientVersion %>"></script>
    <script src="/assets/dist/events.service.min.js?<%= clientVersion %>"></script>
</head>

<body id="body-pd">
<header class="header navbar-dark bg-dark" id="header">
    <button type="button" class="header-toggle btn-sm btn btn-outline-purple" id="header-toggle"><i class="fa-solid fa-bars fs-5" id="header-icon"></i></button>
    <div class="btn-group btn-group-sm ms-5" role="group" aria-label="Basic example">
        <% if(monitoringSettings.panel){ %>
           <a title="Panel layout monitoring view" id="menuPanelView" href="/mon/panel" type="button" class="btn btn-outline-purple <%= page === 'Panel View' && 'active-monitoring' %>">
               <i class="fas fa-columns"></i>
           </a>
        <% } %>
        <% if(monitoringSettings.list){ %>
            <a title="List layout monitoring view" id="menuPanelView" href="/mon/list" type="button" class="btn btn-outline-purple <%= page === 'List View' && 'active-monitoring' %>">
                <i class="fas fa-list"></i>
            </a>
        <% } %>
        <% if(monitoringSettings.camera){ %>
            <a title="Camera layout monitoring view" id="menuPanelView" href="/mon/camera" type="button" class="btn btn-outline-purple <%= page === 'Camera View' && 'active-monitoring' %>">
                <i class="fas fa-video"></i>
            </a>
        <% } %>
        <% if(monitoringSettings.group){ %>
            <a title="Group layout monitoring view" id="menuPanelView" href="/mon/group" type="button" class="btn btn-outline-purple <%= page === 'Group View' && 'active-monitoring' %>">
                <i class="fas fa-map-marked-alt"></i>
            </a>
        <% } %>
        <% if(monitoringSettings.combined){ %>
            <a title="Combined monitoring view layout" id="menuPanelView" href="/mon/combined" type="button" class="btn btn-outline-purple <%= page === 'Super List View' && 'active-monitoring' %>">
                <i class="fas fa-object-group"></i>
            </a>
        <% } %>
        <% if(monitoringSettings.currentOperations){ %>
            <a title="Current Operations monitoring layout view"  id="menuPanelView" href="/mon/currentOp" type="button" class="btn btn-outline-purple <%= page === 'Current Operations' && 'active-monitoring' %>">
                <i class="fas fa-star"></i>
            </a>
        <% } %>
    </div>
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div class="nav_list">
            <a href="https://octofarm.net" target="_blank" id="navTitle" class="nav_logo d-none">
                <h4 class="text-purple text-uppercase mb-1"><%= octoFarmPageTitle %></h4>
            </a>
            <a title="Farm Dashboard" href="/dashboard" class="nav_link <%= page === 'Dashboard' && 'active-nav' %>">
                <i class="fas fa-tachometer-alt text-purple"></i>
                <span class="nav_name text-light">Dashboard</span>
            </a>
            <% if(currentUserGroup === "Administrator"){ %>
                <a title="Printer Management" href="/printers" class="nav_link <%= page === 'Printer Manager' && 'active-nav' %>">
                    <i class="fas fa-print text-purple"></i>
                    <span class="nav_name text-light">Printers</span>
                </a>
            <% } %>
            <a title="File Management" href="/filemanager" class="nav_link <%= page === 'File Manager' && 'active-nav' %>">
                <i class="fas fa-folder-open text-purple"></i>
                <span class="nav_name text-light">File Manager</span>
            </a>
            <a title="Print History" href="/history" class="nav_link <%= page === 'History' && 'active-nav' %>">
                <i class="fas fa-history text-purple"></i>
                <span class="nav_name text-light">History</span>
            </a>
            <a title="Filament Management" href="/filament" class="nav_link <%= page === 'Filament Manager' && 'active-nav' %>">
                <i class="fas fa-toilet-paper text-purple"></i>
                <span class="nav_name text-light">Filament</span>
            </a>
            <% if(currentUserGroup === "Administrator"){ %>
                <a title="System Settings" href="/system" class="nav_link <%= page === 'System' && 'active-nav' %>">
                    <i class="fas fa-cogs text-purple"></i>
                    <span class="nav_name text-light">System</span>
                </a>
            <% } %>

        </div>
        <div class="versionInformation d-none" id="octofarmNavLogo">
            <img width="190px" src="/images/logo.png?<%= clientVersion %>" alt="favicon">
        </div>
        <div class="versionInformation d-none text-center " id="versionInformation">
            <small title="Current server version">
                <i class="fa-solid fa-server"></i> v<%= serverVersion %>
            </small>
            <small title="Current client version">
                <i class="fa-solid fa-desktop ms-4"></i> v<%= clientVersion %>
            </small>
        </div>
    </nav>

</div>
<!--Container Main start-->
<div class="height-100">
    <%- body %>
</div>
<!--Container Main end-->
</body>

</html>
