<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>
    <% if(clientSettings.views.currentOperations){%> <%-
    include('./partials/currentOperations.ejs') %> <% }%>
    <%- include('./partials/actionsBar.ejs') %>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div id="printerArea" class="row">

      </div>
    </div>
    <script src="/assets/dist/panel-view.runner.<%= clientVersion %>.min.js" type="module"></script>
    <script src="/assets/dist/bulk-action-commands.functions.<%= clientVersion %>.min.js" type="module"></script>
<% }else{ %>
  <%- include('./addPrinters.ejs') %>
<% } %>

