<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>
<% let modal = base + '/octofarm-modal.ejs' %>
<% let table = base + '/octofarm-table.ejs' %>

<% if(typeof userGroup != "undefined" && userGroup === "Administrator"){ %>
<div class="row">
    <% if(clientSettings.printerManager.currentOperations){%> <%-
    include('./partials/currentOperations.ejs') %>
    <% }%>
</div>
<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-6">
        <%- include(card, {
        tile:{
        id:"printerManagmentConnectionLog",i:"fa-sticky-note",title:"Connection Log",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementConnectionLogStatus",
        icon: "fa-info-circle",
        title: "Log Lines: "
        },
        bodyFile:'./PrinterManager/printerConnectionLog.ejs'
        })
        %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <%- include(card, {
        tile:{
        id:"userActionsLog",i:"fa-user-tag",title:"User Actions Log",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementUserActionsStatus",
        icon: "fa-location",
        title: "Log Lines: "
        },
        bodyFile:'./PrinterManager/printerActionsLog.ejs'
        })
        %>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-3">
        <%- include(card, {
        tile:{
        id:"printerManagementAlertsLog",i:"fa-bell",title:"Recent Alerts",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementAlertsLogStatus",
        icon: "fa-bell",
        title: "Alerts: "
        },
        bodyFile:'./PrinterManager/printerAlertsLog.ejs'
        })
        %>
    </div>

<% } %>
</div>
<div class="row">
    <%- include(table, {
    table:{
    id:"printerNewTable", contentId:"printerNewList", hide:true, headers: [
    { title:"Name", style:"" },
    { title:"Group", style:"min-width:190px;" },
    { title:"Printer URL", style:"" },
    { title:"Camera URL", style:"" },
    { title:"API KEY", style:"" },
    { title:'<button id="saveAllBtn" type="button" class="btn btn-success btn-sm"><i class="fas fa-save"></i></button>', style:"max-width:50px;" },
    { title:'<button id="delAllBtn" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>', style:"max-width:50px;" }
    ]
    }
    })
    %>
</div>
<div class="row">
    <%- include('./partials/PrinterManager/printerManagementBtns.ejs') %>
</div>

<div class="row">
    <%- include(table, {
    table:{
    id:"printerTable", contentId:"printerList", headers: [
    { title:"Sort <br>Index", style:"max-width:25px;" },
    { title:"Name" ,style:"", wrap:" text-wrap" },
    { title:"Printer <br>URL" ,style:"", wrap:" text-wrap" },
    { title:"OctoPrint<br>User" ,style:"max-width:10px;" },
    { title:"OctoPrint<br>API" ,style:"max-width:50px;" },
    { title:"Printer <br>State" ,style:"max-width:50px;" },
    { title:"OctoPrint <br>WebSocket" ,style:"max-width:50px;" },
    { title:"Group" ,style:"min-width:10px;" },
    { title:"Control<br>User" ,style:"max-width:10px;" },
    { title:"Quick<br>Actions" ,style:"min-width:150px;" },
    { title:"Manage" ,style:"min-width:100px;" },
    { title:"Last<br>Status" ,style:"min-width:150px; max-width: 150px;", wrap:" text-wrap"  },
    { title:"Alerts" ,style:"min-width:300px;" },
    ]
    }
    })
    %>
</div>
<%- include(modal, {
    modal:{
    id:"bulkUpdateOctoPrintSettings", title:"Bulk Updating OctoPrint Settings"
    },
    bodyFile:'./PrinterManager/printerBulkSettings.modal.ejs'
    })
%>
<%- include(modal, {
    modal:{
    id:"printerLogs", title:"Printer Logs: "
    },
    bodyFile:'./PrinterManager/printerLogs.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"farmOverview", title:"Farm Overview"
},
bodyFile:'./PrinterManager/farmOverview.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"connectionsOverview", title: "Connections Overview"
    },
    bodyFile:'./PrinterManager/connectionOverview.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerEdit", title:"Printer Edit: "
    },
    bodyFile:'./PrinterManager/printerEdit.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerSettings", title:"Printer Settings: "
    },
    bodyFile:'./PrinterManager/printerSettings.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
        id:"printerStatistics", title:"Printer Statistics"
    },
    bodyFile:'./PrinterManager/printerStatistics.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"healthChecks", title: "Printers Health Checks"
},
bodyFile:'./PrinterManager/healthChecks.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"printerEvents", title: "Current Registered Printer Events", size: "small"

},
bodyFile:'./PrinterManager/printerEvents.modal.ejs'
})
%>

<script src="/assets/dist/printer-management.runner.<%= clientVersion %>.min.js" type="module"></script>
