<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%- include('./partials/messages') %>
      <% if(userCount === 0){ %>
        <div class="alert alert-warning" role="alert">
          This looks like your first user... This user will become the Administrator and is the only one allowed to add/remove/edit printers. Any subsequent users created will have the User permission set. (this will be enhanced at a later date.)
        </div>
      <% } %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" id="username" name="username" class="form-control" placeholder="Enter Username"
            value="<%= typeof username != 'undefined' ? username : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" autocomplete="new-password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" autocomplete="new-password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <button type="submit" class="btn btn-primary btn-block bg-colour-1">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>