<% if(typeof history.length != 'undefined' && history.length > 0 ) {%>
<div class="row">
  <% if(clientSettings.history.currentOperations){%> <%-
  include('./partials/currentOperations.ejs') %>
  <% }%>
</div>
<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="bg-dark rounded p-2 row">
      <div class="col-md-4 col-lg-4">
        <h4 class="text-info">Total Print Time</h4>
        <h3 id="totalSparkLast" class="text-info">#</h3>

      </div>
      <div id="totalSpark" class="col-md-8 col-lg-8 text-right"></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="bg-dark rounded p-2 row">
      <div class="col-md-4 col-lg-3">
        <h4 class="text-success">Success Rate</h4>
        <h3 id="successSparkLast" class="text-success">#</h3>

      </div>
      <div id="successSpark" class="col-md-8 col-lg-9 text-right"></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="bg-dark rounded p-2 row">
      <div class="col-md-4 col-lg-3">
        <h4 class="text-warning">Cancelled Rate</h4>
        <h3 id="cancelledSparkLast" class="text-warning">#</h3>

      </div>
      <div id="cancelledSpark" class="col-md-8 col-lg-9"></div>
    </div>
  </div>
  <div class="col-md-6 col-lg-3">
    <div class="bg-dark rounded p-2 row">
      <div class="col-md-4 col-lg-2">
        <h4 class="text-danger">Failure Rate</h4>
        <h3 id="failedSparkLast" class="text-danger">#</h3>

      </div>
      <div id="failedSpark" class="col-md-8 col-lg-10 text-right"></div>
    </div>
  </div>
</div>

<div class="row">
  <div id="dashboardInfo" class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mb-2">
    <div class="card text-white bg-dark h-100">
      <div class="card-header dashHeader p-0">
        <button
                type="button"
                class="btn btn-secondary d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fa-solid fa-images"></i> Galleries
        </button>
      </div>
      <div class="card-body pt-2 pb-0 text-center">
        <button
                title="View a gallery of your timelapses"
                id="timelapseGallery"
                type="button"
                class="btn btn-success mb-2 d-none"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#imageGalleryModal"
        >
          <i class="fas fa-chart-pie"></i> Timelapses
        </button><br>
        <button
                title="View a gallery of your snapshots"
                type="button"
                id="snapshotGallery"
                class="btn btn-warning text-dark mb-2 d-none"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#imageGalleryModal"
        >
          <i class="fas fa-dollar-sign"></i> Snapshots
        </button><br>
        <button
                title="View a gallery of your thumbnails"
                type="button"
                id="thumbnailGallery"
                class="btn btn-info mb-2 d-none"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#imageGalleryModal"
        >
          <i class="fas fa-print"></i> Thumbnails
        </button>
        <h5 id="noGalleryLabel" class="d-none">No galleries available</h5>
      </div>

    </div>
  </div>
  <div id="dashboardInfo" class="col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-2 mb-2">
    <div class="card text-white bg-dark h-100">
      <div class="card-header dashHeader p-0">
        <button
                type="button"
                class="btn btn-secondary d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-chart-bar"></i> Statistics
        </button>
      </div>
      <div class="card-body pt-2 pb-0 text-center">
        <button
                title="View statistics for the currently selected period"
                type="button"
                class="btn btn-success mb-2"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#currentStatistics"
        >
          <i class="fas fa-chart-pie"></i> State
        </button><br>
        <button
                title="View statistics for the currently selected period"
                type="button"
                class="btn btn-warning text-dark mb-2"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#costsStatistics"
        >
          <i class="fas fa-dollar-sign"></i> Costs / Usage
        </button><br>
        <button
                title="View statistics for the past grouped by month"
                type="button"
                class="btn btn-info mb-2"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#printerStatistics"
        >
          <i class="fas fa-print"></i> Printer
        </button><br>
        <button
                title="View statistics for the past grouped by month"
                type="button"
                class="btn btn-primary mb-2"
                href="#"
                aria-expanded="false"
                data-toggle="modal" data-target="#fileStatistics"
        >
          <i class="fas fa-file-code"></i> File
        </button>
      </div>

    </div>
  </div>
  <div id="dashboardInfo" class="col-sm-12 col-md-12 col-lg-8 col-xl-8 mb-2">
    <div class="card text-white bg-dark h-100">
      <div class="card-header dashHeader p-0">
        <button
                type="button"
                class="btn btn-secondary d-block ml-1 mr-1 p-1"
                href="#"
                aria-expanded="false"
                disabled
        >
          <i class="fas fa-filter"></i> Filters
        </button>


      </div>
      <div class="card-body pt-1 pb-0 text-center">
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <div class="row">
              <div class="col-lg-12 bg-dark text-center" id="historyRange">
                <h5>Range</h5><hr>
                <div class="input-group d-inline-flex">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Date Range</span>
                  </div>
                  <input id="historyDateRange"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mt-1 d-inline-flex">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="sortHistoryTable">Sort By: </label>
                  </div>
                  <select class="custom-select" id="sortHistoryTable">
                    <option             value="startDateAsc"
                                        data-path=".start"
                                        data-order="desc"
                                        data-type="datetime">Start Date (&uarr;)</option>
                    <option             value="startDateDesc"
                                        data-path=".start"
                                        data-order="asc"
                                        data-type="datetime">Start Date (&darr;)</option>
                    <option             selected value="endDateAsc"
                                        data-path=".end"
                                        data-order="desc"
                                        data-type="datetime">End Date (&uarr;)</option>
                    <option             value="endDateDesc"
                                        data-path=".end"
                                        data-order="asc"
                                        data-type="datetime">End Date (&darr;)</option>
                    <option             value="durationAsc"
                                        data-path=".end"
                                        data-order="desc"
                                        data-type="datetime">Duration (&uarr;)</option>
                    <option             value="durationDesc">Duration (&darr;)</option>
                    <option             value="printNameAsc"
                                        data-path=".printer"
                                        data-order="asc"
                                        data-type="text">Printer Name (&uarr;)</option>
                    <option             value="printNameDesc"
                                        data-path=".printer"
                                        data-order="desc"
                                        data-type="text">Printer Name (&darr;)</option>
                    <option             value="fileNameAsc"
                                        data-path=".file"
                                        data-order="asc"
                                        data-type="text">File Name (&uarr;)</option>
                    <option             value="fileNameDesc"
                                        data-path=".file"
                                        data-order="desc"
                                        data-type="text">File Name (&darr;)</option>
                    <option             value="11"
                                        class="d-none"
                                        data-path=".cost"
                                        data-order="asc"
                                        data-type="number">Cost (&uarr;)</option>
                    <option             value="12"
                                        class="d-none"
                                        data-path=".cost"
                                        data-order="desc"
                                        data-type="number">Cost (&darr;)</option>
                    <option             value="13"
                                        class="d-none"
                                        data-path=".usage"
                                        data-order="asc"
                                        data-type="number">Usage (&uarr;)</option>
                    <option             value="14"
                                        class="d-none"
                                        data-path=".usage"
                                        data-order="desc"
                                        data-type="number">Usage (&darr;)</option>

                  </select>
                </div>
                <div class="input-group mt-1 d-inline-flex">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Items per page: </label>
                  </div>
                  <select id="historyItemsPerPage"  data-type="items-per-page" class="custom-select" id="inputGroupSelect01">
                    <option value="25" selected>25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>
                    <option value="<%= Number.MAX_SAFE_INTEGER %>">All</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-lg-8">
            <div class="row">
              <div class="col-md-6 col-lg-4 bg-dark text-center" id="historyPrinterFilters">
                <h5>Printer</h5><hr>
                <div class="input-group mb-1 d-inline-flex">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="historyPrinterNames">Names: </label>
                  </div>
                  <select class="custom-select" id="historyPrinterNames"
                          data-jplist-control="select-filter"
                          data-group="history"
                          data-name="fileNames"
                  >
                    <option selected
                            href="#"
                            data-value="0"
                            data-path="default"
                    >Filter</option>

                  </select>
                </div>
                <div class="input-group mb-1 d-none">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="historyPrinterGroups">Groups: </label>
                  </div>
                  <select class="custom-select" id="historyPrinterGroups"
                          data-jplist-control="select-filter"
                          data-group="history"
                          data-name="pathName"
                          disabled
                  >
                    <option selected
                            href="#"
                            data-value="0"
                            data-path="default"
                    >Filter</option>

                  </select>
                </div>
                <div class="input-group mb-1 d-inline-flex">
                  <input id="historyPrinterSearch" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         data-jplist-control="textbox-filter"
                         data-group="history"
                         data-name="historyPrinterSearch"
                         data-path=".file"
                         type="text"
                         value=""
                         placeholder="Search...">
                </div>
              </div>
              <div class="col-md-6 col-lg-4 bg-dark text-center" id="historyFileFilters">
                <h5>File</h5><hr>
                <div class="input-group mb-1 d-inline-flex">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="historyFileNames">Names: </label>
                  </div>
                  <select class="custom-select" id="historyFileNames"
                          data-jplist-control="select-filter"
                          data-group="history"
                          data-name="fileNames"
                  >
                    <option selected
                            href="#"
                            data-value="0"
                            data-path="default"
                    >Filter</option>

                  </select>
                </div>
                <div class="input-group mb-1 d-inline-flex">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="historyFilePaths">Paths: </label>
                  </div>
                  <select class="custom-select" id="historyFilePaths"
                          data-jplist-control="select-filter"
                          data-group="history"
                          data-name="pathName"
                  >
                    <option selected
                            href="#"
                            data-value="0"
                            data-path="default"
                    >Filter</option>

                  </select>
                </div>
                <div class="input-group mb-1 d-inline-flex">
                  <input id="historyFileSearch" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         data-jplist-control="textbox-filter"
                         data-group="history"
                         data-name="fileNameSearch"
                         data-path=".file"
                         type="text"
                         value=""
                         placeholder="Search...">
                </div>
              </div>
              <div class="col-md-6 col-lg-4 bg-dark text-center" id="historySpoolFilters">
                <h5>Spool</h5><hr>
                <div class="input-group mb-1 d-none">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="historySpoolManu">Manufacturer: </label>
                  </div>
                  <select class="custom-select" id="historySpoolManu"
                          data-jplist-control="select-filter"
                          data-group="history"
                          data-name="fileNames"
                          disabled
                  >
                    <option selected
                            href="#"
                            data-value="0"
                            data-path="default"
                    >Filter</option>

                  </select>
                </div>
                <div class="input-group mb-1 d-none">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="historySpoolMat">Material: </label>
                  </div>
                  <select class="custom-select" id="historySpoolMat"
                          data-jplist-control="select-filter"
                          data-group="history"
                          data-name="fileNames"
                          disabled
                  >
                    <option selected
                            href="#"
                            data-value="0"
                            data-path="default"
                    >Filter</option>

                  </select>
                </div>
                <div class="input-group mb-1">
                  <input id="historySpoolSearch" type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
                         data-jplist-control="textbox-filter"
                         data-group="history"
                         data-name="fileNameSearch"
                         data-path=".spool"
                         type="text"
                         value=""
                         placeholder="Search...">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="row" id="historyPagination">

  </div>
</div>
<div class="row pb-0">
  <div class="col-lg-12 table-responsive-sm table-responsive-md">
    <table class="table-hover table table-dark text-center mb-0">
      <thead>
      <tr>
        <th class="table-dark" scope="col" width="350px">Status</th>
        <th class="table-dark" scope="col">Print Time Total</th>
        <th class="table-dark" scope="col">Filament Usage Total</th>
        <th class="table-dark" scope="col">Filament Cost Total</th>
        <th class="table-dark" scope="col">Printer Cost Total</th>
        <th class="table-dark" scope="col">Combined Total</th>
        <th class="table-dark" scope="col">Average Cost Per Hour</th>
      </tr>
      </thead>
      <tbody id="historyTableTotals">
      <tr>
        <th class="table-dark" scope="col">
          <div class="progress mb-0">
            <div
                    id="totalSuccessPercent"
                    class="progress-bar progress-bar-striped bg-success"
                    role="progressbar"
                    style="width: 0%"
                    aria-valuenow="0%"
                    aria-valuemin="0"
                    aria-valuemax="100"
            >
            </div>
            <div
                    id="totalCancelledPercent"
                    class="progress-bar progress-bar-striped bg-warning"
                    role="progressbar"
                    style="width: 0%"
                    aria-valuenow="0%"
                    aria-valuemin="0"
                    aria-valuemax="100"
            >
              0%
            </div>
            <div
                    id="totalFailurePercent"
                    class="progress-bar progress-bar-striped bg-danger"
                    role="progressbar"
                    style="0"
                    aria-valuenow="0%"
                    aria-valuemin="0"
                    aria-valuemax="100"
            >
              0%
            </div>
          </div>
        </th>
        <th id="totalPrintTime" class="table-dark" scope="col"></th>
        <th id="totalFilament" class="table-dark" scope="col"></th>
        <th id="totalCost" class="table-dark" scope="col"></th>
        <th id="printerTotalCost" class="table-dark" scope="col"></th>
        <th id="combinedTotalCost" class="table-dark" scope="col"></th>
        <th id="averageCostPerHour" class="table-dark" scope="col"></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div id="wrapper" class="col-lg-12 table-responsive-sm table-responsive-md pt-0">
    <table id="historyTableTop" class="table table-dark text-center">
      <thead>
      <tr>
        <th class="table-dark sticky-table table-dark" scope="col">State</th>
        <th class="table-dark sticky-table table-dark" scope="col">Printer</th>
        <th class="table-dark sticky-table table-dark" scope="col">User</th>
        <th class="table-dark sticky-table table-dark" scope="col">File Name</th>
        <th class="table-dark sticky-table table-dark" scope="col">Start Date</th>
        <th class="table-dark sticky-table table-dark" scope="col">Duration</th>
        <th class="table-dark sticky-table table-dark" scope="col">End Date</th>
        <th class="table-dark sticky-table table-dark" scope="col">Filament</th>
        <th class="table-dark sticky-table table-dark" scope="col">Total Cost</th>
        <th class="table-dark sticky-table table-dark" scope="col">Hourly Cost</th>
        <th class="sticky-table table-dark" scope="col">Actions</th>
      </tr>
      </thead>
      <tbody id="historyTable">

      </tbody>

    </table>

  </div>
</div>
  <script src="/assets/js/history.runner.<%= clientVersion %>.min.js" type="module"></script>

  <div class="modal fade" id="currentStatistics" tabindex="0" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="historyModalLabel"><button type="button" class="btn btn-dark float-right d-block" href="#" aria-expanded="false" disabled="">
              State Statistics
            </button></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <h6 class="d-inline-block">Success Rate Per Day</h6> (<small id="dateRange-successRatePerDay"></small>)<hr>
              <div id="printCompletionByDay">

              </div>
            </div>
            <div class="col-lg-6">
              <h6 class="d-inline-block">Print Totals Per Day</h6> (<small id="dateRange-printTotalsPerDay"></small>)<hr>
              <div id="printCompletionOverTime"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h6>Success Rate Per Month</h6><hr>
              <div id="monthlySuccessRate"></div>
            </div>
            <div class="col-lg-6">
              <h6>Print Totals Per Month</h6><hr>
              <div id="monthlyPrintRate"></div>
            </div>
          </div>
        </div>


        <div class="modal-footer" id="historySave">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="costsStatistics" tabindex="0" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="historyModalLabel"><button type="button" class="btn btn-dark float-right d-block" href="#" aria-expanded="false" disabled="">
            Costs and Usage Statistics
          </button></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="d-inline-block">Current Data Totals</h6> (<small id="dateRange-currentDataTotals"></small>)<hr>
        <div class="row">
          <div class="col-lg-2 text-center">
            <div class="row">
              <div class="col-lg-12">
                <h6>State Totals</h6><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Completed
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
              <b id="completedCount"><%= printStatistics.completed %></b>
            </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Cancelled
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
              <b id="cancelledCount"><%= printStatistics.cancelled %></b>
            </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Failed
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              <b id="failedCount"><%= printStatistics.failed %></b>
            </span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-10">
            <div class="row">
              <div class="col-lg-3 text-center">
                <h6>Totals</h6><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Print Time
                  <span id="totalPrintTime" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                      <%= helpers.generateTime(printStatistics.totalPrintTime) %>
                    </span>
                </button><hr>
                <button  type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Filament Usage
                  <span id="totalFilamentUsage" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                      <%= printStatistics.totalFilamentUsage %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Cost
                  <span id="totalCost" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                      <%= (parseFloat(printStatistics.totalSpoolCost) + parseFloat(printStatistics.totalPrinterCost)).toFixed(2) %>
                    </span>
                </button>
              </div>
              <div class="col-lg-3 text-center">
                <h6>Largest</h6><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Print Time
                  <span id="largestPrintTime" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                      <%= helpers.generateTime(printStatistics.longestPrintTime) %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Filament Usage
                  <span id="largestFilamentUsage" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                      <%= printStatistics.highestFilamentUsage %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Cost
                  <span id="largestCost" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                      <%= (parseFloat(printStatistics.highestSpoolCost) + parseFloat(printStatistics.highestPrinterCost)).toFixed(2)%>
                    </span>
                </button>
              </div>
              <div class="col-lg-3 text-center">
                <h6>Smallest</h6><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Print Time
                  <span id="smallestPrintTime" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                      <%= helpers.generateTime(printStatistics.shortestPrintTime) %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Filament Usage
                  <span id="smallestFilamentUsage" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                       <%= printStatistics.lowestFilamentUsage %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Cost
                  <span id="smallestCost" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                       <%= (parseFloat(printStatistics.lowestSpoolCost) + parseFloat(printStatistics.lowestPrinterCost)).toFixed(2) %>
                    </span>
                </button>
              </div>
              <div class="col-lg-3 text-center">
                <h6>Averages</h6><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Print Time
                  <span id="averagePrintingTime" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
                      <%= helpers.generateTime(printStatistics.averagePrintTime) %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Filament Usage
                  <span id="averageFilamentUsage" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                      <%= printStatistics.averageFilamentUsage %>
                    </span>
                </button><hr>
                <button type="button" class="btn btn-dark position-relative btn-sm" disabled>
                  Cost
                  <span id="averageCost" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                      <%= (parseFloat(printStatistics.averageSpoolCost) + parseFloat(printStatistics.averagePrinterCost)).toFixed(2) %>

                    </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h6>Monthly Data Totals</h6><hr>
          <table id="historyTableTop" class="table table-dark text-center p-0 m-0">
            <thead>
            <tr>
              <th class="table-dark sticky-table table-dark table-hover p-2 m-0" scope="col">Metric</th>
              <% monthlyStatistics.forEach(stat => { %>
                <th class="table-dark sticky-table table-dark p-2 m-0" scope="col"><%= stat.month %></th>
              <% }) %>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="p-1 m-0 bg-primary" scope="col">Total Print Time</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0 bg-primary" scope="col"><%= helpers.generateTime(stat.statistics.totalPrintTime) %></td>
                <% }else{ %>
                  <td class="p-1 m-0 bg-primary" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Largest Print Time</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= helpers.generateTime(stat.statistics.longestPrintTime) %></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Smallest Print Time</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= helpers.generateTime(stat.statistics.shortestPrintTime) %></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Average Print Time</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= helpers.generateTime(stat.statistics.averagePrintTime) %></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col"></td>
              <% monthlyStatistics.forEach(stat => { %>
                <td class="p-1 m-0" scope="col"></td>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0  bg-primary" scope="col">Total Filament Usage</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0  bg-primary" scope="col"><%= stat.statistics.totalFilamentUsage %></td>
                <% }else{ %>
                  <td class="p-1 m-0  bg-primary" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Largest Filament Usage</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= stat.statistics.highestFilamentUsage %></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Smallest Filament Usage</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= stat.statistics.lowestFilamentUsage %></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Average Filament Usage</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= stat.statistics.averageFilamentUsage %></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col"></td>
              <% monthlyStatistics.forEach(stat => { %>
                <td class="p-1 m-0" scope="col"></td>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0 bg-primary" scope="col">Total Cost</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0 bg-primary" scope="col"><%= (parseFloat(stat.statistics.totalSpoolCost) + parseFloat(stat.statistics.totalPrinterCost)).toFixed(2)%></td>
                <% }else{ %>
                  <td class="p-1 m-0 bg-primary" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Largest Cost</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= (parseFloat(stat.statistics.highestSpoolCost) + parseFloat(stat.statistics.highestPrinterCost)).toFixed(2)%></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Smallest Cost</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= (parseFloat(stat.statistics.lowestSpoolCost) + parseFloat(stat.statistics.lowestPrinterCost)).toFixed(2)%></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            <tr>
              <td class="p-1 m-0" scope="col">Average Cost</td>
              <% monthlyStatistics.forEach(stat => { %>
                <% if(Object.keys(stat.statistics).length !== 0) { %>
                  <td class="p-1 m-0" scope="col"><%= (parseFloat(stat.statistics.averageSpoolCost) + parseFloat(stat.statistics.averagePrinterCost)).toFixed(2)%></td>
                <% }else{ %>
                  <td class="p-1 m-0" scope="col"></td>
                <% } %>
              <% }) %>
            </tr>
            </tbody>

          </table>

        </div>
      </div>


      <div class="modal-footer" id="historySave">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="modal fade" id="printerStatistics" tabindex="0" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="historyModalLabel"><button type="button" class="btn btn-dark float-right d-block" href="#" aria-expanded="false" disabled="">
              Printer Statistics
            </button></h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-lg-6">
              <h6 class="d-inline-block">Current Most Utilised Printers</h6> (<small id="dateRange-mostUtilised"></small>)<hr>
              <ul id="longestRunningPrinters" class="list-group list-group-flush">
                <li class="list-group-item m-0 p-0 row d-flex"><small class="col-lg-6 text-center">Printer</small><small class="text-center col-lg-1">Time</small><small class="col-lg-1 text-center">Count</small><small class="col-lg-4 text-center">Success Rate</small> </li>
                <% printStatistics.sortedTopPrinterList.slice(0, 6).forEach(printer =>  { %>
                  <li class="list-group-item list-group-item-action m-0 p-0 row d-flex"><small class="col-lg-6 text-center text-truncate"><%= printer.printerName %></small><small class="text-center col-lg-1"><%= helpers.generateTime(printer.time) %></small><small class="col-lg-1 text-center"><%= printer.prints %></small><small class="col-lg-4 text-center">
                      <% const total = printer.failedCount + printer.cancelledCount + printer.successCount %>
                      <% const failedPercent = (printer.failedCount * 100 ) / total %>
                      <% const cancelledPercent = (printer.cancelledCount * 100) / total %>
                      <% const successPercent = (printer.successCount * 100) / total %>
                      <div class="progress mb-0" style="width: 100%;">
                        <div
                                id="totalSuccessPercent"
                                class="progress-bar progress-bar-striped bg-success"
                                role="progressbar"
                                style="width: <%= successPercent %>%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        ><%= successPercent.toFixed(0) %>%
                        </div>
                        <div
                                id="totalCancelledPercent"
                                class="progress-bar progress-bar-striped bg-warning"
                                role="progressbar"
                                style="width: <%= cancelledPercent %>%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                          <%= cancelledPercent.toFixed(0) %>%
                        </div>
                        <div
                                id="totalFailurePercent"
                                class="progress-bar progress-bar-striped bg-danger"
                                role="progressbar"
                                style="width: <%= failedPercent %>%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                          <%= failedPercent.toFixed(0) %>%
                        </div>
                      </div>
                    </small> </li>
                <% }) %>
              </ul>
            </div>
            <div class="col-lg-6">
              <h6 class="d-inline-block">Current Most Successful Printers</h6> (<small id="dateRange-mostSuccessful"></small>)<hr>
              <ul id="longestRunningPrinters" class="list-group list-group-flush">
                <li class="list-group-item m-0 p-0 row d-flex"><small class="col-lg-6 text-center">Printer</small><small class="text-center col-lg-1">Time</small><small class="col-lg-2 text-center">Success Count</small><small class="col-lg-3 text-center">Success Rate</small> </li>
                <% printStatistics.sortedTopSuccessPrinterList.slice(0, 6).forEach(printer =>  { %>
                  <li class="list-group-item list-group-item-action m-0 p-0 row d-flex"><small class="col-lg-6 text-center text-truncate"><%= printer.printerName %></small><small class="text-center col-lg-1"><%= helpers.generateTime(printer.time) %></small><small class="col-lg-2 text-center"><%= printer.successCount %></small><small class="col-lg-3 text-center">
                      <% const total = printer.failedCount + printer.cancelledCount + printer.successCount %>
                      <% const failedPercent = (printer.failedCount * 100 ) / total %>
                      <% const cancelledPercent = (printer.cancelledCount * 100) / total %>
                      <% const successPercent = (printer.successCount * 100) / total %>
                      <div class="progress mb-0" style="width: 100%;">
                        <div
                                id="totalSuccessPercent"
                                class="progress-bar progress-bar-striped bg-success"
                                role="progressbar"
                                style="width: <%= successPercent %>%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        ><%= successPercent.toFixed(0) %>%
                        </div>
                        <div
                                id="totalCancelledPercent"
                                class="progress-bar progress-bar-striped bg-warning"
                                role="progressbar"
                                style="width: <%= cancelledPercent %>%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                          <%= cancelledPercent.toFixed(0) %>%
                        </div>
                        <div
                                id="totalFailurePercent"
                                class="progress-bar progress-bar-striped bg-danger"
                                role="progressbar"
                                style="width: <%= failedPercent %>%"
                                aria-valuenow="0%"
                                aria-valuemin="0"
                                aria-valuemax="100"
                        >
                          <%= failedPercent.toFixed(0) %>%
                        </div>
                      </div>
                    </small> </li>
                <% }) %>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <h6>Most Utilised Printer Per Month</h6><hr>
              <ul id="monthlyMostUtilisedPrinter" class="list-group list-group-flush">

              </ul>
            </div>
            <div class="col-lg-6">
              <h6>Most Successful Printer Per Month</h6><hr>
              <ul id="monthlyMostSuccessPrinter" class="list-group list-group-flush">

              </ul>
            </div>
          </div>
        </div>

        <div class="modal-footer" id="historySave">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="fileStatistics" tabindex="0" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="historyModalLabel"><button type="button" class="btn btn-dark float-right d-block" href="#" aria-expanded="false" disabled="">
            File Statistics
          </button></h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <h6 class="d-inline-block">Current Most Printed Files</h6> (<small id="dateRange-mostPrintedFile"></small>)<hr>
            <ul id="mostPrintedFiles" class="list-group list-group-flush">
              <li class="list-group-item m-0 p-0 row d-flex"><small class="col-lg-6 text-center">File</small><small class="text-center col-lg-1">Time</small><small class="col-lg-1 text-center">Count</small><small class="col-lg-4 text-center">Success Rate</small> </li>
              <% printStatistics.sortedTopFilesList.slice(0, 6).forEach(printer =>  { %>
                <li class="list-group-item list-group-item-action m-0 p-0 row d-flex"><small class="col-lg-6 text-center text-truncate"><%= printer.file.replace(".gcode", "")  %></small><small class="text-center col-lg-1"><%= helpers.generateTime(printer.sumOfPrintTime) %> </small><small class="text-center col-lg-1"><%= printer.prints %> </small><small class="col-lg-4 text-center">
                    <% const total = printer.failedCount + printer.cancelledCount + printer.successCount %>
                    <% const failedPercent = (printer.failedCount * 100 ) / total %>
                    <% const cancelledPercent = (printer.cancelledCount * 100) / total %>
                    <% const successPercent = (printer.successCount * 100) / total %>
                    <div class="progress mb-0" style="width: 100%;">
                      <div
                              id="totalSuccessPercent"
                              class="progress-bar progress-bar-striped bg-success"
                              role="progressbar"
                              style="width: <%= successPercent %>%"
                              aria-valuenow="0%"
                              aria-valuemin="0"
                              aria-valuemax="100"
                      ><%= successPercent.toFixed(0) %>%
                      </div>
                      <div
                              id="totalCancelledPercent"
                              class="progress-bar progress-bar-striped bg-warning"
                              role="progressbar"
                              style="width: <%= cancelledPercent %>%"
                              aria-valuenow="0%"
                              aria-valuemin="0"
                              aria-valuemax="100"
                      >
                        <%= cancelledPercent.toFixed(0) %>%
                      </div>
                      <div
                              id="totalFailurePercent"
                              class="progress-bar progress-bar-striped bg-danger"
                              role="progressbar"
                              style="width: <%= failedPercent %>%"
                              aria-valuenow="0%"
                              aria-valuemin="0"
                              aria-valuemax="100"
                      >
                        <%= failedPercent.toFixed(0) %>%
                      </div>
                    </div>
                  </small> </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h6>Most Printed File Per Month</h6><hr>
            <ul id="monthlyMostPrintedFile" class="list-group list-group-flush">

            </ul>
          </div>
        </div>
      </div>

      <div class="modal-footer" id="historySave">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<% }else{ %>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>No History captured yet</h1>
        <p>
          Come back here when you've completed some prints.
        </p>
        <h1><img width="500px" src="assets/images/logo.png" /></h1>
      </div>
    </div>
  </div>
<% } %>
<div class="modal fade" id="historyModal" tabindex="0" role="dialog" aria-labelledby="historyModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="historyModalLabel">
          <button id="printStatus" type="button" class="btn btn-secondary btn-sm" href="#" aria-expanded="false" disabled=""></button>      <span id="printerName"></span> - <span id="fileName"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-6 p-0 m-0 text-center">
            <h5 class="mb-1">Date and Time</h5><hr>
            <button id="startDate" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

            </button>
            <button id="printTime" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

            </button>
            <button id="endDate" type="button" class="btn btn-secondary" href="#" aria-expanded="false" disabled="">

            </button>
          </div>
          <div class="col-12 col-sm-12 col-md-8 col-lg-6 p-0 m-0 text-center">
            <h5 class="mb-1">Cost</h5><hr>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Total Job Cost</span>
              </div>
              <input id="jobCosting" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              <div class="input-group-prepend">
                <span class="input-group-text">Hourly Cost</span>
              </div>
              <input id="jobHourlyCost" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Electricity Cost</span>
              </div>
              <input id="jobElectricityCost" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              <div class="input-group-prepend">
                <span class="input-group-text">Maintenance Cost</span>
              </div>
              <input id="jobMaintenanceCost" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h5 class="mb-1 text-left">Job Information</h5><hr>
            <div class="col p-0">
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Printer Cost</span>
                </div>
                <input id="printerCost" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
                <!--                      <div class="input-group-append">-->
                <!--                        <span class="input-group-text" id="basic-addon2"></span>-->
                <!--                      </div>-->
              </div>
            </div>
            <div class="col p-0">
              <div id="resendsTitle" class="input-group mb-1 input-group-sm d-none">
                <div class="input-group-prepend">
                  <span class="input-group-text">Resends</span>
                </div>
                <input id="resendStats" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Estimated Print Time</span>
                </div>
                <input id="estimatedPrintTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Actual Print Time</span>
                </div>
                <input id="printerTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
                <!--                      <div class="input-group-append">-->
                <!--                        <span class="input-group-text" id="basic-addon2"></span>-->
                <!--                      </div>-->
              </div>
              <div class="input-group mb-1 input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text">Print Time Accuracy</span>
                </div>
                <input id="printTimeAccuracy" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              </div>
            </div>

          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <h5 class="mb-1 text-left">File Information</h5><hr>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Upload Date</span>
              </div>
              <input id="dateUploaded" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Path</span>
              </div>
              <input id="path" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Size</span>
              </div>
              <input id="size" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
              <div class="input-group-append">
                <span class="input-group-text" id="basic-addon2">MB</span>
              </div>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Average Print Time</span>
              </div>
              <input id="averagePrintTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
            </div>
            <div class="input-group mb-1 input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text">Last Print Time</span>
              </div>
              <input id="lastPrintTime" type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>

            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="row  table-responsive">
              <div class="col-lg-12"><h5 class="mb-1 text-left">Tools</h5><hr></div>
              <div class="col-lg-12">
                <table class="table-hover table table-dark text-center">
                  <thead>
                  <tr>
                    <th class="table-dark sticky-table tabl-dark" scope="col">Spool</th>
                    <th class="table-dark sticky-table table-dark" scope="col">Volume</th>
                    <th class="table-dark sticky-table table-dark" scope="col">Length</th>
                    <th class="table-dark sticky-table table-dark" scope="col">Weight</th>
                    <th class="table-dark sticky-table table-dark" scope="col">Filament Cost</th>
                  </tr>
                  </thead>
                  <tbody id="viewTable">

                  </tbody>

                </table>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <h5 class="mb-1 text-left">Notes</h5>
            <textarea id="notes" class="form-control" aria-label="With textarea" style="margin-top: 0px; margin-bottom: 0px; height: 150px;"></textarea>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <div id="saveHistoryBtns"></div>
        <div>
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Close
          </button>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="galleryModal" tabindex="0" role="dialog" aria-labelledby="galleryModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="galleryModalLabel">
          <button id="printGalleryStatus" type="button" class="btn btn-secondary btn-sm" href="#" aria-expanded="false" disabled=""></button>      <span id="printerGalleryName"></span> - <span id="fileGalleryName"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12 text-center" id="galleryElements" style="display: none;">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators" id="thumbnails-indicators">

              </ol>
              <div class="carousel-inner" role="listbox" id="thumbnails">

              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-light" data-dismiss="modal">
            Close
          </button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="imageGalleryModal" tabindex="0" role="dialog" aria-labelledby="galleryModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="imageGalleryModalLabel">
          <span id="imageGalleryType"></span> Gallery
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="text-white" aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="galleryItems" class="row">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>