<% const base = './partials' %>
<% const navigation = base + '/Navigation' %>

<% const header = navigation + '/header.ejs' %>
<% const navbar = navigation + '/navbar.ejs' %>
<% const navbarLogo = navigation + '/navbarLogo.ejs' %>
<% const versionInformation = navigation + '/versionInformation.ejs' %>
<% const monitoringViews = navigation + '/monitoringViews.ejs' %>
<% const userDropDown = navigation + '/userDropDown.ejs' %>

<% const octofarmErrorModal = base + '/octofarm-error.modal.ejs'  %>
<% const modal = base + '/octofarm-modal.ejs' %>

<% let currentUserGroup = "User" %>

<% if(typeof userGroup !== "undefined") { %>
    <% currentUserGroup = userGroup %>
<% } %>

<% let monitoringSettings; %>

<% if(typeof serverSettings !== "undefined") { %>
    <% monitoringSettings = serverSettings.monitoringViews %>
<% } %>

<!DOCTYPE html>
<html id="octofarm_html" lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/config/site.webmanifest">
    <link rel="mask-icon" href="/assets/config/safari-pinned-tab.svg" color="#5bbad5">
    <style>
        :root {
            --octofarm-highlight-colour: #D500F9;
            --octofarm-main-colour: #8E24AA;
            --sidebar-colour-dark: #212121;
            --navbar-colour-dark: rgb(33, 37, 41, 0.9);
            --sidebar-colour-light: #E0E0E0;
            --navbar-colour-light: #BDBDBD;
            --white-colour: #ffffff;
            --header-height: 2rem;
            --nav-width: 68px;
            --z-fixed: 100;
        }
    </style>
    <link rel="stylesheet" href="/assets/css/octofarm.<%= clientVersion %>.css"/>
    <link rel="stylesheet" href="/assets/css/navigation.<%= clientVersion %>.css"/>
    <link rel="stylesheet" href="/assets/css/overrides.<%= clientVersion %>.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/noty.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/balloon.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/jplist.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/fa-all.min.css"/>
    <title><%= octoFarmPageTitle %>: <%= page %></title>
    <script src="/assets/js/client-error.modal.<%= clientVersion %>.min.js?"></script>
    <script src="/assets/vendor/js/jquery.js"></script>
    <script src="/assets/vendor/js/bootbox.js"></script>
    <script src="/assets/vendor/js/auto-tables.js"></script>
    <script src="/assets/js/bootstrap.<%= clientVersion %>.min.js"></script>
    <script src="/assets/js/vendor.<%= clientVersion %>.min.js"></script>
    <script src="/assets/js/navbar.utils.<%= clientVersion %>.min.js"></script>
    <script src="/assets/js/events.service.<%= clientVersion %>.min.js"></script>

</head>
<body id="body-pd">
<%- include(header, { monitoringSettings, currentUserGroup }) -%>
<%- include(navbar, { octoFarmPageTitle, currentUserGroup }) -%>
<!--Container Main start-->
<div class="grid" style="margin-top: 60px;">
    <%- body %>
</div>

<%- include(octofarmErrorModal) %>
</body>
</html>
