<% const base = './partials' %>
<% const octofarmErrorModal = base + '/octofarm-error.modal.ejs'  %>
<% const modal = base + '/octofarm-modal.ejs' %>
<% const fullScreenPrinter = base + '/full-screen-printer.ejs' %>
<% let currentUserGroup = "User" %>
<% if(typeof userGroup !== "undefined") { %>
    <% currentUserGroup = userGroup %>
<% } %>
<% let monitoringSettings; %>
<% if(typeof serverSettings !== "undefined") { %>
    <% monitoringSettings = serverSettings.monitoringViews %>
<% } %>

<!DOCTYPE html>
<html id="octofarm_html" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
    <link rel="manifest" href="/assets/config/site.webmanifest">
    <link rel="mask-icon" href="/assets/config/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="stylesheet" href="/assets/vendor/css/bootstrap-v4.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/slate.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/noty.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/balloon.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/jplist.css"/>
    <link rel="stylesheet" href="/assets/vendor/css/fa-all.min.css"/>
    <link rel="stylesheet" href="/assets/css/octofarm.<%= clientVersion %>.css"/>
    <title><%= octoFarmPageTitle %>: <%= page %></title>
    <script src="/assets/js/client-error.modal.<%= clientVersion %>.min.js?"></script>
    <script src="/assets/vendor/js/jquery.js"></script>
    <script src="/assets/vendor/js/bootbox.js"></script>
    <script src="/assets/vendor/js/auto-tables.js"></script>
    <script src="/assets/js/bootstrap.<%= clientVersion %>.min.js"></script>
    <script src="/assets/js/vendor.<%= clientVersion %>.min.js"></script>
    <script src="/assets/js/events.service.<%= clientVersion %>.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top p-1">
    <a class="navbar-brand notyet" href="#">
        <img src="/assets/images/favicon.ico" width="40px" class="pl-2" alt="favicon">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li id="menuDashboard">
                <a title="Farm Dashboard" class="nav-link text-center" href="/dashboard">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </a>
            </li>
            <% if(monitoringSettings.panel){ %>
                <li class="nav-item">
                    <a title="Panel layout monitoring view" class="nav-link text-light text-center btn-sm"
                       id="menuPanelView" href="/mon/panel"><i class="fas fa-columns"></i>
                        Panel</a>
                </li>
            <% } %>
            <% if(monitoringSettings.list){ %>
                <li class="nav-item">
                    <a title="List layout monitoring view" class="nav-link text-light text-center btn-sm"
                       id="menuListView" href="/mon/list"><i class="fas fa-list"></i> List</a>
                </li>
            <% } %>
            <% if(monitoringSettings.camera){ %>
                <li class="nav-item">
                    <a title="Camera layout monitoring view"
                       class="nav-link text-light text-center btn-sm" id="menuCameraView"
                       href="/mon/camera"><i class="fas fa-video"></i>
                        Camera</a>
                </li>
            <% } %>
            <% if(monitoringSettings.group){ %>
                <li class="nav-item">
                    <a title="Group layout lonitoring liew" class="nav-link text-light text-center btn-sm"
                       id="menuListView" href="/mon/group" disabled><i class="fas fa-map-marked-alt"></i> Group</a>
                </li>
            <% } %>
            <% if(monitoringSettings.combined){ %>
                <li class="nav-item">
                    <a title="Combined monitoring view layout"
                       class="nav-link text-light text-center btn-sm" id="menuCombinedView"
                       href="/mon/combined"><i class="fas fa-object-group"></i>
                        Super List</a>
                </li>
            <% } %>
            <% if(monitoringSettings.currentOperations){ %>
                <li class="nav-item">
                    <a title="Current Operations Monitoring Layout View"
                       class="nav-link text-light text-center btn-sm" id="menucurrentOperationsView"
                       href="/mon/currentOp"><i class="fas fa-star"></i>
                        Current Operations</a>
                </li>
            <% } %>





            <li class="nav-item">
                <span title="Panel Layout Monitoring View"
                      class="nav-link text-light text-center btn-sm">
                    <% if(typeof dashboardStatistics !== "undefined"){ %>
                        <% if(typeof dashboardStatistics.currentTemperature !== "undefined" && dashboardStatistics.currentTemperature !== null){ %>
                            <i class="fas fa-temperature-high"></i> <%= dashboardStatistics.currentTemperature %>°C
                        <% } %>
                        <% if(typeof dashboardStatistics.currentHumidity !== "undefined" && dashboardStatistics.currentHumidity !== null){ %>
                            | <i class="fas fa-tint"></i> <%= dashboardStatistics.currentHumidity %>%
                        <% } %>
                        <% if(typeof dashboardStatistics.currentPressure !== "undefined" && dashboardStatistics.currentPressure !== null){ %>
                            | <i class="fas fa-percent"></i> <%= dashboardStatistics.currentPressure %>hPa
                        <% } %>
                        <% if(typeof dashboardStatistics.currentIAQ !== "undefined" && dashboardStatistics.currentIAQ !== null){ %>
                            | <i class="fas fa-air-freshener"></i> <%= dashboardStatistics.currentIAQ %>
                        <% } %>

                    <% } %>
                </span>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li id="menuPrinters">
                <small>
                    <a title="Current development version" class="nav-link text-center notyet">
                        <i class="fas fa-code-branch"></i> <%= serverVersion %>
                    </a>
                </small>
            </li>
            <% if(currentUserGroup === "Administrator"){ %>
                <li id="menuPrinters">
                    <a title="Printer Setup" class="nav-link text-center" href="/printers">
                        <i class="fas fa-print"></i> Printers
                    </a>
                </li>
            <% } %>
            <li class="nav-item">
                <a title="File Manager" class="nav-link text-center" href="/filemanager" id="fileManagerBtn">
                    <i class="fas fa-folder-open"></i> File Manager
                </a>
            </li>
            <li class="nav-item">
                <a title="Print HistoryRoutes" class="nav-link text-center" href="/history" id="historyBtn">
                    <i class="fas fa-history"></i> History
                </a>
            </li>
            <li class="nav-item">
                <a title="Filament Management" class="nav-link text-center" href="/filament" id=""><i
                            class="fas fa-toilet-paper"></i> Filament</a>
            </li>
            <li class="nav-item">
                <a title="Filament Management" class="nav-link text-center" href="/system">
                    <i class="fas fa-cogs"></i> System
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="restricScreenSize">
    <%- body %>
    <%- include(octofarmErrorModal) %>
    <div class="modal fade" id="printerManagerModal" tabindex="-1" role="dialog"
         aria-labelledby="printerManagerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark text-light">
                <div class="modal-header px-3 pt-3 pb-2">
                    <div id="printerSelectionWrapper" class="input-group mb-0" style="width:600px">
                        <div class="input-group-prepend">
                            <label id="printerManagerModalTitle" class="input-group-text p-1" for="printerSelection"></label>
                        </div>
                        <select class="custom-select p-1" id="printerSelection">

                        </select>
                    </div>
                    <span id="printerIndex" value="" style="display: none;"></span>
                    <button id="printerManagerModalBtn" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div id="connectionRow" class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 mb-0 text-center" id="status">
                                <button id="pmStatus" type="button" class="btn btn-secondary mb-1" href="#"
                                        target="_blank" disabled><i class="fas fa-spinner fa-spin"></i></button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-0" id="printerPortDrop">

                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-0" id="printerBaudDrop">

                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-0" id="printerProfileDrop">

                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xl-2 mb-0" id="printerConnect">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div id="printerControls"></div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer" id="printerManagerFooter">
                    <button id="" type="button" class="btn btn-light" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="lostServerConnection" tabindex="0" role="dialog" aria-labelledby="lostServerConnection"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="lostServerConnection"><i class="fa-solid fa-satellite-dish"></i> Lost Connection to Server...</h3>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                                <p><i id="lostConnectionSpinner" class="fas fa-spinner fa-spin"></i></p>
                                <p id="lostConnectionText">Attempting to reconnect in... <span id="lostServerConnectionTimer"></span></p>
                                <button class="btn btn-outline-success" id="forceRefreshPageButton"><i class="fas fa-redo"></i> Refresh Page</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="connectionModal" tabindex="0" role="dialog" aria-labelledby="connectionModal"
         aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="connectionModalLabel">Printer Connect/Disconnect</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="text-white" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="printerConnection" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="" type="button" class="btn btn-light" data-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <%- include(fullScreenPrinter) %>
    <%- include(modal, {
    modal:{
    id:"bulkActionProgress", title:"Bulk Action Progress: ", isBodyScrollable: "true", zIndex: 99999
    },
    bodyFile:'./PrinterManager/bulkActionsProgress.modal.ejs'
    })
    %>
    <%- include(modal, {
    modal:{
    id:"printerSelect", title:"Printer Select: "
    },
    bodyFile:'./PrinterManager/printerSelect.modal.ejs'
    })
    %>
    <%- include(modal, {
    modal:{
    id:"bulkPrintSetup", title:"Multi-Print Setup: "
    },
    bodyFile:'./PrinterManager/bulkPrintSetup.modal.ejs'
    })
    %>

    <div id="overlay"><i id="overlayIcon" class="fas fa-spinner fa-pulse fa-10x textActive"></i></div>
</div>
</body>
</html>
