<% if(typeof printerCount != 'undefined' && printerCount > 0 ) {%>
  <div id="listView" class="row">
    <% if(clientSettings.views.currentOperations){%> <%-
    include('./partials/currentOperations.ejs') %>
    <% }%>
      <%- include('./partials/actionsBar.ejs') %>
    <div class="col-lg-12 table-responsive-sm table-responsive-md">
      <table class=" table table-dark text-center table-hover">
          <thead>
          <tr>
              <th class="sticky-table table-dark" scope="col">Name</th>
              <th class="sticky-table table-dark" scope="col">Status</th>
              <th class="sticky-table table-dark" scope="col">
                  Manage
              </th>
              <th class="sticky-table table-dark" scope="col">
                  Control
              </th>
              <th class="sticky-table table-dark" scope="col">
                  Printer
              </th>
              <th class="sticky-table table-dark" scope="col">Current File
              </th>
              <th class="sticky-table table-dark printerTimeElapsed" scope="col">
                  Print Time Elapsed
              </th>
              <th class="sticky-table table-dark printerTimeElapsed" scope="col">
                  Progress
              </th>
              <th class="sticky-table table-dark printerRemainingTime" scope="col">
            Remaining Print Time
          </th>
          <th class="sticky-table table-dark" scope="col" style="max-width:200px;">
            Tools
          </th>
          <th class="sticky-table table-dark" scope="col" style="max-width:170px;">Bed / Chamber</th>
        </tr>
        </thead>
        <tbody id="printerArea">

        </tbody>
      </table>
    </div>
  </div>
  <script src="/assets/js/list-view.runner.<%= clientVersion %>.min.js" type="module"></script>
  <script src="/assets/js/bulk-action-commands.functions.<%= clientVersion %>.min.js" type="module"></script>
<% }else{ %>
  <%- include('./addPrinters.ejs') %>
<% } %>


