<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>
<% let modal = base + '/octofarm-modal.ejs' %>
<% let table = base + '/octofarm-table.ejs' %>
<% const disable_btn_air_gapped = (air_gapped) ? "disabled" : "" %>
<% const tabMenu = base + '/octofarm-side-tab-menu.ejs' %>
<% const tabContent = base + '/octofarm-side-tab-content.ejs' %>
<% const bootstrapMenuGrid = "col-12 col-sm-12 col-md-3 col-lg-4 col-xl-2 col-xxl-2"; %>
<% const bootstrapContentGrid = "col-12 col-sm-12 col-md-9 col-lg-8 col-xl-10 col-xxl-10"; %>


<% if(typeof userGroup != "undefined" && userGroup === "Administrator"){ %>
<div class="row">
    <% if(clientSettings.printerManager.currentOperations){%> <%-
    include('./partials/current-operations-panel.ejs') %>
    <% }%>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-8 col-xl-8 col-xxl-8">
        <%- include(card, {
        tile:{
        id:"printerManagmentConnectionLog",i:"fa-sticky-note",title:"Connection Log",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementConnectionLogStatus",
        icon: "fa-info-circle",
        title: "Log Lines: "
        },
        bodyFile:'./PrinterManager/printerConnectionLog.ejs'
        })
        %>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
        <%- include(card, {
        tile:{
        id:"userActionsLog",i:"fa-user-tag",title:"User Actions Log",class:"col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12",
        },
        status: {
        id: "printerManagementUserActionsStatus",
        icon: "fa-location",
        title: "Log Lines: "
        },
        bodyFile:'./PrinterManager/printerActionsLog.ejs'
        })
        %>
    </div>
<% } %>
</div>

<% const printerManagerPath = "./PrinterManager/" %>
<% const commonEnd = ".section.ejs" %>
<% const listItems = [
    {
        id: "pm-printer-manager",
        name: "Printer Manager",
        icon: "fa-solid fa-print",
        permissionGroup: "Administrator",
        notification: "pm-printer-manager-notification",
        bodyFile: `${printerManagerPath}printerManager${commonEnd}`
    },
    {
        id: "pm-octoprint-manager",
        name: "OctoPrint Manager",
        icon: "fa-brands fa-octopus-deploy",
        permissionGroup: "Administrator",
        notification: "pm-octoprint-manager-notification",
        bodyFile: `${printerManagerPath}octoPrintManager${commonEnd}`
    },
    {
        id: "pm-connection-overview",
        name: "Connections Overview",
        icon: "fa-solid fa-network-wired",
        permissionGroup: "Administrator",
        notification: "pm-connection-overview-notification",
        bodyFile: `${printerManagerPath}connectionOverview${commonEnd}`
    },
    {
        id: "pm-printer-overview",
        name: "Printer Overview",
        icon: "fa-solid fa-binoculars",
        permissionGroup: "Administrator",
        notification: "pm-printer-overview-notification",
        bodyFile: `${printerManagerPath}printerOverview${commonEnd}`
    },
    {
        id: "pm-health-overview",
        name: "Health Checks",
        icon: "fa-solid fa-heart-pulse",
        permissionGroup: "Administrator",
        notification: "pm-health-overview-notification",
        bodyFile: `${printerManagerPath}healthChecks${commonEnd}`
    },
    {
        id: "pm-developers-menu",
        name: "Developers Menu",
        icon: "fa-solid fa-code-pull-request",
        permissionGroup: "Administrator", //TODO this should work with developer checks - infact developer should override all permissions
        notification: "pm-developers-menu-notification",
        bodyFile: `${printerManagerPath}developerMenu${commonEnd}`
    }
] %>

<div class="row">
    <div class="<%= bootstrapMenuGrid %>">
        <%- include(tabMenu, {
        list:{
        listItems: listItems
        }
        })
        %>
    </div>
    <div class="<%= bootstrapContentGrid %>">
        <%- include(tabContent, {
        list:{
        listItems: listItems
        }
        })
        %>
    </div>
</div>

<%- include(modal, {
    modal:{
    id:"bulkUpdateOctoPrintSettings", title:"Bulk Updating OctoPrint Settings"
    },
    bodyFile:'./PrinterManager/printerBulkSettings.modal.ejs'
    })
%>
<%- include(modal, {
    modal:{
    id:"printerLogs", title:"Printer Logs: "
    },
    bodyFile:'./PrinterManager/printerLogs.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"farmOverview", title:"Farm Overview"
},
bodyFile:'./PrinterManager/farmOverview.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"connectionsOverview", title: "Connections Overview"
    },
    bodyFile:'./PrinterManager/connectionOverview.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerEdit", title:"Printer Edit: "
    },
    bodyFile:'./PrinterManager/printerEdit.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerSettings", title:"Printer Settings: "
    },
    bodyFile:'./PrinterManager/printerSettings.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
        id:"printerStatistics", title:"Printer Statistics"
    },
    bodyFile:'./PrinterManager/printerStatistics.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"healthChecks", title: "Printers Health Checks"
},
bodyFile:'./PrinterManager/healthChecks.modal.ejs'
})
%>
<%- include(modal, {
modal:{
id:"printerEvents", title: "Current Registered Printer Events", size: "small"

},
bodyFile:'./PrinterManager/printerEvents.modal.ejs'
})
%>

<script src="/assets/js/printer-management.runner.<%= clientVersion %>.min.js" type="module"></script>
