<div class="row position-absolute top-50 start-50 translate-middle">
  <div class="col-md-8 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><img width="40%" src="/assets/images/logo.png" /></h1>
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <%- include('./partials/messages') %>
      <% if(userCount === 0){ %>
        <div class="alert alert-warning text-dark" role="alert">
          This will create an Administrator. After you have registered, registration will be disabled and you can either enable it again or manage your users on the "System" page.
        </div>
      <% } %>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Create Name"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" id="username" name="username" class="form-control" placeholder="Create Username"
            value="<%= typeof username != 'undefined' ? username : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password" autocomplete="new-password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" autocomplete="new-password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
        </div>
        <div class="d-grid gap-2 mt-5">
          <button type="submit" class="btn btn-outline-success" onSubmit="this.disabled=true; this.value='Registering…';">
            Register
          </button>
        </div>

      </form>
      <% if(userCount === 0){ %>
        <p class="lead mt-4">Have an account? <a href="/users/login">Login</a></p>
      <% } %>
    </div>
  </div>
</div>
