<%let firstOffline = null;%> <%for(let i = 0; i < printers[0].length; i++){%> <%
if(printer.state != "Offline" ){%> <% firstOffline = i;%> <% break;%> <% }%>
<%}%> <% if(typeof printers[firstOffline].fileList != 'undefined' && typeof
printers[firstOffline].fileList.folders != 'undefined'){%> <% for(let i=0;i <
printers[firstOffline].fileList.folders.length;i++){%> <% let sorted =
printers[firstOffline].fileList.folders.sort((a, b) => (a.path > b.path) ? 1 :
-1) %> <% if(sorted[i].path == "local"){ %>
<a
  href="#"
  id="file-<%= printers[firstOffline].fileList.folders[i].name %>"
  class="list-group-item list-group-item-action flex-column align-items-start bg-dark folderAction"
  style="display: block;
    padding: 0.7rem 0.1rem;"
>
  <div class="row">
    <div
      class="col-lg-1"
      style="display:flex; justify-content:center; align-items:center;"
    >
      <center><i class="fas fa-folder fa-2x"></i></center>
    </div>
    <div class="col-lg-11">
      <small class="float-right"
        ><!--Display file and folder count here eventually--></small
      >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1 float-left">
          <%= printers[firstOffline].fileList.folders[i].name %>
        </h5>
        <div
          class="float-right btn-group flex-wrap btn-group-sm"
          role="group"
          aria-label="Basic example"
        >
          <button
            id="<%= printers[firstOffline].index %>*folderActionMove*<%= printers[firstOffline].fileList.folders[i].name %>"
            type="button"
            class="btn btn-warning"
          >
            <i class="fas fa-people-carry"></i> Move
          </button>
          <button
            id="<%= printers[firstOffline].index %>*folderActionDelete*<%= printers[firstOffline].fileList.folders[i].name %>"
            type="button"
            class="btn btn-danger"
          >
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</a>
<% } %> <%}%> <% } %>
