<% const releasesURL = "https://github.com/OctoFarm/OctoFarm/releases/tag/" %>
<% const npmURL = "https://www.npmjs.com/package/@notexpectedyet/octofarm-client" %>
<% if(Object.keys(systemInformation).length > 0 && Object.keys(serviceInformation).length > 0){ %>
        <div class="row">
                    <div class="col-12 text-center">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-34">
                                <% if(serviceInformation?.air_gapped){ %>
                                    <p class="text-light mb-0"><i class="fas fa-heartbeat text-danger"></i> Farm is
                                        currently air gapped</p>
                                    <small class="text-warning">Please note some features may not work as intended</small>
                                <% }else{ %>
                                    <p class="text-light"><i class="fas fa-heart text-success"></i> Farm is connected to the
                                        internet</p>
                                <% } %>
                            </div>
                            <% if(serviceInformation?.isNode){ %>
                                <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                    <p class="text-light">Powered by <i class="fab fa-node text-success"></i></p>
                                </div>
                            <% } %>
                            <% if(serviceInformation?.isDockerContainer){ %>
                                <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                    <p class="text-light"><i class="fab fa-docker text-info"></i> Running under docker</p>
                                </div>
                            <% } %>
                            <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                                <% if(serviceInformation?.isPm2){ %>
                                    <p class="text-light"><i class="far fa-eye text-info"></i> Running under pm2</p>
                                <% } %>
                                <% if(serviceInformation?.isNodemon){ %>
                                    <p class="text-light"><i class="far fa-eye text-info"></i> Running under nodemon</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
         <div class="row">
             <div class="col-12 text-center">
                 <div class="row">
                     <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                         <i class="fas fa-hourglass-half"></i> OctoFarm Uptime: <br>
                         <span class="text-light" id="processUpdate" style="font-size:0.8rem;">
                               <%= helpers.generateTime(systemInformation.uptime); %>
                        </span>
                     </div>
                     <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                         <i class="fas fa-code-branch"></i> Current Version: <a
                                 title="OctoFarm current version, will take you to Github release page"
                                 class="text-light"
                                 rel=”noopener”
                                 href="<%= releasesURL + serviceInformation?.update?.current_version %>"
                                 target="_blank"><br><%= serviceInformation?.update?.current_version; %></a>
                     </div>
                     <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                         <% if(!serviceInformation?.update?.latestReleaseKnown){ %>
                             <i class="fas fa-code-branch"></i> Latest Server Version: <a
                                     title="OctoFarm latest available version, will take you to Github release page"
                                     class="text-light"
                                     rel=”noopener”
                                     href="<%= releasesURL + serviceInformation?.update?.current_version %>"
                                     target="_blank"><br><%= serviceInformation?.update?.current_version; %></a>
                         <% }else{ %>
                             <i class="fas fa-code-branch"></i> Latest Version:
                             <a title="OctoFarm latest version, will take you to Github release page"
                                class="text-light"
                                rel=”noopener”
                                href="<%= serviceInformation?.update?.latestReleaseKnown.html_url; %>"
                                target="_blank"><br><%= serviceInformation?.update?.latestReleaseKnown.name; %>
                                 <br><%= serviceInformation?.update?.latestReleaseKnown.tag_name; %>
                             </a>
                         <% } %>
                     </div>
                     <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                         <i class="fas fa-code-branch"></i> Node Environment: <a
                                 title="NodeJS environment name"
                                 class="text-light"
                                 rel=”noopener”
                                 target="_blank"><br><%= systemEnvironment; %></a>
                     </div>
                 </div>
             </div>
         </div>
                <hr>
        <div class="row">
                    <div class="col-12 text-center">
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                <i class="fas fa-hourglass-half"></i> System Uptime: <br><span
                                        class="text-light" id="systemUptime" style="font-size:0.8rem;">
                                        <%= helpers.generateTime(systemInformation.osUptime); %>
                                    </span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                <i class="fas fa-server"></i> OS: <br><span class="text-light"
                                                                            id="systemArch"
                                                                            style="font-size:0.8rem;">
                                        <%= systemInformation.distro; %>
                                    </span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                <i class="fas fa-bullseye"></i> System Architecture: <br><span
                                        class="text-light" id="systemArch" style="font-size:0.8rem;">
                                            <%= systemInformation.architecture; %>
                                        </span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                                <i class="fas fa-hdd"></i> Main Disk:
                                <b><%= systemInformation?.systemDisk?.mount; %></b><br>
                                <b>Disk Partition: </b>
                                <%= systemInformation?.systemDisk?.fs; %><br>
                                <span class="text-light" id="systemHardDrive" style="font-size:0.8rem;">
                                          <%= helpers.generateBytes(systemInformation?.systemDisk?.used); %>  /  <%= helpers.generateBytes(systemInformation?.systemDisk?.size); %> |  <%= systemInformation?.systemDisk?.use?.toFixed(2); %>%
                                    </span>
                            </div>
                            <div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2">
                                <i class="far fa-clock"></i> Timezone: <br>
                                <span class="text-light" id="timeZone" style="font-size:0.8rem;">
                                         <%= systemInformation?.timezoneName; %> (<%= systemInformation?.timezone; %>)
                                </span>
                            </div>
                        </div>
                    </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3 text-center">
                <div id="cpuUsageDonut"></div>
            </div>
            <div class="col-3 text-center">
                <div id="memoryUsageDonut"></div>
            </div>
            <div class="col-6 text-center">
                <div id="historicUsageGraph"></div>
            </div>
        </div>

<% }else{ %>
        <div class="row">
            <div class="col-12 text-center">
                <h5>It seems the required information for this page could not be found.</h5>
                <h5>Is OctoFarm still booting? Please refresh if so.</h5>
                <h5>If the issue persists then please log an issue on our Github!</h5>
            </div>
        <% } %>
