<% const base = '../' %>
<% const modal = base + '/octofarm-modal.ejs' %>

<div class="row">
    <div class="col-12">
        <% let disabledUsers = "" %>
        <% if(!serverSettings.server.loginRequired){ %>
        <% disabledUsers = "disabled=true" %>
            <div class="alert alert-warning text-dark" role="alert">
                The server has the login requirement turned off, the users below cannot be used.
            </div>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8 mt-2 table-responsive-sm table-responsive-md">
        <div class="float-left mb-2">
            <h4>User Manager</h4>
        </div>
        <div class="float-right mb-2">
            <button id="createUserBtn" type="button" class="btn btn-success" data-toggle="modal" data-target="#userCreateModal" <%=disabledUsers%>><i class="fas fa-user-plus"></i> New User</button>
        </div>
        <table id="" class="table table-dark table-striped text-center">
            <thead>
            <tr>
                <th scope="col" class="sticky-table table-dark" style="">Name</th>
                <th scope="col" class="sticky-table table-dark" style="">Username</th>
                <th scope="col" class="sticky-table table-dark" style="">Group</th>
                <th scope="col" class="sticky-table table-dark" style="">Created Date</th>
                <th scope="col" class="sticky-table table-dark" style="">Actions</th>
            </tr>
            </thead>
            <tbody id="userTable" style="height:100%; overflow-y:auto;">
                <% currentUsers.forEach(user => { %>
                    <% if(user.name === name || name === ""){ %>
                        <!-- Current user, do not allow password reset, edit, delete! -->
                        <tr id="userRow-<%=user._id%>">
                            <th id="userRowName-<%=user._id%>" scope="row"><%= user.name %></th>
                            <td id="userRowUserName-<%=user._id%>"><%= user.username %></td>
                            <td id="userRowUserGroup-<%=user._id%>"><%= user.group %></td>
                            <td><%= user.date.toLocaleDateString() %></td>
                            <td>
                                <button id="resetPasswordBtn-<%=user._id%>" type="button" class="btn btn-warning text-dark btn-sm" data-toggle="modal" data-target="#usersResetPasswordModal" disabled><i class="fas fa-user-shield"></i> Reset Password</button>
                                <button id="editUserBtn-<%=user._id%>" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userEditModal" disabled><i class="fas fa-user-edit"></i> Edit</button>
                                <button id="deleteUserBtn-<%=user._id%>" type="button" class="btn btn-danger btn-sm" disabled><i class="fas fa-user-minus"></i> Delete</button>
                            </td>
                        </tr>
                    <% } else { %>
                    <tr id="userRow-<%=user._id%>">
                        <th id="userRowName-<%=user._id%>" scope="row"><%= user.name %></th>
                        <td id="userRowUserName-<%=user._id%>"><%= user.username %></td>
                        <td id="userRowUserGroup-<%=user._id%>"><%= user.group %></td>
                        <td><%= user.date.toLocaleDateString() %></td>
                        <td>
                            <button id="resetPasswordBtn-<%=user._id%>" type="button" class="btn btn-warning text-dark btn-sm" data-toggle="modal" data-target="#usersResetPasswordModal"><i class="fas fa-user-shield"></i> Reset Password</button>
                            <button id="editUserBtn-<%=user._id%>" type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#userEditModal"><i class="fas fa-user-edit"></i> Edit</button>
                            <button id="deleteUserBtn-<%=user._id%>" type="button" class="btn btn-danger btn-sm"><i class="fas fa-user-minus"></i> Delete</button>
                        </td>
                    </tr>
                    <% } %>

                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-4">
        <% if(userGroup === "Administrator"){ %>
            <div id="activeUsersRow" class="row">
                <div class="col-lg-12">
                    <div class="float-left mb-2">
                        <h4>Active Sessions: <span id="activeUserCount"><i class="fa-solid fa-spinner fa-spin"></i></span></h4>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div id="activeUserListContainer" class="text-center row">
                            <i class="fa-solid fa-spinner fa-spin"></i><br> Loading Active Sessions List...
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>

<%- include(modal, {
modal:{
id:"usersResetPassword", title:"Reset Password", size: "modal-sm"
},
bodyFile:'./System/UserModals/userResetPassword.ejs'
})
%>
<%- include(modal, {
modal:{
id:"userEdit", title:"Edit User", size: "modal-sm"
},
bodyFile:'./System/UserModals/userEdit.ejs'
})
%>
<%- include(modal, {
modal:{
id:"userCreate", title:"Create User", size: "modal-sm"
},
bodyFile:'./System/UserModals/userCreate.ejs'
})
%>
