<% sortedIndex.forEach(sorted => { %> <%if(printers[sorted.actualIndex].state
=== "Closed" && clientSettings[0].panelView.hideClosed){%> <% if(typeof
printers[sorted.actualIndex].settingsWebcam != 'undefined'){%> <% } %>
<div
  id="camPanel-<%= printers[sorted.actualIndex].index %>"
  class="col-lg-<%= (clientSettings[0].cameraView.cameraRows)%> col-xl-<%= (clientSettings[0].cameraView.cameraRows)%> hidden"
>
  <%}else if(printers[sorted.actualIndex].camURL === "" || printers[sorted.actualIndex].stateColour.category === "Offline"){ %>
  <div
    id="camPanel-<%= printers[sorted.actualIndex].index %>"
    class="col-lg-<%= (clientSettings[0].cameraView.cameraRows)%> col-xl-<%= (clientSettings[0].cameraView.cameraRows)%> hidden"
  >
    <%} else { %>
    <div
      id="camPanel-<%= printers[sorted.actualIndex].index %>"
      class="col-lg-<%= (clientSettings[0].cameraView.cameraRows)%> col-xl-<%= (clientSettings[0].cameraView.cameraRows)%>"
    >
      <%}%> <% let flipH = ""; %> <% let flipV = ""; %> <% let rotate90 = ""; %>
      <% if (typeof printers[sorted.actualIndex].settingsWebcam != "undefined")
      { %> <% if (printers[sorted.actualIndex].settingsWebcam.flipH) { %> <%
      flipH = "flipH"; %> <% } %> <% if
      (printers[sorted.actualIndex].settingsWebcam.flipV) { %> <% flipV =
      "flipV"; %> <% } %> <% if
      (printers[sorted.actualIndex].settingsWebcam.rotate90) { %> <% rotate90 =
      "rotate90"; %> <% } %> <% } %>

      <div class="card text-center mb-0 mt-0 ml-0 mr-0">
        <div
          class="card-header dashHeader"
          id="camHeader-<%= printers[sorted.actualIndex].index %>"
        >
          <small
            class="float-left"
            id="camPrinterName-<%= printers[sorted.actualIndex].index %>"
            ><button
              type="button"
              class="btn btn-secondary float-right btn-sm ml-1"
              data-toggle="modal"
              data-target="#printerManagerModal"
              disabled
            >
              <%= printers[sorted.actualIndex].index%>.
            </button></small
          >
          <small>
            <% if(printers[sorted.actualIndex].state === "Offline"){ %>
            <button
              id="printerButton-<%= printers[sorted.actualIndex].index %>"
              type="button"
              class="btn btn-dark float-right"
              data-toggle="modal"
              data-target="#printerManagerModal"
              disabled
            >
              <i class="fas fa-cog"></i>
            </button>
            <% }else{ %>
            <button
              id="printerButton-<%= printers[sorted.actualIndex].index %>"
              type="button"
              class="btn btn-dark float-right"
              data-toggle="modal"
              data-target="#printerManagerModal"
            >
              <i class="fas fa-cog"></i>
            </button>

            <% } %>
            <button
              style="width:60%;"
              id="camFileName-<%= printers[sorted.actualIndex].index %>"
              type="button float-right"
              class="btn btn-block btn-secondary mb-0 text-truncate"
              role="button"
              disabled
            >
              <% if(typeof printers[sorted.actualIndex].job != 'undefined' &&
              typeof printers[sorted.actualIndex].job.file != 'undefined'){ %><i
                class="fas fa-file-code"
              ></i>
              <%= printers[sorted.actualIndex].job.file.name %> <%}else{%><i
                class="fas fa-file-code"
              ></i>
              No File Selected <%}%>
            </button>
          </small>
        </div>
        <div
          class="card-body cameraContain"
          id="camBody-<%= printers[sorted.actualIndex].index %>"
        >
          <img
            loading="lazy"
            id="cameraSRC-<%= printers[sorted.actualIndex].index %>"
            width="100%"
            class="<%= flipH %> <%= flipV %> <%= rotate90 %>"
            src="http://<%= printers[sorted.actualIndex].camURL %>"
            style="pointer-events: none;"
          />
          <div class="progress camProgress">
            <div
              id="camProgress-<%= printers[sorted.actualIndex].index %>"
              class="progress-bar progress-bar-striped"
              role="progressbar"
              style="width: <% if(typeof printers[sorted.actualIndex].progress!= 'undefined'){ %> <%=
        Math.floor(printers[sorted.actualIndex].progress.completion) %>% <%}%>"
              aria-valuenow="10"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              <% if(typeof printers[sorted.actualIndex].progress!= 'undefined'){
              %> <%=
              Math.floor(printers[sorted.actualIndex].progress.completion) %>%
              <%}%>
            </div>
          </div>
          <small>
            <button
              class="btn btn-success camButtons hidden btn-sm"
              id="camStart-<%= printers[sorted.actualIndex].index %>"
            >
              <i class="fas fa-print text-white"></i>
            </button>
            <button
              class="btn btn-danger camButtons btn-sm"
              id="camStop-<%= printers[sorted.actualIndex].index %>"
            >
              <i class="fas fa-hand-paper text-white"></i>
            </button>
          </small>
        </div>
        <div
          class="card-footer dashFooter text-muted"
          id="camFooter-<%= printers[sorted.actualIndex].index %>"
        >
          <small
            id="panE0Temp-<%= printers[sorted.actualIndex].index %>"
            class="mb-0 float-left"
            id="panT0-<%= printers[sorted.actualIndex].index %>"
          >
            <% if(typeof printers[sorted.actualIndex].temps != 'undefined'){ %>
            <% if(typeof printers[sorted.actualIndex].temps[0].tool0 !=
            'undefined'){ %>
            <i
              id="tool0A-<%= printers[sorted.actualIndex].index %>"
              class="far fa-circle"
            ></i>
            <%= printers[sorted.actualIndex].temps[0].tool0.actual %><%}else{ %>
            <i
              id="tool0A-<%= printers[sorted.actualIndex].index %>"
              class="far fa-circle"
            ></i>
            <%= 0%><%}%>째C <% if(typeof
            printers[sorted.actualIndex].temps[0].tool0 != 'undefined'){ %>
            <i
              id="tool0T-<%= printers[sorted.actualIndex].index %>"
              class="fas fa-bullseye"
            ></i>
            <%= printers[sorted.actualIndex].temps[0].tool0.target%><%}else{ %>
            <i
              id="tool0T-<%= printers[sorted.actualIndex].index %>"
              class="fas fa-bullseye"
            ></i>
            <%= 0%><%}%>째C <%} %>
          </small>

          <small
            id="panBedTemp-<%= printers[sorted.actualIndex].index %>"
            class="mb-0 float-right"
            id="panBed-<%= printers[sorted.actualIndex].index %>"
          >
            <% if(typeof printers[sorted.actualIndex].temps != 'undefined'){ %>
            <% if(typeof printers[sorted.actualIndex].temps[0].bed !=
            'undefined'){ %><i
              id="bedA-<%= printers[sorted.actualIndex].index %>"
              class="far fa-circle"
            ></i>
            <%= printers[sorted.actualIndex].temps[0].bed.actual %><%}else{ %>
            <i
              id="bedA-<%= printers[sorted.actualIndex].index %>"
              class="far fa-circle"
            ></i>
            <%= 0%><%}%>째C <% if(typeof
            printers[sorted.actualIndex].temps[0].bed != 'undefined'){ %>
            <i
              id="bedT-<%= printers[sorted.actualIndex].index %>"
              class="fas fa-bullseye"
            ></i>
            <%= printers[sorted.actualIndex].temps[0].bed.target %><%}else{ %>
            <i
              id="bedT-<%= printers[sorted.actualIndex].index %>"
              class="fas fa-bullseye"
            ></i>
            <%= 0%><%}%>째C <%} %>
          </small>
        </div>
      </div>
    </div>
    <% }) %>
    <script src="/js/cameraViewRunner.js" type="module"></script>
  </div>
</div>
