<div class="row">
<div
  id="currentOperations"
  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"
>
  <div class="card text-white bg-dark">
    <div class="card-header dashHeader pt-1 pr-1 pl-0 pb-0">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 p-0">
          <button
                  type="button"
                  class="btn btn-secondary d-block p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            <i class="fas fa-star"></i> Current Operations
          </button>
        </div>
        <div class="col-sm-6 col-md-67 col-lg-6 p-0">
          <button id="offlineCount"
                  type="button"
                  class="btn btn-outline-danger float-right d-block ml-1 p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            Offline: <%= currentOperationsCount.offline %>
          </button>
          <button id="disconCount"
                  type="button"
                  class="btn btn-danger float-right d-block ml-1 p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            Disconnected: <%= currentOperationsCount.disconnected %>
          </button>
          <button id="idleCount"
                  type="button"
                  class="btn btn-dark float-right d-block ml-1 p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            Idle: <%= currentOperationsCount.idle %>
          </button>
          <button id="activeCount"
                  type="button"
                  class="btn btn-warning float-right d-block ml-1 p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            Active: <%= currentOperationsCount.active %>
          </button>
          <button id="completeCount"
                  type="button"
                  class="btn btn-success float-right ml-1 d-block p-1"
                  href="#"
                  aria-expanded="false"
                  disabled
          >
            Complete: <%= currentOperationsCount.complete %>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 p-0">
          <div class="progress">
            <div id="farmProgress"
                 class="progress-bar progress-bar-striped bg-warning"
                 role="progressbar"
                 style="width: <%= currentOperationsCount.farmProgress %>%"
                 aria-valuenow="<%= currentOperationsCount.farmProgress %>"
                 aria-valuemin="0"
                 aria-valuemax="100"
            >
              <%= currentOperationsCount.farmProgress %>%
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
</div>
<div class="row" id="currentOperationsBody">
  <% currentOperations.forEach(current => { %>
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 pt-0 pb-0" id="viewPanel-<%=current.index%>">
    <% if(current != null){ %>
      <% let currentDate = new Date(); %>
      <% currentDate = currentDate.getTime(); %>
      <% let futureDateString = new Date(currentDate + current.timeRemaining * 1000).toDateString() %>
      <% let futureTimeString = new Date(currentDate + current.timeRemaining * 1000).toTimeString() %>
      <% futureTimeString = futureTimeString.substring(0, 8); %>
      <% let dateComplete = futureDateString + ": " + futureTimeString; %>
      <% let finishedPrint = `<button id='currentHarvest-${current.index}' title="Clear your finished print from current operations" type='button' class='tag btn btn-success btn-sm pt-0 pb-0'>Print Harvested?</button>`; %>
      <% let restartPrint = `<button id='restartCurrentPrint-${current.index}' title="Restart your current selected print" type='button' class='tag btn btn-warning btn-sm pt-0 pb-0'>Restart Print!</button>`; %>
      <div id="currentOpCard-<%=current.index%>"
           class="card card-block text-white bg-secondary"
           style="width:100%;"
      >
        <div class="card-header pb-1 pt-1 pl-2 pr-2"><%=current.name%></div>
        <div class="card-body  pb-0 pt-2 pl-2 pr-2 pb-1">
          <% if(current.progress === 100){ %>
          <h6 id="currentTime-<%=current.index%>" class="pb-0 text-center d-none" style="font-size:0.6rem;"><%=  helpers.generateTime(current.timeRemaining) %></h6>
          <h6 id="currentRestart-<%=current.index%>" class="pb-0 text-center" style="font-size:0.6rem;"><%- restartPrint%></h6>
          <h6 id="futureDate-<%=current.index%>" class="pb-0 text-center d-none" style="font-size:0.6rem;"><%- dateComplete %></h6>
          <h6 id="finishedPrint-<%=current.index%>" class="pb-0 text-center" style="font-size:0.6rem;"><%- finishedPrint %></h6>
          <div id="currentProgressMain-<%=current.index%>" class="progress d-none">
            <div id="currentProgress-<%=current.index%>"
                 class="progress-bar progress-bar-striped bg-<%=current.progressColour%>"
                 role="progressbar"
                 style="width: <%=current.progress%>%"
                 aria-valuenow=""
                 aria-valuemin="0"
                 aria-valuemax="100"
            >
              <%=current.progress%>%
            </div>
          </div>
          <% }else{ %>
          <h6 id="currentTime-<%=current.index%>" class="pb-0 text-center" style="font-size:0.6rem;"><%=  helpers.generateTime(current.timeRemaining) %></h6>
          <h6 id="currentRestart-<%=current.index%>" class="pb-0 text-center d-none" style="font-size:0.6rem;"><%- restartPrint%></h6>
          <h6 id="futureDate-<%=current.index%>" class="pb-0 text-center" style="font-size:0.6rem;"><%- dateComplete %></h6>
          <h6 id="finishedPrint-<%=current.index%>" class="pb-0 text-center d-none" style="font-size:0.6rem;"><%- finishedPrint %></h6>
          <div id="currentProgressMain-<%=current.index%>" class="progress">
            <div id="currentProgress-<%=current.index%>"
                 class="progress-bar progress-bar-striped bg-<%=current.progressColour%>"
                 role="progressbar"
                 style="width: <%=current.progress%>%"
                 aria-valuenow=""
                 aria-valuemin="0"
                 aria-valuemax="100"
            >
              <%=current.progress%>%
            </div>
          </div>
          <% } %>

        </div>
      </div>
    <% } %>
  </div>
    <%  }) %>
</div>
<script src="/js/currentOperationsViewRunner.js" type="module"></script>