<% printers.forEach(printer => { %> <% if(printer.state === "Offline" &&
clientSettings[0].listView.hideOff){%>
<tr
  class="<%= printer.stateColour.category %> hidden"
  id="listRow-<%= printer.index %>"
>
  <%}else if(printer.state === "Closed" &&
  clientSettings[0].listView.hideClosed){%>
</tr>

<tr
  class="<%= printer.stateColour.category %> hidden"
  id="listRow-<%= printer.index %>"
>
  <%}else{%>
</tr>

<tr
  class="<%= printer.stateColour.category %>"
  id="listRow-<%= printer.index %>"
>
  <%}%>
  <th id="listIndex-<%= printer.index %>" scope="row"><%= printer.index%></th>
  <td id="listName-<%= printer.index %>">
    <% if(typeof printer.settingsApperance != 'undefined'){ %> <%=
    printer.settingsApperance.name %><%}%>
  </td>
  <td>
    <% if(printer.state === "Offline"){ %>
    <button
      id="printerButton-<%= printer.index %>"
      type="button"
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#printerManagerModal"
      disabled
    >
      <i class="fas fa-cog"></i>
    </button>
      <a href="http://<%= printer.ip%>:<%= printer.port%>" target="_blank">
          <button  id="octoButton-<%= printer.index %>"
            type="button"
            class="btn btn-dark"
            data-toggle="modal"
            data-target="http://<%= printer.ip%>:<%= printer.port%>" target="_blank"
          disabled>
            <i class="fas fa-globe-europe"></i>
          </button>
</a>
    <% }else{ %>
    <button
      id="printerButton-<%= printer.index %>"
      type="button"
      class="btn btn-dark"
      data-toggle="modal"
      data-target="#printerManagerModal"
    >
      <i class="fas fa-cog"></i>
    </button>
      <a href="http://<%= printer.ip%>:<%= printer.port%>" target="_blank">
          <button  id="octoButton-<%= printer.index %>"
            type="button"
            class="btn btn-dark"
            data-toggle="modal"
            data-target="http://<%= printer.ip%>:<%= printer.port%>" target="_blank"
          >
            <i class="fas fa-globe-europe"></i>
          </button>
</a>
    <% } %>
  </td>
  <td>
    <button
      id="listPlay-<%= printer.index %>"
      type="button"
      class="btn btn-success"
      disabled
    >
      <i class="fas fa-play"></i>
    </button>
    <button
      id="listCancel-<%= printer.index %>"
      type="button"
      class="btn btn-danger"
      disabled
    >
      <i class="fas fa-square"></i>
    </button>
  </td>
  <td id="listFile-<%= printer.index %>">
    <i class="fas fa-file-code"></i> <% if(typeof printer.job != 'undefined' &&
    printer.job.file.name != null){ %> <%= printer.job.file.name %><%}else{ %>
    No File Selected <% }%>
  </td>
  <td id="listFilament-<%= printer.index %>">
    <% if(typeof printer.selectedFilament != 'undefined'){%> <%=
    printer.selectedFilament.name %> [<%= printer.selectedFilament.colour %> /
    <%= printer.selectedFilament.type[1] %>] <% }%>
  </td>
  <td id="listState-<%= printer.index %>"><%= printer.state %></td>
  <td id="listPrintTime-<%= printer.index %>">
    <% if(typeof printer.progress != 'undefined'){ %> <%=
    helpers.generateTime(printer.progress.printTimeLeft) %> <%}%>
  </td>
  <td id="listE0Temp-<%= printer.index %>">
    <% if(typeof printer.temps != 'undefined'){ %> <% if(typeof
    printer.temps[0].tool0 != 'undefined'){ %>
    <i id="tool0A-<%= printer.index %>" class="far fa-circle"></i> <%=
    printer.temps[0].tool0.actual %><%}else{ %>
    <i id="tool0A-<%= printer.index %>" class="far fa-circle"></i> <%=
    0%><%}%>째C <% if(typeof printer.temps[0].tool0 != 'undefined'){ %>
    <i id="tool0T-<%= printer.index %>" class="fas fa-bullseye"></i> <%=
    printer.temps[0].tool0.target%><%}else{ %>
    <i id="tool0T-<%= printer.index %>" class="fas fa-bullseye"></i> <%=
    0%><%}%>째C <%} %>
  </td>
  <td id="listBedTemp-<%= printer.index %>">
    <% if(typeof printer.temps != 'undefined'){ %> <% if(typeof
    printer.temps[0].bed != 'undefined'){ %><i
      id="bedA-<%= printer.index %>"
      class="far fa-circle"
    ></i>
    <%= printer.temps[0].bed.actual %><%}else{ %>
    <i id="bedA-<%= printer.index %>" class="far fa-circle"></i> <%= 0%><%}%>째C
    <% if(typeof printer.temps[0].bed != 'undefined'){ %>
    <i id="bedT-<%= printer.index %>" class="fas fa-bullseye"></i> <%=
    printer.temps[0].bed.target %><%}else{ %>
    <i id="bedT-<%= printer.index %>" class="fas fa-bullseye"></i> <%=
    0%><%}%>째C <%} %>
  </td>
</tr>
<% }) %>
<script src="/js/listViewRunner.js" type="module"></script>
