<% sortedIndex.forEach(sorted => { %> <% if(printers[sorted.actualIndex].stateColour.category
=== "Offline" && clientSettings[0].listView.hideOff){%>
<tr
  class="<%= printers[sorted.actualIndex].stateColour.category %> hidden"
  id="viewPanel-<%= printers[sorted.actualIndex]._id %>"
  data-jplist-item
>
  <%}else if(printers[sorted.actualIndex].state === "Disconnected" &&
  clientSettings[0].listView.hideClosed){%>
</tr>

<tr
  class="<%= printers[sorted.actualIndex].stateColour.category %> hidden"
  id="viewPanel-<%= printers[sorted.actualIndex]._id %>"
  data-jplist-item
>
  <%}else{%>
</tr>

<tr
  class="<%= printers[sorted.actualIndex].stateColour.category%>"
  id="viewPanel-<%= printers[sorted.actualIndex]._id %>"
  data-jplist-item
>
  <%}%>
  <% let name = "";%>
  <% if (typeof printers[sorted.actualIndex].settingsApperance != "undefined") {%>
    <% if (printers[sorted.actualIndex].settingsApperance.name === "" || printers[sorted.actualIndex].settingsApperance.name === null) {%>
      <% name = printers[sorted.actualIndex].printerURL;%>
    <% } else {%>
      <% name = printers[sorted.actualIndex].settingsApperance.name;%>
    <% }%>
  <% } else {%>
    <% name = printers[sorted.actualIndex].printerURL;%>
  <%}%>
  <td id="listSortIndex-<%= printers[sorted.actualIndex]._id %>" class="index">
    <%= printers[sorted.actualIndex].sortIndex %>
  </td>
  <td id="listName-<%= printers[sorted.actualIndex]._id %>" class="<%= printers[sorted.actualIndex].group.replace(/ /g,"_")%>">
    <% if(name.includes("http://")){ %>
      <%  name = name.replace("http://", ""); %>
    <% }else if(name.includes("https://")){ %>
      <%  name = name.replace("https://",""); %>
    <%}  %>
    <%= name %>
  </td>
  <td>
    <% if(printers[sorted.actualIndex].stateColour.category === "Offline"){ %>
      <button title="Control Your Printer"
              id="printerButton-<%= printers[sorted.actualIndex]._id %>"
              type="button"
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="printerManagerModal" disabled
      >
        <i class="fas fa-print"></i>
      </button>
      <a title="Open your Printers Web Interface"
              id="printerWeb-5ea68355110cfe5ca94265ac"
         type="button"
         class="tag btn btn-info btn-sm disabled"
         target="_blank" href="<%= printers[sorted.actualIndex].printerURL %>"
         role="button">
        <i class="fas fa-globe-europe"></i>
      </a>
      <div id="powerBtn-<%= printers[sorted.actualIndex]._id %>" class="btn-group">

      </div>
    <% }else{ %>
        <button title="Control Your Printer"
                id="printerButton-<%= printers[sorted.actualIndex]._id %>"
                type="button"
                class="tag btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#printerManagerModal"
        >
          <i class="fas fa-print"></i>
        </button>
        <a title="Open your Printers Web Interface"
                id="printerWeb-5ea68355110cfe5ca94265ac"
           type="button"
           class="tag btn btn-info btn-sm"
           target="_blank" href="<%= printers[sorted.actualIndex].printerURL %>"
           role="button">
          <i class="fas fa-globe-europe"></i>
        </a>
        <div id="powerBtn-<%= printers[sorted.actualIndex]._id %>" class="btn-group">

        </div>
    <% } %>
  </td>
  <td>
    <button title="Start your current selected file"
      id="listPlay-<%= printers[sorted.actualIndex]._id %>"
      type="button"
      class="tag btn btn-success btn-sm"
      disabled
    >
      <i class="fas fa-play"></i>
    </button>
    <button title="Cancel your current print"
      id="listCancel-<%= printers[sorted.actualIndex]._id %>"
      type="button"
      class="tag btn btn-danger btn-sm"
      disabled
    >
      <i class="fas fa-square"></i>
    </button>
  </td>
  <td>
    <% if(typeof printers[sorted.actualIndex].job != 'undefined' && printers[sorted.actualIndex].job.file.display != null){ %>
       <p id="listFile-<%= printers[sorted.actualIndex]._id %>" title="Loading..." class="mb-1 tag"> <i class="fas fa-file-code"></i>Loading...<%}else{ %> <p id="listFile-<%= printers[sorted.actualIndex]._id %>" class="mb-1">
        <i class="fas fa-file-code"></i> No File Selected <p>
    <% }%>

  </td>
  <td id="listFilament-<%= printers[sorted.actualIndex]._id %>">
  Loading...
  </td>
  <td id="listState-<%= printers[sorted.actualIndex]._id %>" class="<%= printers[sorted.actualIndex].stateColour.category%>">
    <%= printers[sorted.actualIndex].state %>
  </td>
  <td id="listPrintTime-<%= printers[sorted.actualIndex]._id %>" class="time">
    <% if(typeof printers[sorted.actualIndex].progress != 'undefined'){ %> <%=
    helpers.generateTime(printers[sorted.actualIndex].progress.printTimeLeft) %>
    <%}%>
  </td>
  <td id="extraInfoColPercent-<%= printers[sorted.actualIndex]._id %>" class="d-none percent">
    <p class="mb-0" id="percent-<%= printers[sorted.actualIndex]._id %>">Loading...</p>
  </td>
  <td id="extraInfoCol-<%= printers[sorted.actualIndex]._id %>" class="d-none">
    <p class="mb-0" id="eta-<%= printers[sorted.actualIndex]._id %>">Loading...</p>
  </td>
  <td id="listE0Temp-<%= printers[sorted.actualIndex]._id %>">
    <% if(typeof printers[sorted.actualIndex].temps != 'undefined'){ %> <%
    if(typeof printers[sorted.actualIndex].temps[0].tool0 != 'undefined'){ %>
    <i
      id="tool0A-<%= printers[sorted.actualIndex]._id %>"
      class="far fa-circle"
    ></i>
    <%= printers[sorted.actualIndex].temps[0].tool0.actual %><%}else{ %>
    <i
      id="tool0A-<%= printers[sorted.actualIndex]._id %>"
      class="far fa-circle"
    ></i>
    <%= 0%><%}%>째C <% if(typeof printers[sorted.actualIndex].temps[0].tool0 !=
    'undefined'){ %>
    <i
      id="tool0T-<%= printers[sorted.actualIndex]._id %>"
      class="fas fa-bullseye"
    ></i>
    <%= printers[sorted.actualIndex].temps[0].tool0.target%><%}else{ %>
    <i
      id="tool0T-<%= printers[sorted.actualIndex]._id %>"
      class="fas fa-bullseye"
    ></i>
    <%= 0%><%}%>째C <%} %>
  </td>
  <td id="listBedTemp-<%= printers[sorted.actualIndex]._id %>">
    <% if(typeof printers[sorted.actualIndex].temps != 'undefined'){ %> <%
    if(typeof printers[sorted.actualIndex].temps[0].bed != 'undefined'){ %><i
      id="bedA-<%= printers[sorted.actualIndex]._id %>"
      class="far fa-circle"
    ></i>
    <%= printers[sorted.actualIndex].temps[0].bed.actual %><%}else{ %>
    <i
      id="bedA-<%= printers[sorted.actualIndex]._id %>"
      class="far fa-circle"
    ></i>
    <%= 0%><%}%>째C <% if(typeof printers[sorted.actualIndex].temps[0].bed !=
    'undefined'){ %>
    <i
      id="bedT-<%= printers[sorted.actualIndex]._id %>"
      class="fas fa-bullseye"
    ></i>
    <%= printers[sorted.actualIndex].temps[0].bed.target %><%}else{ %>
    <i
      id="bedT-<%= printers[sorted.actualIndex]._id %>"
      class="fas fa-bullseye"
    ></i>
    <%= 0%><%}%>째C <%} %>
  </td>
</tr>
<% }) %>
<script src="/js/listViewRunner.js" type="module"></script>
