<% let base = './partials' %>
<% let card = base + '/octofarm-card.ejs' %>
<% let modal = base + '/octofarm-modal.ejs' %>
<% let table = base + '/octofarm-table.ejs' %>

<% if(typeof userGroup != "undefined" && userGroup === "Administrator"){ %>
<div class="row">
<%- include(card, {
    tile:{
    id:"printerManagementBtns",i:"fa-print",title:"Managment",class:"col-12 col-sm-12 col-md-4 col-lg-3 col-xl-2",
    },
    bodyFile:'./PrinterManager/printerManagementContent.ejs'
    })
%>
<%- include(card, {
    tile:{
    id:"printerManagmentConnectionLog",i:"fa-sticky-note",title:"Connection Log",class:"col-12 col-sm-12 col-md-8 col-lg-9 col-xl-10",
    },
    status: {
        id: "printerManagementConnectionLogStatus",
        icon: "fa-info-circle",
        title: "Log Lines: "
    },
    bodyFile:'./PrinterManager/printerConnectionLog.ejs'
    })
%>
<% } %>
</div>

<div class="row">
    <%- include(table, {
        table:{
            id:"printerNewTable", contentId:"printerNewList", hide:true, headers: [
                { title:"Name", style:"" },
                { title:"Group", style:"min-width:190px;" },
                { title:"Printer URL", style:"" },
                { title:"Camera URL", style:"" },
                { title:"API KEY", style:"" },
                { title:'<button id="saveAllBtn" type="button" class="btn btn-success btn-sm"><i class="fas fa-save"></i></button>', style:"max-width:50px;" },
                { title:'<button id="delAllBtn" type="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>', style:"max-width:50px;" }
            ]
        }
    })
    %>
</div>
<div class="row">
    <%- include(table, {
        table:{
            id:"printerTable", contentId:"printerList", headers: [
                { title:"Sort Index" ,style:"min-width:100px;" },
                { title:"Name" ,style:"", wrap:" text-wrap" },
                { title:"Actions" ,style:"min-width:250px;" },
                { title:"Manage" ,style:"min-width:200px;" },
                { title:"Host State" ,style:"min-width:50px;" },
                { title:"Printer State" ,style:"min-width:50px;" },
                { title:"WebSocket" ,style:"min-width:150px;" },
                { title:"Group" ,style:"min-width:10px;" },
                { title:"Printer" ,style:"min-width:50px;", wrap:" text-wrap"},
                { title:"OctoPrint" ,style:"min-width:100px;", wrap:" text-wrap"},
            ]
        }
    })
    %>
</div>
<%- include(modal, {
    modal:{
    id:"printerSelect", title:"Printer Select: "
    },
    bodyFile:'./PrinterManager/printerSelect.modal.ejs'
    })
%>
<%- include(modal, {
    modal:{
    id:"printerLogs", title:"Printer Logs: "
    },
    bodyFile:'./PrinterManager/printerLogs.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerSettings", title:"Printer Settings: "
    },
    bodyFile:'./PrinterManager/printerSettings.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
    id:"printerCustomGcodeScripts", title:"Custom Gcode Scripts"
    },
    bodyFile:'./PrinterManager/printerCustomGcodeScripts.modal.ejs'
})
%>
<%- include(modal, {
    modal:{
        id:"printerStatistics", title:"Printer Statistics"
    },
    bodyFile:'./PrinterManager/printerStatistics.modal.ejs'
})
%>

<script src="/assets/dist/printer-management.runner.min.js" type="module"></script>
