<% let base = '../..' %>
<% let infoAlert = base + '/octofarm-title-info.ejs' %>
<% let alert = base + '/octofarm-alert.ejs' %>
<% let checkBox = base + '/octofarm-checkbox.ejs' %>

<div class="row">
    <div class="col-lg-12">
        <%- include(alert, {
        alertType: "secondary",
        alertMessage: "Enable and disable different panels of your dashboard"
        })
        %>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <%- include(infoAlert, {
                title: "Farm Activity Panels"
                })
                %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "currentOperations",
                checkboxChecked: currentUser.clientSettings.dashboard.farmActivity.currentOperations,
                checkboxLabel: "Current Operations",
                checkboxOnLabel: "Current Operations will be shown",
                checkboxOffLabel: "Current Operations will be hidden",
                checkboxInfoText: "Displays your currently active and completed prints. You can quickly see a minimal amount of relevant print status and restart prints."
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "cumulativeTimes",
                checkboxChecked: currentUser.clientSettings.dashboard.farmActivity.cumulativeTimes,
                checkboxLabel: "Cumulative Times",
                checkboxOnLabel: "Cumulative Times will be shown",
                checkboxOffLabel: "Cumulative Times will be hidden",
                checkboxInfoText: "Displays a total of estimated, remaining and elapsed times of active prints on the farm"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "averageTimes",
                checkboxChecked: currentUser.clientSettings.dashboard.farmActivity.averageTimes,
                checkboxLabel: "Average Times",
                checkboxOnLabel: "Average Time will be shown",
                checkboxOffLabel: "Average Time will be hidden",
                checkboxInfoText: "Displays an average (mean) of the total estimated, remaining and elapsed times of active prints on the farm"
                })
                %>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <%- include(infoAlert, {
                title: "Printer State Panels"
                })
                %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "printerState",
                checkboxChecked: currentUser.clientSettings.dashboard.printerStates.printerState,
                checkboxLabel: "Printer States",
                checkboxOnLabel: "Printer States will be shown",
                checkboxOffLabel: "Printer States will be hidden",
                checkboxInfoText: "Displays a heat map grid with the individual printer states on the farm"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "printerTemps",
                checkboxChecked: currentUser.clientSettings.dashboard.printerStates.printerTemps,
                checkboxLabel: "Printer Temps",
                checkboxOnLabel: "Average Time will be shown",
                checkboxOffLabel: "Average Time will be hidden",
                checkboxInfoText: "Displays  a heat map grid with the individual temperatures from each printer on the farm"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "printerUtilisation",
                checkboxChecked: currentUser.clientSettings.dashboard.printerStates.printerUtilisation,
                checkboxLabel: "Printer Utilisation",
                checkboxOnLabel: "Average Time will be shown",
                checkboxOffLabel: "Average Time will be hidden",
                checkboxInfoText: "Displays a heat map grid with the individual printer activity vs idle/offline time"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "printerProgress",
                checkboxChecked: currentUser.clientSettings.dashboard.printerStates.printerProgress,
                checkboxLabel: "Average Times",
                checkboxOnLabel: "Average Time will be shown",
                checkboxOffLabel: "Average Time will be hidden",
                checkboxInfoText: "Displays a heat map grid with the individual printers progress"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "currentStatus",
                checkboxChecked: currentUser.clientSettings.dashboard.printerStates.currentStatus,
                checkboxLabel: "Current Status",
                checkboxOnLabel: "Average Time will be shown",
                checkboxOffLabel: "Average Time will be hidden",
                checkboxInfoText: "Displays an overview chart of totals of each different state tracked by OctoFarm"
                })
                %>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <%- include(infoAlert, {
                title: "Farm Utilisation Panels"
                })
                %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "weeklyUtilisation",
                checkboxChecked: currentUser.clientSettings.dashboard.historical.weeklyUtilisation,
                checkboxLabel: "Weelkly Utilisation",
                checkboxOnLabel: "Weelkly Utilisation will be shown",
                checkboxOffLabel: "Weelkly Utilisation will be hidden",
                checkboxInfoText: "Displays a heap map showing the total percentages of printers in a specific state over the past 7 days"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "currentUtilisation",
                checkboxChecked: currentUser.clientSettings.dashboard.farmUtilisation.currentUtilisation,
                checkboxLabel: "Current Utilisation",
                checkboxOnLabel: "Current Utilisation will be shown",
                checkboxOffLabel: "Current Utilisation will be hidden",
                checkboxInfoText: "Displays a donut chart of totla printers grouped into Active/Idle/Offline states"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "farmUtilisation",
                checkboxChecked: currentUser.clientSettings.dashboard.farmUtilisation.farmUtilisation,
                checkboxLabel: "Farm Utilisation",
                checkboxOnLabel: "Farm Utilisation will be shown",
                checkboxOffLabel: "Farm Utilisation will be hidden",
                checkboxInfoText: "Displays an overview of the entire farms utilisation hours inc. Active/Failed/Idle/Offline"
                })
                %>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <%- include(infoAlert, {
                title: "Historical Panels"
                })
                %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "hourlyTotalTemperatures",
                checkboxChecked: currentUser.clientSettings.dashboard.historical.hourlyTotalTemperatures,
                checkboxLabel: "Last Hour Total Temperatures",
                checkboxOnLabel: "Total Temperatures will be shown",
                checkboxOffLabel: "Total Temperatures will be hidden",
                checkboxInfoText: "Displays a graph showing the total tool/bed/chamber temperatures across the farm inc. a total of all temps"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "historyCompletionByDay",
                checkboxChecked: currentUser.clientSettings.dashboard.historical.historyCompletionByDay,
                checkboxLabel: "Print Completion Totals",
                checkboxOnLabel: "Print Completion will be shown",
                checkboxOffLabel: "Print Completion will be hidden",
                checkboxInfoText: "Displays a chart showing daily total print completions"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "filamentUsageByDay",
                checkboxChecked: currentUser.clientSettings.dashboard.historical.filamentUsageByDay,
                checkboxLabel: "Filament Usage By Day",
                checkboxOnLabel: "Filament Usage will be shown",
                checkboxOffLabel: "Filament Usage will be hidden",
                checkboxInfoText: "Displays a chart showing daily total filament usage"
                })
                %>
                <hr>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "filamentUsageOverTime",
                checkboxChecked: currentUser.clientSettings.dashboard.historical.filamentUsageOverTime,
                checkboxLabel: "Filament Usage Over Time",
                checkboxOnLabel: "Filament Usage will be shown",
                checkboxOffLabel: "Filament Usage will be hidden",
                checkboxInfoText: "Displays a graph showing daily total filament usage incremented over time"
                })
                %>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <%- include(infoAlert, {
                title: "Other Panels"
                })
                %>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <%- include(checkBox, {
                checkboxID: "timeAndDate",
                checkboxChecked: currentUser.clientSettings.dashboard.other.timeAndDate,
                checkboxLabel: "Date and Time",
                checkboxOnLabel: "Date and Time will be shown",
                checkboxOffLabel: "Date and Time will be hidden",
                checkboxInfoText: "Shows your local current date and time"
                })
                %>
                <hr>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col">
        <div class="d-grid gap-2 mb-2">
            <button class="btn btn-outline-danger" type="button">Reset to Default</button>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-outline-success" type="button">Save Dashboard Changes</button>
        </div>
    </div>
</div>
